{% extends 'base.html' %}

{% block title %}登録確定{% endblock %}

{% block contents %}
<div class="container">
    <section class="main_cont effect d_02">
        <h2 class="midasi" style="text-align: center;">登録確定</h2>

            {% if confirmation %}
                <br>
                <p style="margin-bottom: 50px;">会員登録を確定するには、以下のボタンを押してください。</p>

                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}

                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary" type="submit">確定</button>
                    </div>
                </form>

            {% else %}

                {% url 'account_email' as email_url %}

                <p>リンクの有効期限が過ぎています。 <a href="{{ email_url }}">再申請</a>.</p>

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
