{% extends 'base.html' %}
{% load static %}

{% block title %}ログイン{% endblock %}

{% block active_login %}active{% endblock %}

{% block contents %}
<div class="container">
    <section class="main_cont effect d_02">
        <h2 class="midasi" style="text-align:center">ログイン</h2>
        <form id="mailform" method="post" action="{% url 'account_login' %}">
            {% csrf_token %}

            {{form.non_field_errors}}
            <table class="table_form">
                <tr>
                    <th>メールアドレス<span class="required">必須</span><p>e-mail address</p></th>
                    <td>{{form.username}}</td>
                </tr>
                <tr>
                    <th>パスワード<span class="required">必須</span><p>pass word</p></th>
                    <td>{{form.password}}</td>
                </tr>
                
                {{field.errors}}

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="ログイン" class="btn btn-info" />
                </tr>
            </table>

            <table>
            <p style="text-align:center">
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">パスワードを忘れましたか？</a><br>
                <a class="button secondaryAction" href="{% url 'account_signup' %}">アカウントをお持ちでない方はこちら</a>
            </p>
            </table>

        </form>
    </section>
</div>
{% endblock %}