{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}パスワードリセット{% endblock %}

{% block contents %}
<div class="container">
    <section class="main_cont effect d_02">
        <h2 class="midasi" style="text-align:center">{% if token_fail %}不正トークン{% else %}パスワードリセット{% endif %}</h2>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>このパスワードリセット用リンクは無効になっています。 <a href="{{ passwd_reset_url }}">パスワードリセット再申請</a></p>
            {% else %}

                {% if form %}

                    <form id="mailform" method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        <table class="table_form">

                            {{ form.non_field_errors }}
                            {% for field in form %}



                            <tr>
                                <th>新しいパスワード<span class="required">必須</span><p>new password</p></th>
                                <td>{% render_field field class="form-control col-9" %}</td>
                            </tr>

                        

                            {{ field.errors }}
                            {% endfor %}

                            <tr>
                                <td colspan="2" align="center">
                                    <input type="submit" value="変更" class="btn btn-info" />
                            </tr>
                        </table>

                    </form>

                {% else %}
                    <p>パスワードは変更されています。</p>
                {% endif %}
                
            {% endif %}
    </section>
</div>

{% endblock %}