{% extends 'base.html' %}
{% load static %}

{% block title %}パスワードリセットメール送信{% endblock %}
<link rel="stylesheet" href="{% static 'mystyle.css' %}" />

{% block contents %}
<div class="container">
    <section class="main_cont effect d_02">
        <h2 class="midasi" style="text-align:center">パスワードリセット</h2>

            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <div class="my-div-style">
                <div class="alert alert-success" role="alert">
                    <li>パスワードリセット用のメールを送信しました。</li>
                </div>
            </div>

        </form>
    </section>
</div>
{% endblock %}