{% extends "base.html" %}

{% load static %}
{% block title %}パスワード変更完了{% endblock %}

{% block contents %}
<div class="container">
    <section class="main_cont effect d_02">
        <h2 class="midasi"><i class="far fa-envelope-open"></i>パスワード変更完了</h2>
        <div style="text-align: center;">
            <div class="my-div-style">
                <h3>パスワードの変更が完了しました。</h3>
            </div>
            <a class="btn btn-info mt-5 ml-2 mb-3" href="{% url 'account_login' %}">ログイン画面へ</a>
        </div>
    </section>
</div>
{% endblock %}