{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}パスワードリセット{% endblock %}

{% block contents %}
<div class="container">
    <section class="main_cont effect d_02">
        <h2 class="midasi" style="text-align:center">パスワードリセット</h2>

        {% if user.is_authenticated %}
        {% include "/snippets/already_logged_in.html" %}
        {% endif %}

        <div class="row">
            <div class="col-sm-10">
                <div style="float: left; margin-bottom: 15px;">
                    <a class="btn btn-info" href="{% url 'account_login' %}">戻る</a>
                </div>
            </div>
        </div>


        <p>パスワードリセット用メールを送信します。</p>

        <form id="mailform" method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            
            <table class="table_form">
                {{ form.non_field_errors }}
                {% for field in form %}

                <tr>
                    <th>メールアドレス<span class="required">必須</span><p>e-mail address</p></th>
                    <td>{% render_field field class="form-control col-9" %}</td>
                </tr>

                {{ field.errors }}
                {% endfor %}
                
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="送信" class="btn btn-info" />
                    </td>
                </tr>
            </table>

        </form>
    </section>
</div>
{% endblock %}