{% extends 'base.html' %}

{% block title %}新規会員登録{% endblock %}

{% block active_signup %}active{% endblock %}

{% block contents %}
<div class="container">
    <section class="main_cont effect d_02">        
        <h2 class="midasi" style="text-align:center">新規会員登録</h2>
        <br>
        <form method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            
            {% for field in form %}
            <div class="form-group row" style="margin: 5px 5px 5px 5px;">
                <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label">
                    <strong>{{ field.label_tag }}</strong>
                </label>
                <div class="col-sm-8">
                    {{ field }}
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %}
            <h6><a style="margin-left: 20px;" href="{% url 'account_agreement' %}">利用規約</a>　※新規登録をした時点で利用規約に同意したものとみなします。</h6>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            
            
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary" name="next" value="confirm" type="submit" style="margin-top: 10px;">登録</button>
            </div>
        </form>
    </section>
</div>
{% endblock %}