{% extends 'base.html' %}
{% load static %}


{% block title %}メール送信{% endblock %}

{% block active_login %}active{% endblock %}


{% block contents %}
<div class="container">
    <section class="main_cont effect d_02">
        <div class="my-div-style">       
                <h2 class="midasi" style="text-align: center;">メール送信</h2>
                <h3 style="margin: 30px 0px 25px 10px;"><i class="far fa-envelope-open"></i> メールアドレスを<span class="midi_span">確認してください</span></h3>
                <p style="margin-left: 20px;">確認のメールを送信しました。<br>メールに記載されたリンクをクリックして、<span class="midi_span">ユーザー登録を完了させてください。</span>
                  <br>数分待っても確認のメールが届かない場合はご連絡ください。</p>
        </div>
    </div>
</div>
{% endblock %}

