{% extends 'signup_base.html' %}

{% block title %}退会完了{% endblock %}

{% block active_signup %}active{% endblock %}

{% block contents %}
<div class="container">
    <section class="main_cont effect d_02">        
        <h2 class="midasi" style="text-align: center;">退会完了</h2>
        <br>
        <br>
        <br>
        <h2 style="margin: auto auto 300px 10px;">ご利用ありがとうございました。</h2>
    </section>
</div>
{% endblock %}