{% extends 'base.html' %}

{% block title %}退会{% endblock %}

{% block active_signup %}active{% endblock %}

{% block contents %}
<div class="container">
    <section class="main_cont effect d_02">        
        <h2 class="midasi" style="text-align: center;">退会</h2>
        <form method="" action="{% url 'account:canselconp' %}">
            {% csrf_token %}
            <h4 style="margin: 80px auto 80px 10px; text-align: center;">本当に退会してもよろしいですか？</h4>

            <div class="d-flex justify-content-center">
                <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-danger" style="margin-right: 5px;">キャンセル</a>
                <button class="btn btn-primary" name="next" value="confirm" type="submit" style="margin-left: 5px;">退会</button>
            </div>
        </form>
    </section>

</div>
{% endblock %}