{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="utf-8">
<!--
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
原則として、許可なしの再配布は禁止させていただきます。
また、無料でお使いになる場合は、【ＰＲ枠】のリンクは全て削除禁止です。
（※加工後の削除も禁止させていただいておりますのでご了承ください。）
PR枠の削除（有料プラン）に関するお問い合わせや、その他ご不明な点は、
http://www.s-hoshino.com/info.html、または、
https://www.megapx.com/contact.htmlのフォームよりお問い合わせください。
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
-->
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

<title>{% block title %}{% endblock %} | BUTUBUTU SITE</title>

<meta name="Keywords" content="レスポンシブ,HTMLテンプレート,ホームページ制作" />
<meta name="Description" content="最新レスポンシブHTMLテンプレート no.001。このサイトの説明文を入れてください。" />
<link rel="stylesheet" href="{% static 'style.css' %}" />
<link rel="stylesheet" href="{% static 'mystyle.css' %}" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
<link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% block head %}{% endblock %}
</head>

<body class="toppage">

{% block header %}{% endblock %}

{% if messages %}
<div class="container">
    <div class="row">
          <div class="my-div-style">
            <ul class="messages" style="list-style:none;">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"
                    {% endif %}>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
      </div>
    </div>
</div>
{% endif %}

<div class="menu_btn">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
</div>

{% block contents %}{% endblock %}

<!-- フッター -->
<footer style="width: 100%;">

<img src="{% static 'img/BARTOWN_logo.png' %}" alt="メガピクス　ロゴ" class="foot_logo">
<address>copyright (c) MegaPx Allrights reserved.</address>

</footer>

<!--　削除禁止【ＰＲ枠】ここから　--> 
<!--prno.180216ver2.01set018--> 
<div class="box_pr"><ul>
<li>Design by <a href="https://www.megapx.com/" title="ホームページ制作・ロゴデザイン：メガピクス" target="_blank">Megapx</a></li>
<li>Template by <a href="http://www.s-hoshino.com/" title="HTMLテンプレート配布元：フリー素材屋Hoshino" target="_blank">s-hoshino.com</a></li>
</ul></div>
<!--　/削除禁止【ＰＲ枠】ここまで　--> 

<!--トップへ戻る矢印-->
<div id="to_top">
    <a href="#" style="background: rgba(0,0,0,0);">
          <i class="fas fa-arrow-alt-circle-up fa-3x"></i>
    </a>
</div>
<!---->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'jquery.inview.min.js' %}"></script>
<script src="{% static 'script.js' %}"></script>
<script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% block extrajs %}{% endblock %}


</body>
</html>