{% extends "signup_base.html" %}

{% block title %}会員情報登録{% endblock %}

{% block active_signup %}active{% endblock %}

{% block contents %}
    <style>
        .sign_main {
            margin: auto 250px auto 250px;
        }
        @media screen and (max-width:1000px) {
            .sign_main {
                margin: auto 5px auto 5px;
            }
        }
    </style>
    <div class="container">
        <section class="main_cont effect d_02">
            <h2 class="midasi" style="text-align: center;">会員情報登録</h2>
            <p>※初回ログイン時のみ入力</p>
            <form action="{% url 'account:user_data_confirm' %}" method="POST" class="h-adr">
                {% csrf_token %}
                <span class="p-country-name" style="display:none;">Japan</span>

                {{ form.non_field_errors }}
                    <div class="form-group">
                        <table class="table">    
                            <tr>
                                <div class="form-group row">
                                    <td class="col-4"><label><strong>姓： <span class="required">必須</span></strong></label></td>
                                    <td class="col-8"><a style="color: red;">{{ form.last_name.errors }}</a>{{ form.last_name }}</td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group row">
                                    <td class="col-4"><label><strong>名： <span class="required">必須</span></strong></td>
                                    <td class="col-8"><a style="color: red;">{{ form.first_name.errors }}</a>{{ form.first_name }}</td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group row">
                                    <td class="col-4"><label><strong>生年月日： <span class="required">必須</span></strong></label></td>
                                    <td class="col-8">
                                    <a style="color: red;">{{ form.birthday.errors }}</a>
                                    <input type="date" name="birthday" value="{{form.birthday.value}}" class="form-control col-10" id="id_birthday">
                                    <p>右側のカレンダーアイコンクリックで楽々登録。</p>    
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group row">
                                    <td class="col-4"><label><strong>電話番号： <span class="required">必須</span></strong></label></td>
                                    <td class="col-8"><a style="color: red;">{{ form.telephone.errors }}</a>{{ form.telephone }}</td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group row">
                                    <td class="col-4"><label><strong>郵便番号： <span class="required">必須</span></strong></label></td>
                                    <td class="col-8"><a style="color: red;">{{ form.zip_code.errors }}</a>{{ form.zip_code }}</td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group row">
                                    <td class="col-4"><label><strong>都道府県： <span class="required">必須</span></strong></label></td>
                                    <td class="col-8"><a style="color: red;">{{ form.prefecture.errors }}</a>{{ form.prefecture }}</td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group row">
                                    <td class="col-4"><label><strong>住所(市区町村・番地)： <span class="required">必須</span></strong></label></td>
                                    <td class="col-8"><a style="color: red;">{{ form.address.errors }}</a>{{ form.address }}</td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group row">
                                    <td class="col-4"><label><strong>住所2(建物名等)：</strong></label></td>
                                    <td class="col-8"><a style="color: red;">{{ form.address2.errors }}</a>{{ form.address2 }}</td>
                                </div>
                            </tr>
                        </table>
                    </div>
                    
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">確認</button>
                </div>
                <br>
                <br>
            </form>
        </section>
    </div>
{% endblock %}