{% extends "signup_base.html" %}
{% load field_extras %}

{% block title %}会員情報確認{% endblock %}

{% block active_signup %}active{% endblock %}

{% block contents %}
<style>
    .sign_main {
        margin: 0px 250px 0px 250px;
    }
    @media screen and (max-width:1000px) {
        .sign_main {
            margin: 0px;
        }
    }
</style>
<div class="container">
    <section class="main_cont effect d_02">
        <h2 class="midasi" style="text-align: center;">会員情報確認</h2>        
        {% csrf_token %} 
        <table class="table">    
            <tr>
                <div class="form-group row">
                    <td><label class="col col-form-label"><strong>姓：</strong></label></td>
                    <td><div class="col">{{ form.last_name.value }}</div></td>
                </div>
            </tr>
            <tr>
                <div class="form-group row">
                    <td><label class="col col-form-label"><strong>名：</strong></td>
                    <td><div class="col">{{ form.first_name.value }}</div></td>
                </div>
            </tr>
            <tr>
                <div class="form-group row">
                    <td><label class="col col-form-label"><strong>生年月日：</strong></label></td>
                    <td><div class="col">{{ form.birthday.value }}</div></td>
                </div>
            </tr>
            <tr>
                <div class="form-group row">
                    <td><label class="col col-form-label"><strong>電話番号：</strong></label></td>
                    <td><div class="col">{{ form.telephone.value }}</div></td>
                </div>
            </tr>
            <tr>
                <div class="form-group row">
                    <td><label class="col col-form-label"><strong>郵便番号：</strong></label></td>
                    <td><div class="col">{{ form.zip_code.value }}</div></td>
                </div>
            </tr>
            <tr>
                <div class="form-group row">
                    <td><label class="col col-form-label"><strong>都道府県：</strong></label></td>
                    <td><div class="col">{% data_verbose form.prefecture.value %}</div></td>
                </div>
            </tr>
            <tr>
                <div class="form-group row">
                    <td><label class="col col-form-label"><strong>住所(市区町村・番地)：</strong></label></td>
                    <td><div class="col">{{ form.address.value }}</div></td>
                </div>
            </tr>
            <tr>
                <div class="form-group row">
                    <td><label class="col col-form-label"><strong>住所2(建物名等)：</strong></label></td>
                    <td><div class="col">{{ form.address2.value }}</div></td>
                </div>
            </tr>
        </table>

        <div class="d-flex justify-content-center">
            <table>
                <tr>
                    <form action="{% url 'account:user_data_input' %}" method="POST">
                        <td><button type="submit" class="btn btn-danger" style="margin: 10px 5px auto auto;">修正</button></td>
                        {% for field in form %}{{ field.as_hidden }}{% endfor %}
                        {% csrf_token %}
                    </form>
                    <hr>
                    <form action="{% url 'account:user_data_create' %}" method="POST">
                        <td><button type="submit" class="btn btn-primary" style="margin: 10px auto auto 5px;">確定</button></td>
                        {% for field in form %}{{ field.as_hidden }}{% endfor %}
                        {% csrf_token %}
                    </form>
                </tr>
            </table>
        </div>
        <br>
        <br>
    </section>
</div>
{% endblock %}