.btn-social-circle {
  display: inline-block;
  text-decoration: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 23px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  transition: .3s;
  margin-top: 20px;
}
.btn-social-circle i {
  line-height: 50px;
}
.btn-social-circle:hover　{
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.28);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.btn-social-circle--twitter {
  color: #22b8ff;
  background-image: linear-gradient(#aeecff 0%, #57c8ff 100%);
}
.btn-social-circle--facebook {
  color: #6183f3;
  background-image: linear-gradient(#b5d3ff 0%, #6b8bff 100%);
}
.btn-social-circle--hatebu {
  color: #49a8fb;
  background-image: linear-gradient(#d2efff 0%, #76befb 100%);
}
.btn-social-circle--pocket {
  color: #ff6d82;
  background-image: linear-gradient(#ffcfd7 0%, #ff7285 100%);
}
.btn-social-circle--feedly {
  color: #60d245;
  background-image: linear-gradient(#b9ffca 0%, #80e067 100%);
}


/*  < my_offer.html >
取引一覧ボタン-----------------------------*/
.btn-animation-02 {
display: inline-block;
width: 200px;
text-align: center;
background-color: hsl(194, 47%, 70%);
border: 1.5px solid hsl(214, 74%, 72%);
font-size: 16px;
color: hsl(209, 55%, 62%);
text-decoration: none;
font-weight: bold;
padding: 8px 15px;
border-radius: 4px;
position: relative;

}

.btn-animation-02 span {
position: relative;
z-index: 1;
}

.btn-animation-02::before,
.btn-animation-02::after {
content: "";
display: block;
background-color: #FFF;
width: 50%;
height: 100%;
position: absolute;
top: 0;
transition: .2s;
}
.btn-animation-02::before {
left: 0;
}
.btn-animation-02::after {
right: 0;
}

.btn-animation-02:hover:before,
.btn-animation-02:hover:after {
width: 0;
background-color: #FFF;
}

.btn-animation-02:hover {
color: #FFF;
}

/*
-----------------------------*/

/*
goods_list
都道府県別商品ボタン
-----------------------------*/
/* ここから下がボタンのCSS　*/


.btn-animation-03 {
display: inline-block;
width: 200px;
text-align: center;
background-color: hsl(0, 46%, 70%);
border: 1.5px solid hsl(0, 73%, 72%);
font-size: 16px;
color: hsl(0, 55%, 62%);
text-decoration: none;
font-weight: bold;
padding: 8px 15px;
border-radius: 4px;
position: relative;

}

.btn-animation-03 span {
position: relative;
z-index: 1;
}

.btn-animation-03::before,
.btn-animation-03::after {
  content: "";
  display: block;
  background-color: #FFF;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}
.btn-animation-03::before {
left: 0;
}
.btn-animation-03::after {
right: 0;
}

.btn-animation-03:hover:before,
.btn-animation-03:hover:after {
width: 0;
background-color: #FFF;
}

.btn-animation-03:hover {
color: #FFF;
}

/*
-----------------------------*/

/*  < my_offer.html >
チャット一覧ボタン-----------------------------*/
.btn-animation-04 {
display: inline-block;
width: 200px;
text-align: center;
background-color: hsl(59, 46%, 70%);
border: 1.5px solid hsl(59, 73%, 72%);
font-size: 16px;
color: hsl(59, 55%, 62%);
text-decoration: none;
font-weight: bold;
padding: 8px 15px;
border-radius: 4px;
position: relative;

}

.btn-animation-04 span {
position: relative;
z-index: 1;
}

.btn-animation-04::before,
.btn-animation-04::after {
  content: "";
  display: block;
  background-color: #FFF;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}
.btn-animation-04::before {
left: 0;
}
.btn-animation-04::after {
right: 0;
}

.btn-animation-04:hover:before,
.btn-animation-04:hover:after {
width: 0;
background-color: #FFF;
}

.btn-animation-04:hover {
color: #FFF;
}

/*
-----------------------------*/

/*
goods_list
交換申請一覧ボタン
-----------------------------*/
/* ここから下がボタンのCSS　*/
.btn-animation-05 {
display: inline-block;
width: 200px;
text-align: center;
background-color: hsl(125, 46%, 70%);
border: 1.5px solid hsl(125, 73%, 72%);
font-size: 16px;
color: hsl(125, 55%, 62%);
text-decoration: none;
font-weight: bold;
padding: 8px 15px;
border-radius: 4px;
position: relative;

}

.btn-animation-05 span {
position: relative;
z-index: 1;
}

.btn-animation-05::before,
.btn-animation-05::after {
content: "";
display: block;
background-color: #FFF;
width: 50%;
height: 100%;
position: absolute;
top: 0;
transition: .2s;
}
.btn-animation-05::before {
left: 0;
}
.btn-animation-05::after {
right: 0;
}

.btn-animation-05:hover:before,
.btn-animation-05:hover:after {
width: 0;
background-color: #FFF;
}

.btn-animation-05:hover {
color: #FFF;
}

/*
-----------------------------*/

/*  < my_offer.html >
取引一覧ボタン-----------------------------*/
.btn-animation-06 {
display: inline-block;
width: 200px;
text-align: center;
background-color: hsl(194, 47%, 70%);
border: 1.5px solid hsl(214, 74%, 72%);
font-size: 16px;
color: hsl(209, 55%, 62%);
text-decoration: none;
font-weight: bold;
padding: 8px 15px;
border-radius: 4px;
position: relative;

}

.btn-animation-06 span {
position: relative;
z-index: 1;
}

.btn-animation-06::before,
.btn-animation-06::after {
content: "";
display: block;
background-color: #FFF;
width: 50%;
height: 100%;
position: absolute;
top: 0;
transition: .2s;
}
.btn-animation-06::before {
left: 0;
}
.btn-animation-06::after {
right: 0;
}

.btn-animation-06:hover:before,
.btn-animation-06:hover:after {
width: 0;
background-color: #FFF;
}

.btn-animation-06:hover {
color: #FFF;
}

/*
-----------------------------*/

/*
goods_list
データを読み込むボタン
-----------------------------*/
/* ここから下がボタンのCSS　*/
.btn-animation-07 {
display: inline-block;
width: 200px;
text-align: center;
background-color: hsl(283, 46%, 70%);
border: 1.5px solid hsl(283, 73%, 72%);
font-size: 16px;
color: hsl(283, 55%, 62%);
text-decoration: none;
font-weight: bold;
padding: 8px 15px;
border-radius: 4px;
position: relative;

}

.btn-animation-07 span {
position: relative;
z-index: 1;
}

.btn-animation-07::before,
.btn-animation-07::after {
content: "";
display: block;
background-color: #FFF;
width: 50%;
height: 100%;
position: absolute;
top: 0;
transition: .2s;
}
.btn-animation-07::before {
left: 0;
}
.btn-animation-07::after {
right: 0;
}

.btn-animation-07:hover:before,
.btn-animation-07:hover:after {
width: 0;
background-color: #FFF;
}

.btn-animation-07:hover {
color: #FFF;
}

/*
-----------------------------*/

/* ここから下がボタンのCSS　*/


.btn-animation-08 {
display: inline-block;
width: 200px;
text-align: center;
background-color: hsl(19, 45%, 65%);
border: 1.5px solid hsl(17, 68%, 55%);
font-size: 16px;
color: hsl(19, 61%, 56%);
text-decoration: none;
font-weight: bold;
padding: 8px 15px;
border-radius: 4px;
position: relative;

}

.btn-animation-08 span {
position: relative;
z-index: 1;
}

.btn-animation-08::before,
.btn-animation-08::after {
  content: "";
  display: block;
  background-color: #FFF;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}
.btn-animation-08::before {
left: 0;
}
.btn-animation-08::after {
right: 0;
}

.btn-animation-08:hover:before,
.btn-animation-08:hover:after {
width: 0;
background-color: #FFF;
}

.btn-animation-08:hover {
color: #FFF;
}

/*
-----------------------------*/

.sample_h_9{
  font-size: 1.5em;/* フォントサイズ */
  font-weight: bold;/* フォント太さ */
  padding: 1em;
  margin-bottom: 2em;
  border: 4px double #60609f;/* 線 */
  border-radius: 15px;/* 角丸 */
  text-align: center;/* テキストの位置 */
  color: #60609f;/* フォント色 */
  }

  /*
-----------------------------*/

  .sample_h_9{
  font-size: 1.5em;/* フォントサイズ */
  font-weight: bold;/* フォント太さ */
  padding: 1em;
  margin-bottom: 2em;
  border: 4px double #60609f;/* 線 */
  border-radius: 15px;/* 角丸 */
  text-align: center;/* テキストの位置 */
  color: #60609f;/* フォント色 */
}

/*
-----------------------------*/

.midasi {
  position: relative;/*相対位置*/
  padding: 0.5em 0.5em 0.5em 1.5em;/*アイコン分のスペース*/
  line-height: 1.4;/*行高*/
  color: #2d3eae;/*文字色*/
  border-top: dotted 1px gray;
  border-bottom: dotted 1px gray;
  background: #f4fffa;
}

.midasi:before {
  font-family: "Font Awesome 5 Free";/*忘れずに*/
  font-weight: 900;
  position: absolute;/*絶対位置*/
  font-size: 1em;/*サイズ*/
  left: 0.25em;/*アイコンの位置*/
  top: 0.5em;/*アイコンの位置*/
  text-align: center;
}

/*
-----------------------------*/
.ribbon4 {
  display: inline-block;
  position: relative;
  height: 60px;/*高さ*/
  line-height: 60px;/*高さ*/
  text-align: center;
  padding: 0 40px 0 18px;/*文字の左右の余白*/
  font-size: 18px;/*文字サイズ*/
  background: #ffc668;/*背景色*/
  color: #FFF;/*文字色*/
  box-sizing: border-box;
}

.ribbon4:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.ribbon4:after {
  top: 0;
  right: 0;
  border-width: 30px 15px 30px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}