/*body {
	background-color: #d6e6f1;
	margin-top: 0px;
}*/

/* タブ */
.area {
	width: auto;
	margin-left: 0px;/* 位置 */
	flex-wrap: wrap;
	display: flex;
}
/*---------------------------------*/
.tab_class1 {
	left: 27%;
	width: calc(40%/3);
	padding: 0px;
	line-height: 20px;
	margin-left: 0px;/* 間隔 */
	order: -1;
	display: inline-block;
	text-align: center;
	background-color: hsl(0, 46%, 70%);
	border: 2px solid hsl(0, 73%, 72%);
	font-size: 20px;
	color: hsl(0, 55%, 62%);
	text-decoration: none;
	font-weight: bold;
	padding: 8px 15px;
	border-radius: 4px;
	position: relative;
}
.tab_class1 span {
	position: relative;
	z-index: 1;
}
.tab_class1::before,
.tab_class1::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
	background-color: white;
    position: absolute;
    top: 0;
    transition: .2s;
}
.tab_class1::before{/* エフェクト */
	left: 0;
}
.tab_class1::after {/* エフェクト */
	right: 0;
}
.tab_class1:hover:before,
.tab_class1:hover:after {
	width: 0;
	background-color: #FFF;/* エフェクト */
}
.tab_class1:hover {
	color: #FFF;/* エフェクト後 文字色 */
}
/*############*/
.tab_class2 {
	left: 27%;
	width: calc(40%/3);
	padding: 0px;
	line-height: 20px;
	margin-left: 8px;/* 間隔 */
	order: -1;
	display: inline-block;
	text-align: center;
	background-color: hsl(59, 90%, 59%);
	border: 2px solid hsl(59, 83%, 68%);
	font-size: 20px;
	color: hsl(59, 90%, 59%);
	text-decoration: none;
	font-weight: bold;
	padding: 8px 15px;
	border-radius: 4px;
	position: relative;
}
.tab_class2 span {
	position: relative;
	z-index: 1;
}
.tab_class2::before,
.tab_class2::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
	background-color: white;
    position: absolute;
    top: 0;
    transition: .2s;
}
.tab_class2::before{/* エフェクト */
	left: 0;
}
.tab_class2::after {/* エフェクト */
	right: 0;
}
.tab_class2:hover:before,
.tab_class2:hover:after {
	width: 0;
	background-color: #FFF;/* エフェクト */
}
.tab_class2:hover {
	color: #FFF;/* エフェクト後 文字色 */
}
/*#################*/
.tab_class3 {
	left: 27%;
	width: calc(40%/3);
	padding: 0px;
	line-height: 20px;
	margin-left: 8px;/* 間隔 */
	order: -1;
	display: inline-block;
	text-align: center;
	background-color: hsl(125, 46%, 70%);
	border: 2px solid hsl(125, 73%, 72%);
	font-size: 20px;
	color: hsl(125, 55%, 62%);
	text-decoration: none;
	font-weight: bold;
	padding: 8px 15px;
	border-radius: 4px;
	position: relative;
}
.tab_class3 span {
	position: relative;
	z-index: 1;
}
.tab_class3::before,
.tab_class3::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
	background-color: white;
    position: absolute;
    top: 0;
    transition: .2s;
}
.tab_class3::before{/* エフェクト */
	left: 0;
}
.tab_class3::after {/* エフェクト */
	right: 0;
}
.tab_class3:hover:before,
.tab_class3:hover:after {
	width: 0;
	background-color: #FFF;/* エフェクト */
}
.tab_class3:hover {
	color: #FFF;/* エフェクト後 文字色 */
}
/*---------*/
input[name="tab_name"] {
	display: none;
}
input:checked + .tab_class1 {/* 選択後 tab1 */
	color: hsl(0, 55%, 62%);
	background-color: transparent;
	border: 3px dashed;
}
input:checked + .tab_class2 {/* 選択後 tab2 */
	color: hsl(59, 90%, 59%);
	background-color: transparent;
	border: 3px dashed;
}
input:checked + .tab_class3 {/* 選択後 tab3 */
	color: hsl(125, 55%, 62%);

	background-color: transparent;
	border: 3px dashed;
}
.content_class {
	text-align: center;
	display: none;
	width: 100%;
}
input:checked + .tab_class1  + .content_class,
input:checked + .tab_class2  + .content_class,
input:checked + .tab_class3  + .content_class {
	display: block;
}
