
/* #Primary style
================================================== */
.section {
    position: relative;
    width: 100%;
    display: block;
}
.full-height {
    height: 100%;
}
.over-hide {
    overflow: hidden;
}
.absolute-center {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    z-index: 20;
}
h1{
    font-size: 80px;
    line-height: 1.2;
    font-weight: 700;
    color: #212112;
    text-align: center;
}
p{
    text-align: center;
    margin: 0;
    padding-top: 10px;
    opacity: 1;
    transform: translate(0);
        transition: all 300ms linear;
        transition-delay: 1700ms;
}





/* 簡易リセットCSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.h2 {
    color: #fff;
}

/* 背景 */
.bg {
  background-color: rgb(255, 255, 255); /* 画像がない場合のフォールバック */
  background-image: url("img/slide/top003.png"); /* 画像のパスを指定 */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 200px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ガラス本体 */
.glass {
  width: 100%;
  max-width: 600px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.1); /* 背景色 */
  border: 1px solid rgba(255, 255, 255, 0.4); /* ボーダー */
  border-right-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(20px); /* ぼかしエフェクト */
  backdrop-filter: blur(20px);
  box-shadow: 0 5px 20px rgba(255, 152, 79, 0.5); /* 薄い影 */
}

/* ガラス内の要素 */
.glass h1 {
  text-align: center;
  color: #fff;
  font-family: "MS ゴシック";
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 0.06em;
}

.glass p {
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
}


/*スリーステップ*/

body{
  background:#f4f4f4;
}

img{
  max-width:100%;
  height:auto;
}

h1{
  text-align: center;
  font-size:1.5rem;
  padding: 30px 0;
}

h2{
  font-size:1.3rem;
  margin:0 0 20px 0;
}

/*--------------*/


#wrapper{
    display: block;
    width:100%;
    text-align:center;
    margin:70px auto;
  }
  
  @keyframes slideInup {
    0% {
      opacity: 0;
      transform: translate(0,150px);
    }
    100% {
      opacity: 1;
      transform: translate(0,0);
    }
  }
  
  .slideInup {
    animation-name: slideInup;
    animation-duration: 2s;
    animation-timing-function: ease;
  }

