/* ユーザーアイコン */
.mypage_icon {
  border-radius: 50%; /*丸の設定*/
	border: 1px solid #333300; /*アイコンの枠のカラーと太さはここで変更*/
	margin: auto;
	width: 130px;
	height: 130px;
}

.my_name {
  font-size: 32px;
	color: #333536;
	font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "Sawarabi Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	margin: 10px 0 20px 0;
	position: relative;
	font-weight: bold; 
}

.my_eva {
  font-size: 20px;
	color: #000000;
	margin: 10px 0 10px 0;
}

.icon_name_eva {
  margin: 30px auto auto 150px;
}

/* solid008 */
.button_solid008 a{
    background: #eee;
    border-radius: 3px;
    position: relative;
    display: block;
    text-align: left;
    align-items: center;
    margin: 30px 0 30px 0;
    width: 340px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: bold;
    font-size: 17px;
}
.button_solid008 a::before {
  content: '';
  position: absolute;
  bottom: -7px;
  right: -7px;
  width: 100%;
  height: 2px;
  background-color: #bbbbbb;
  transition: 0.2s ease 0s;
}

.button_solid008 a::after {
  content: '';
  position: absolute;
  top: 7px;
  right: -7px;
  width: 2px;
  height: 100%;
  background-color: #bbbbbb;
  transition: 0.2s ease 0.2s;
}

.button_solid008 a:hover::before {
  width: 0%;
}

.button_solid008 a:hover::after {
  height: 0%;
}

.button_solid008 a:hover {
  text-decoration: none;
  background-color: #ccc;
}

/* solid009 */
.button_solid009 a{
  background: #eee;
  border-radius: 3px;
  position: relative;
  display: block;
  text-align: left;
  align-items: center;
  margin: 10px 0 20px 0;
  width: 210px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: bold;
  font-size: 17px;
}
.button_solid009 a::before {
content: '';
position: absolute;
bottom: -7px;
right: -7px;
width: 100%;
height: 2px;
background-color: #bbbbbb;
transition: 0.2s ease 0s;
}

.button_solid009 a::after {
content: '';
position: absolute;
top: 7px;
right: -7px;
width: 2px;
height: 100%;
background-color: #bbbbbb;
transition: 0.2s ease 0.2s;
}

.button_solid009 a:hover::before {
width: 0%;
}

.button_solid009 a:hover::after {
height: 0%;
}

.button_solid009 a:hover {
text-decoration: none;
background-color: #ccc;
}

@media screen and (max-width:769px) {
	.container {
		padding-top: 10px;
	}
	.content {
		padding-top: 10px;
	}
  .button_solid008 a{
    width: auto;
  }
  .button_solid009 a{
    width: auto;
  }
  .mypage_icon {
    border-radius: 50%; /*丸の設定*/
    border: 1px solid #333300; /*アイコンの枠のカラーと太さはここで変更*/
    margin: auto;
    width: 75px;
    height: 75px;
  }

  .my_name {
    font-size: 25px;
    color: #333536;
    font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "Sawarabi Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    margin: auto;
    position: relative;
    font-weight: bold; 
  }
}