/*
index.html
-------------------------------------*/
.index_title {
	padding: 0.5em 1em;
    margin: 2em 0;
    background: #f0f7ff;
    border: dashed 2px #5b8bd0;/*点線*/
	margin: 2em;
	margin: 5em;
	background: #f0f7ff;
	border: dashed 2px #5b8bd0;
	text-align: center;
	border-radius: 30px;
}
.index_title img {
	border-radius: 10px;
	width:150px;
	height:150px;
}
.cate_title {
	text-align: center;
}

  
/* お問い合わせボタン  */
.btn-animation-10 {
display: inline-block;
width: 80%;
text-align: center;
background-color: #066C93;
border: 1.5px solid hsl(214, 74%, 72%);
font-size: 20px;
color: #066C93;
text-decoration: none;
font-weight: bold;
padding: 8px 15px;
border-radius: 4px;
position: relative;

}

.btn-animation-10 span {
position: relative;
z-index: 1;
}

.btn-animation-10::before,
.btn-animation-10::after {
content: "";
display: block;
background-color: #FFF;
width: 50%;
height: 100%;
position: absolute;
top: 0;
transition: .5s;
}
.btn-animation-10::before {
left: 0;
}
.btn-animation-10::after {
right: 0;
}

.btn-animation-10:hover:before,
.btn-animation-10:hover:after {
width: 0;
background-color: #0066FF;
}

.btn-animation-10:hover {
color: #FFF;
}


/*  q_a.html  */
/* out  */
.cp_outtab {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 10px 0 10px 0;
	color: #ffffff;
}
.cp_outtab input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.cp_outtab label {
	font-weight: bold;
	line-height: 3;
	position: relative;
	display: block;
	padding: 0 0 0 20px;
	cursor: pointer;
	margin: auto;
    color: #044760;
	letter-spacing: 1px;
	background-color: #F6F6F6;
    border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	clear: both;
}
.cp_outtab .cp_outtab-content {
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 0.35s;
	transition: max-height 0.35s;
	color: #333333;
}
.cp_outtab .cp_outtab-content p {
	margin: 1em;
}
/* :checked */
.cp_outtab input:checked ~ .cp_outtab-content {
	max-height: 100vh;
	-webkit-transition: max-height 0.35s;
	transition: max-height 0.35s;
}
/* Icon  cp_outtab */
.cp_outtab label::after {
	line-height: 3;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 3em;
	height: 3em;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	text-align: center;
}
.cp_outtab input[type=radio] + label::after {
	content: '▼';
}
.cp_outtab input[type=radio]:checked + label::after {
	transform: rotate(180deg);
}


/*  in  */
.cp_qa *, .cp_qa *:after, .cp_qa *:before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_qa .cp_actab {
	position: relative;
	overflow: hidden;
	margin: 7px;
	color: #000000;
}
.cp_qa .cp_actab input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.cp_qa .cp_actab label:hover {
	transition: all 0.3s;
	color: #00838f;
}
.cp_qa .cp_actab label {
    font-size: 17px;
	font-weight: bold;
	line-height: 1.5;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	padding: 0 32px 0 65px;
	color: #000000;
	background: #e6f0f5;
    border-radius: 7px; /* 角を丸く */
}
.cp_qa .cp_actab label::before {
	font-family: serif;
	font-size: 1.2em;
	position: absolute;
	margin: -2px 0 0 -32px;
	padding: 0;
	content: 'Q';
}

.cp_qa .cp_actab .cp_actab-content {
	position: relative;
	overflow: hidden;
	max-height: 0;
	padding: 0 1em 0 3.1em;
	-webkit-transition: max-height 0.35s;
	transition: max-height 0.35s;
	color: #000000;
}
.cp_qa .cp_actab .cp_actab-content::before {
	font-family: serif;
	font-size: 1.3em;
	position: absolute;
	margin: 7px 0 0 -0.7em;
	padding: 0;
	content: 'A';
}

.cp_qa .cp_actab .cp_actab-content p {
	margin: 0.5em 1em 0.5em 1em;
}
/* :checked */
.cp_qa .cp_actab input:checked ~ .cp_actab-content {
	max-height: 40em;
}
/* Icon */
.cp_qa .cp_actab label::after {
	line-height: 1.5;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 3em;
	height: 3em;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	text-align: center;
}

.cp_qa .cp_actab input[type=checkbox] + label::after {
	content: '＋';
}
.cp_qa .cp_actab input[type=checkbox]:checked + label::after {
    content: '－';
	transform: rotateX(360deg);
}
/*  ------------------------------------- */

.three_step {                           /*　3ステップ画像　*/
	text-align: center;
	margin-top: 40px;
	margin-bottom: 60px;
	background-size: 120px 50px;
	border-radius: 30px;
}
.three_step img {
	width: 400px;
	height: 60%;
	margin-bottom: 2rem;
	object-fit: cover;
    border-radius: 5%;
}

/*
base.html
-----------------------------*/

#g_navi {
	position: fixed;
	width: 100%;
	top: 0;
}
/*
.container {
	padding-top: 130px;
}

.content {
	padding-top: 130px;
}
*/
.top_img .top_form form .form_btn {
	padding-top: 0px;
}
.menu_btn {
	background-color: #587f8f;
	height: 40px;
	width: 50px;
}

@media screen and (max-width:769px) {
	.container {
		padding-top: 10px;
	}
	.content {
		padding-top: 10px;
	}
	.top_img .top_form form .form_btn {
		padding-top: 0px;
	}
	.top_img .top_form form dl dd select,
	.top_img .top_form form dl dd input {
		line-height: 10px;	
	}	
	.top_img .top_form form .form_btn input {
		line-height: 10px;
	}
	

}

.img_base {
	height: auto;
	width: auto;
	background: radial-gradient(#FFFFFF, #CCFFCC);
}


@media screen and (min-width:769px) {
	  .container {
			padding-top: 90px;
	  }
	  .content {
			padding-top: 90px;
	  }
	  .top_img .top_form form .form_btn {
		padding-top: 0px;
	}
	
}
@media screen and (min-width:1100px) {
	  .container {
			padding-top: 100px;
	  }
	  .content {
			padding-top: 100px;
	  }
	  .top_img .top_form form .form_btn {
		padding-top: 0px;
	}
	
}

.search-form {
    padding: 5px 10px;
    border: 1px solid #333; border-radius: 30px;
    width: 300px; max-width: 80%;

	position: relative; /* 基準値とする */
	top: -65px;
	left: 8.5px;
	
    display: flex; 

    background: #FFF;
    font-size: 15px;
}
.search-form2 {
    padding: 5px 10px;
    border: 1px solid #333; border-radius: 30px;
    width: 300px; max-width: 100%;

	position: relative; /* 基準値とする */
	top: 10px;
	margin-top: 50px;
	margin-bottom: 20px;
	left: 10px;
	
    display: flex; 

    background: #FFF;
    font-size: 15px;
}
.search-input {
    border: none;  background: none;  outline: none;
    width: 220px;

    color: #333;
}
.search-button {
    border: none;  background: none;  outline: none;
    color: #999;  font-weight: 900;  font-family: "Font Awesome 5 Free";

    transition: color 0.3s ease 0s;
}
.search-button:hover {
    color: #333;
}


index.html
----------------------------*/

.clearfix .btn {
	margin-bottom: 30px;
}
.top_hd {
	margin-top: 80px;
}
.open {
	cursor:pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
	background-color: #587f8f;
	padding: 10px 30px 10px 30px;
	border-radius: 20px;
	margin-top: 10px;
}
#pop-up_1, #pop-up_2, #pop-up_3, #pop-up_4 {
	display: none; /* label でコントロールするので input は非表示に */
}
.overlay {
	display: none; /* input にチェックが入るまでは非表示に */
}
#pop-up_1:checked + .overlay, #pop-up_2:checked + .overlay,
 #pop-up_3:checked + .overlay, #pop-up_4:checked + .overlay{
	display: block;
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.pop_window {
	width: 90vw;
	max-width: 450px;
	height: 400px;
	background: radial-gradient(#fffdfb, #BBC4AE);      /*  ポップアップ  */	border-radius: 6px;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text {
	font-size: 36px;
	margin: 0;
	font-weight: 800;	
}
.close {
	cursor:pointer;
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 40px;
}
/*.service ul {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}*/
.popup1 {
	width: 320px;
	height: 200px;
}
.popup3 {
	width: 750px;
	height: 200px;
}
.popup4 {
	margin-top: 5px;
	width: 500px;
	height: 185px;
}


@media (max-width: 769px) { /*769px以下の時*/
	
	.service ul {
		display: block;
	}
	.service ul li {
		width: 400px;
		height: auto;
	}
	.popup2 {
		width: 350px;
		height: 200px;
		margin-left: 10px;
	}
	.popup3 {
		width: 750px;
		height: 150px;
	}	
	.three_step img {
		width: 350px;
		height: 200px;
	}
	.list_box {
		width: 100px;
		height: 400px;
	}
	.list_box img {
		width: 80px;
		height: 300px;
	}
	
}
  
/*
ticket
----------------------------*/


.totalradio {
	margin: 15px 30px 0px 20px;
  }

.totalradio input[type="radio"] {
	display: none;
}

.radio_1, .radio_2, .radio_3 {
	margin-bottom: 10px;
	color:#4075a0;
}

.totalradio input[type="radio"]:checked + label {
	background: linear-gradient(#4075a0,#38dde9);
	color: #ffffff;
}
.ticket_error {
	color: red;
}

.totalradio label:hover, .totalradio label:hover, .totalradio label:hover {
	background: linear-gradient(#ffffff, #FFFFCC);
	color:#4075a0;     /* 文字色     */;
}

@media (min-width: 769px) {	 /*769px以上の時*/
	
	.totalradio #ticket_img {
		margin-left: 50px;
		width: 100px;
		margin-right: 25px;
	  }

	.totalradio label {
		padding-left: 5px;
		padding-right: 5px;
		font-size: 25px;
		font-weight: 600;
		line-height: 53px;
		cursor:			pointer;
		position:		relative;
		display: block;
		border: 3px solid #0066FF;
		background: linear-gradient(#ffffff, #99FFCC);	
		border-radius: 20px;
		width: 500px;
		height: 120px;
		margin-top: 5px;
	}	
}

@media (max-width: 769px) { /*769px以下の時*/
	.totalradio #ticket_img {
		width: 60px;
		height: auto;
		margin-top: 5px;
		margin-right: 10px;
	}
	.totalradio label {
		padding-left: 10px;
		font-size: 20px;
		font-weight: 600;
		line-height: 1rem;
		display:		block;
		cursor:			pointer;
		position:		relative;
		border: 3px solid #0066FF;
		background: linear-gradient(#ffffff, #99FFCC);	
		border-radius: 20px;
		width: 300px;
		height: 80px;
		text-align: center;	
		margin-top: 5px;	
	  }
	.midi_span {
		display: inline-block;
	}	
}

/*
pay_comp
-----------------------------*/
.comp_text p {
	font-size: 25px;
}
.comp_text table {
	font-size: 15px;
}

.my-div-style {
	width: 98%;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;

}

/*
trading_contact(取引後チャット), chat_message(取引前チャット)
-----------------------------------*/
/* 吹き出しの入力部分の作成 */
.balloon-chat {
	display: flex;
	flex-wrap: wrap;
}
	
/* 吹き出しの入力部分の作成 */
.chatting {
	position: relative;
	display: inline-block; /* 吹き出しが文字幅に合わせます */ 
	padding: 10px 20px;
	background: #CCFF99; /*吹き出しのカラーはここで変更*/
	/*text-align: left;*/ /*テキストの位置はここで変更*/
	border-radius: 12px; /*吹き出しの丸み具合を変更*/
}
/* 吹き出しの三角部分の作成 */
.chatting::after {
	content: "";
	border: 15px solid transparent;
	border-top-color: #CCFF99; /*カラーはここで変更（吹き出し部分と合わせる）*/
	position: absolute;
	top: 10px; /*三角部分の高さを変更*/
}
.left .chatting::after {
	left: -15px; /*左側の三角部分の位置を変更*/
}
.right .chatting::after {
	right: -15px; /*右側の三角部分の位置を変更*/
} 
/* アイコンの作成 */
.icon-img {
	border-radius: 50%; /*丸の設定*/
	border: 1px solid #333300; /*アイコンの枠のカラーと太さはここで変更*/
	margin: 0;
	width: 50px;
	height: 50px;
}

/*
my_offer(申し込み一覧)
--------------------------------------*/

.offer_h3{
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 30px;
	background: linear-gradient(#9ddbeb, #75c789);
	color: #ffffff;
}
.offer_name {
	font-size: 20px;
}
.offer_photo {
	width: 100px;
	height: 100px;
}
.offer_table {
	border-collapse: collapse;
  	border-spacing: 0;
  	width: 100%;
	
}
.offer_table tr {
	border-bottom: solid 1px #eee;
}
.offer_table th {
	margin-top: 10px;
	margin-left: 20px;
}
.offer_table td {
	text-align: center;
	margin-top: 10px;
}
.offer_table a:hover {
	 background-color: #fcfcaa; 
}
.offer_p {
	margin-top: 20px;
	text-align: center;
	font-size: 22px;
	background: linear-gradient(transparent 90%, #a8eaff 50%);
}
@media screen and (max-width:769px) {
	.offer_h3 {
		margin: 0px 15px 15px 15px; 
	}
	.offer_name {
		font-size: 12px;
	}
	.offer_photo {
		max-width: 100px;
		height: 60px;
	}	
	.offer_table td {
		padding: 3px
	}
}

/*
my_goods_list   .offer_table 継承中
--------------------------------*/
.offer_table .mygoods {
	margin-top: 20px;
} 


/*
trading_detail 取引一覧
----------------------------------*/

.tra_de_h3 {
	margin-left: 70px;
	margin-top: 20px;
}
/*
agreement 利用規約
--------------------------------- */
.agreement h1{/* 利用規約 */
	text-align: center;
}
.agreement h2 {
	margin: auto;
	width: 80%;
	padding: 10px 15px 10px 15px;
	font-size: 25px;
}
.agreement table {
	margin: auto;
	width: 80%;
	border: 3px solid black;
}
.agreement table th {/* 第何条 */
	font-size: 20px;
	padding-left: 5px;
	padding-bottom: 5px;
}
.agreement table td {/* 内容 */
	text-indent: 1rem;/* インデント１文字 */
	border-bottom: 3px solid black;/* 下線 */
	padding: 0px 10px 10px 10px;
}
.agreement table td li {
	list-style: disc;
}


/* 受取評価　ラジオボタン */
.example3>label{
	/*コレ*/width: 300px;
	/*コレ*/vertical-align: top;
	box-sizing: border-box;
	display: inline-block;
	padding : 5px;
	cursor: pointer;
}
.example3>label>input{
	margin-right: 0px;
	cursor: pointer;
}
.img_size { 
	width: auto;
	height: 100px;
	margin-bottom: 20px;
}
.form_btn {
	margin-top: 15px;
}

/*
offer_select
-------------------------*/

.o_s_btn1 a {
	display       : inline-block;
	border-radius : 20px;          /* 角丸       */
	font-size     : 21pt;        /* 文字サイズ */
	text-align    : center;      /* 文字位置   */
	cursor        : pointer;     /* カーソル   */
	padding       : 12px 14px;   /* 余白       */
	background    : linear-gradient(#4075a0,#38dde9);    /* 背景色     */
	color         : #ffffff;     /* 文字色     */
	line-height   : 1em;         /* 1行の高さ  */
	transition    : .3s;         /* なめらか変化 */
	box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
	border        : 2px solid #000066;    /* 枠の指定 */
	margin-top: 15px;
	text-decoration: none; /* aタグの下線削除 */
}
.o_s_btn1 a:hover {
	text-decoration: none;
	box-shadow    : none;        /* カーソル時の影消去 */
	color         : linear-gradient(#4075a0,#38dde9);     /* 文字色     */
	background    : linear-gradient(#ffffff, #99FFCC);     /* 背景色     */
}

.o_s_btn2 {
	margin-left: 35%;
}
.o_s_btn3 {
	margin-left: 30%;
}
@media screen and (max-width:769px) {
	.o_s_btn2 {
		margin-left: 0px;
		font-size: 14pt;
	}
	.o_s_btn3 {
		margin-left: 0px;
		font-size: 14pt;
	}
}
.btn_info {
	text-align: center;
}


/*
todos やることリスト
--------------------------------*/

.todo_btn {
	width: 100%;
	height: 100%;
	border: none;
    background: transparent;
}
.todo_btn:focus {
	outline:0;
}

.todo_hover button:hover {  /* todoリスト　htmlのhover */
	background: linear-gradient(#ffffff, #70f8b4);     /* 背景色     */;
}

/*
ナビバーのやることリスト
----------------------------------------------------*/
.todo_count {
	/* 位置 */
	position: relative; /* 基準値とする */
	float: right;
	margin-right: 10px;
	top: -100px;
	/* ボタンっぽいデザインを消す */
	border: none;
    background: transparent;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
}
/* ベルの大きさ */
.bell {
	font-size: 2.5em;
}
/* ベルの大きさ ハンバーガーメニュー時 */
.bell2 {
	font-size: 1.5em;
}
/* ポインターが上にきたときの色 */
#g_navi .todo_count li:hover > a {    
	background-color: #dce0e4;
	}

/* ベルの右上の未読件数 */
.notice {
	position: absolute;     /* 相対位置に指定 */
	top: 15px;             /* 表示位置を上から15pxの位置にする */
	left: calc(100% - 48px);/* 表示位置を右から内側に48pxの位置 */
	color: #FFF;            /* 文字色を白に指定 */
	font-weight: bold;      /* 太文字にする */
	line-height: 20px;      /* 行の高さを指定 */
	text-align: center;     /* 文字を中央揃えにする */
	background: hsl(17, 97%, 49%);    /* 背景色をオレンジに指定 */
	border-radius: 10px;    /* line-heightの半分の角丸を指定 */
	min-width: 20px;        /* 最低幅を指定 */
	padding: 0 3px;         /* 左右に少しだけ余白を設定 */
	box-sizing: border-box; /* 計算しやすいように */
}
/* ベルの右上の未読件数 ハンバーガーメニュー時 */
.notice2 {
	position: absolute;     /* 相対位置に指定 */
	top: 302px;             /* 表示位置を上から-10pxの位置にする */
	left: 150px;/* 表示位置を右から内側に10pxの位置 */
	color: #FFF;            /* 文字色を白に指定 */
	font-weight: bold;      /* 太文字にする */
	line-height: 26px;      /* 行の高さを指定 */
	text-align: center;     /* 文字を中央揃えにする */
	background: hsl(17, 97%, 49%);    /* 背景色をオレンジに指定 */
	border-radius: 13px;    /* line-heightの半分の角丸を指定 */
	min-width: 26px;        /* 最低幅を指定 */
	padding: 0 3px;         /* 左右に少しだけ余白を設定 */
	box-sizing: border-box; /* 計算しやすいように */
}

/* マウスを動かしたときやることリストの吹き出しだす */
.todo_count:hover .balloon {
	display: inline;                /* インライン要素として表示 */
  }
.balloon {     /* やることリスト文字の吹き出しの枠 */
	position   : absolute;                /* 親要素を基準 */
	display: none;                        /* 要素を非表示 */
	padding: 2px;                         /* テキストの前後の余白 */
	background-color: rgba(87, 84, 84, 0.93);       /* 背景色（透明度） */
	width:90px;                          /* 吹き出し全体の幅 */
	left : 25%;                           /* 表示位置 */
	top : 100%;                           /* 表示位置 */
	margin-top : 1px;                    /* 表示位置 */
	font-size: 80%;                       /* 文字サイズ */
	color: #FFFFFF;
	border-radius: 5px;
  }
.balloon:after{   /* やることリストの吹き出しの三角 */
	border-bottom: 12px solid rgba(87, 84, 84, 0.93); /* 吹き出し口の高さ・色 */
	border-left: 5px solid transparent;    /* 吹き出し口の幅１／２ */
	border-right: 5px solid transparent;   /* 吹き出し口の幅１／２ */
	top: -10px;                             /* 吹き出し口の位置調整 */
	left : 25%;                              /* 吹き出し口の横位置 */
	content: "";                       /* コンテンツの挿入 */
	position: absolute;                /* 親要素を基準 */
  }

/*
ナビバーの出品ボタン
--------------------------------------------------*/
.syuppin {
	/* ボタンっぽいデザインを入れる */
	width: 85px;
	padding: 4px 0px;
	border-radius: 10px;
	position: relative; /* 基準値とする */
	float: right;
	margin-right: 10px;
	top: -100px;
}
.syuppin2 { /* 画面サイズが小さくなった場合 */
	/* ボタンっぽいデザインを入れる */
	width: 70px;
	padding: 2px 5px;
	background: #f84a4a;
	border-radius: 100%;
	position: relative; /* 基準値とする */
	right: -10px;
	top: 10px;
}
#g_navi .syuppin li:hover > a {    /* ポインターが上にきたときの色 */
	/*	background-color: #2d608c;*/
	background: #db2525;
	}
.syuppin span {
	position: absolute;     /* 相対位置に指定 */
	top: 5px;             /* 表示位置を上から-10pxの位置にする */
	left: calc(100% - 25px);/* 表示位置を右から内側に10pxの位置 */
	color: #FFF;            /* 文字色を白に指定 */
	font-weight: bold;      /* 太文字にする */
	line-height: 20px;      /* 行の高さを指定 */
	text-align: center;     /* 文字を中央揃えにする */
	background: #E68031;    /* 背景色をオレンジに指定 */
	border-radius: 10px;    /* line-heightの半分の角丸を指定 */
	min-width: 20px;        /* 最低幅を指定 */
	padding: 0 3px;         /* 左右に少しだけ余白を設定 */
	box-sizing: border-box; /* 計算しやすいように */
}
.syuppin a {
	width: 120px;
	color: #FFFFFF;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-decoration: none; /* aタグの下線削除 */
}
.syuppin a {
	color: #ffffff;
}

.btn-circle-flat {
	display: inline-block;
	text-decoration: none;
	background: #f84a4a;
	height: 120px;
	line-height: 120px;
	border-radius: 150%;
	text-align: center;
	overflow: hidden;
	transition: .4s;
  }

@media screen and (max-width:850px) {
	.syuppin {
		/* ボタンっぽいデザインを入れる */
		width: 85px;
		padding: 4px 0px;	
		border-radius: 10px;
		position: relative; /* 基準値とする */
		float: right;
		margin-right: 10px;
		top: -100px;
	}		
}

/* お気に入り */
button.btn-fav {
	border: none;
	outline: none;
	background: transparent;
}
button.btn-fav:focus {
	outline: none;
}
.unlike-btn {
	outline: none;
	border: none;
	border-radius: 5px;
	background-color: #FFCC00;
	padding: 10px;
	color: #FFFFFF;
}
.like-btn {
	outline: none;
	border: 1px solid;
	border-radius: 5px;
	background-color: #FFFFFF;
	padding: 10px;
	color: #FF9900;/*#996699;*/
	
}

/* 出品者情報  */
.prof-icon {
	border-radius: 50%; /*丸の設定*/
	border: 1px solid #333300; /*アイコンの枠のカラーと太さはここで変更*/
	margin-right: 20px;
	width: 130px;
	height: 130px;
}
.flex {
	margin: auto;
}

/*
申し込もうとしてチケットがなかった時のチケット購入btn
trade_confirm
-------------------------*/
.tick_btn_cs {
	width: 100px;
	padding: 6px 2px;
	background: #15e97f;
	border-radius: 5px;
	position: relative; /* 基準値とする */
	text-align: center;
}

.tick_btn_cs a {
	color: #ffffff;
}
.tick_btn_cs a:hover {
	color: #ffffff;
	text-decoration: none; /* aタグの下線削除 */
}

.tick_btn_cs.trade {
	width: 120px;
	padding: 8px 4px;
	top: 0px;
	left: 40%;
}
/*
申し込もうとしてチケットがなかった時のチケット購入btn
offer_confirm(上のbtnのcssの変更点)
-------------------------*/
.tick_btn_cs.offer {
	width: 120px;
	padding: 8px 4px;
	top: 0px;
	left: 45%;
}

/*
申し込もうとしてチケットがなかった時のチケット購入btn
offer_choice_goods(上の上のbtnのcssの変更点)
-------------------------*/
.tick_btn_cs.ofg {
	width: 120px;
	padding: 8px 4px;
	top: 0px;
	left: 40%;
}
.ofg_h3 {
	font-size: 27px;
}

.ofg_span {
	display: inline-block;
}
@media screen and (max-width:769px) {
	.ofg_h3 {
		font-size: 19px;
	}
}

/*
商品詳細 左に説明右に写真
------------------------------------------*/
.widleft {
	float: left;
	width: 50%;
}
.widleft table tr th {
	width: 120px;
}
.widright {
	float: right;
	width: 47%;
}

@media screen and (max-width:769px) {
	.widleft {
		width: 100%;
	}
	.widright {
		width: 100%;
	}
}
/*
trade_completion 商品申請一覧に戻るボタンの装飾
------------------------------------------*/
.offer_btn_cs {
	width: 100px;
	padding: 6px 2px;
	background: #2e8bd6;
	border-radius: 5px;
	position: relative; /* 基準値とする */
	text-align: center;
	margin-top: 20px;
}

.offer_btn_cs a {
	color: #ffffff;
}
.offer_btn_cs a:hover {
	color: #ffffff;
	text-decoration: none; /* aタグの下線削除 */
}
.offer_btn_cs.offer {
	width: 120px;
	padding: 8px 4px;
	top: 0px;
	left: 45%;
}
/* trade_completion 取引詳細を見るボタンの装飾
-----------------------------------------------------*/
.trade_comp {
	text-align: center;
}

/* chat_room_list 未読ありの装飾
----------------------------------------------------*/
.chat_room span {
	position: absolute;     /* 相対位置に指定 */
	top: -22px;             /* 表示位置を上から-22pxの位置にする */
	left: 2%;			    /* 表示位置を左から2%の位置にする */
	color: #FFF;            /* 文字色を白に指定 */
	font-weight: bold;      /* 太文字にする */
	line-height: 20px;      /* 行の高さを指定 */
	text-align: center;     /* 文字を中央揃えにする */
	background: #e63131;    /* 背景色を赤に指定 */
	border-radius: 5px;    /* line-heightの半分の角丸を指定 */
	min-width: 50px;        /* 最低幅を指定 */
	padding: 0 3px;         /* 左右に少しだけ余白を設定 */
}
/* trading_contact 未読ありの装飾
----------------------------------------------------*/
.chat_room2 span {
	position: absolute;     /* 相対位置に指定 */
	top: -15px;             /* 表示位置を上から-15pxの位置にする */
	left: 80%;			    /* 表示位置を左から80%の位置にする */
	color: #FFF;            /* 文字色を白に指定 */
	font-weight: bold;      /* 太文字にする */
	line-height: 20px;      /* 行の高さを指定 */
	text-align: center;     /* 文字を中央揃えにする */
	background: #fa0505;    /* 背景色を赤に指定 */
	border-radius: 5px;    /* line-heightの半分の角丸を指定 */
	min-width: 80px;        /* 最低幅を指定 */
	padding: 0 3px;         /* 左右に少しだけ余白を設定 */
	font-size: 18px;
}
/* my_display 未読ありの装飾
-----------------------------------------------------*/
.chat_room3 span {
	position: absolute;     /* 相対位置に指定 */
	top: 2px;             /* 表示位置を上から-22pxの位置にする */
	left: 110px;			    /* 表示位置を左から2%の位置にする */
	color: #FFF;            /* 文字色を白に指定 */
	font-weight: bold;      /* 太文字にする */
	line-height: 20px;      /* 行の高さを指定 */
	text-align: center;     /* 文字を中央揃えにする */
	background: #fa0505;    /* 背景色を赤に指定 */
	border-radius: 5px;    /* line-heightの半分の角丸を指定 */
	min-width: 80px;        /* 最低幅を指定 */
	padding: 0 3px;         /* 左右に少しだけ余白を設定 */
	font-size: 18px;
	z-index: 5;
}
/*
trading_detail 取引連絡ボタンと評価ボタンの装飾
------------------------------------------*/
.trade_btn_cs {
	width: 130px;
	height: 40px;
	padding: 2px 2px;
	background: #2e8bd6;
	border-radius: 5px;
	position: relative; /* 基準値とする */
	margin: 25px auto;
	font-size: 16px;
}
.trade_chat_cs {
	width: 330px;
	height: 38px;
	padding: 2px 2px;
	background: #086975;
	border-radius: 10px;
	position: relative; /* 基準値とする */
	margin: 15px auto;
	font-size: 16px;
}

.trade_btn_cs a , .trade_chat_cs a{
	color: #ffffff;
}
.trade_btn_cs a:hover, .trade_chat_cs a:hover {
	color: #ffffff;
	text-decoration: none; /* aタグの下線削除 */
}

@media screen and (max-width:392px) {
	.trade_btn_cs {
		font-size: 20px;
		width: 200px;
		padding: 6px 2px;
	}
	.trade_chat_cs {
		font-size: 18px;
		width: 250px;
		padding: 1px 2px;
	}
}

/*
homeの新着商品画像
--------------------------------------------*/
.goods_btn {
	width: 180px;
	height: 220px;
	border: none;
    background: transparent;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
}
.goods_btn:focus {
	outline:0;
}

.goods_hover button:hover { 
	opacity: 0.7;       /* カーソルが上にきたとき白く透過させる */
}

/* 住所印刷画面 */
.print_solid {
	width: 300px;
	border: 2px solid #000000;
}
.print_solid p {
	margin-left: 10px;
}
.print_solid h6 {
	font-weight: 800;
	margin-top: 10px;
}
.ad_solid {
	border-bottom: 0.5px solid #ada7a7;
}
.ad_solid2 {
	border-bottom: 3px solid #ada7a7;
}

.bartown_address {
	font-size: 18px;
}
.my_address {
	font-size: 12px;
}
.a_name {
	font-size: 10px;
}

.td_btn {
	display: flex;
	justify-content: center;
}

.ad_print {
	margin-right: 30px;
}
/*  ログイン前ページ  */

.shutter{
	width: 100%;
	height: 100%;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
	background-color:#fff;
	z-index:99;
	-webkit-animation: byeShutter 2.4s forwards;
	animation: byeShutter 2.4s forwards;
}
.logo {
position: absolute;
width: 180px;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
-webkit-animation: logo 0.8s forwards;
animation: logo 0.8s forwards;
animation-delay: 0.2s;
}
@keyframes byeShutter {
70% {
opacity: 1;
}
100% {
display: none;
opacity: 0;
z-index: -1;
}
}
@keyframes logo {
0% {
opacity: 1;
}

50% {
transform: rotate(0deg);     
}
100% {
transform: scale(0.8);
}
}


/*
商品詳細ページ
-------------------------------------------------*/

.photo_size {
	height: 500px;
	width: auto;
}

@media screen and (max-width:769px) {
	.photo_size {
		height: 400px;
		width: auto;
	}
}

@media screen and (max-width:392px) {
	.photo_size {
		height: 300px;
		width: auto;
	}
}