
/* ユーザーアイコン */
.user-icon {
	position: absolute;
	left: 290px;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2.5px solid rgb(231, 236, 236);
    transition:0.3s;/*元に戻る秒数*/  
}

.user-icon:hover{
    transform: scale(1.2);/*拡大倍率*/
    transition:0.3s;/*変化するのにかかる秒数*/ 
}

.seller-table-data {
	font-size: 2vmin;
	letter-spacing: 0.5em;
    background-color: #FFFFFF;/*カーソル乗せる前の背景色*/
    padding:50px;/*余白*/
}

/* 
----------------------------------------------------------------
ユーザーアイコンNo,2 */

.user-icon-MY {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
    transition:0.3s;/*元に戻る秒数*/  
    right: 10px;
}

.btn-sticky {
    display: inline-block;
    padding: 0.5em 2em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #e9ff5c;/*左線*/
    color: #030303;/*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.btn-sticky:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}

.table_form{
    font-size: 20px;
}