body {
	background-color: #4886b6;
	margin-top: 600px;
}

.mypage {
	background-image: url;
	background-repeat: no-repeat;
}
.back2 {
	background-color:white;
	height: auto;
}
/*================================================================================*/

.mypage-form {
	position: absolute;
	top: 15%;
	bottom: 200px;
	left: 50px;
	width: 1200px;
	max-width: 600px;/* 横幅 */
	max-height: 420px;/* 縦幅 */
	height: 80%;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #FFF;
	width: 100%;
}
/*--------------------------------------------------------------------------------*/
/*ユーザー情報*/
.table-user-th {
	position: absolute;
	font-size: 20px;
	background-color: rgba(255,255,255,0.8);
	margin-bottom: 30px;
	padding-top: 10px;
	border-radius: 5px 5px 0px 0px;/* 丸角 */
	text-align: center;
	border-bottom-width: 4px;/* 溝の青線 */
	border-bottom-style: solid;
	border-bottom-color: #2E749A;
	color: #000;
	width: 100%;
}

/* 設定アイコン */
.table-set-icon {
	float: right;
	padding-right: 10px;
	padding-bottom: 5px;

}
/*--------------------------------------------------------------------------------*/

.mypage-table-data {
	top: 16%;
	margin-left: 10px;
	text-align: auto;
}
/*--------------------------------------------------------------------------------*/
/* ユーザーアイコン */
.user-icon {
	position: absolute;
	margin-top: 57px;
	left: 10px;
    height: 80px;
    width: 80px;
    object-fit: cover;/* 見ため */
    border-radius: 50%;
    border: 1.5px solid #eee;
}
/*--------------------------------------------------------------------------------*/
/* チケット */
.table-ticket {
	margin-right: 5px;
	font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "Sawarabi Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	position: absolute;
	top: 60px;
	right: 20px;
	z-index: 1000;
	width: 200px;
}
.table-ticket a {
	display: block;
	font-size: 16px;
	line-height: 30px;
	color: #00365E;
	text-decoration: none;
	width: 210px;
	padding-right: 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: rgba(0, 15, 44, 0.3) 0px 0px 7px 0px;
	-webkit-box-shadow: rgba(0, 15, 44, 0.3) 0px 0px 7px 0px;
	-moz-box-shadow: rgba(0, 15, 44, 0.3) 0px 0px 7px 0px;
	background-color: #FFF;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	position: relative;
	float: left;
	margin-left: 10px;
	padding-bottom: 0px;
	background-position: 240px center;
}
.table-ticket a::after {
	font-size: 10px;
	display: block;
	width: 30px;
	line-height: 26px;
	position: absolute;
	top: 2px;
	right: 0px;
	content: '>';
	text-align: center;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #A2CAD5;
}
/*--------------------------------------------------------------------------------*/
/* ユーザーデータ内容 */

.table-form {
	top: 62px;
	position: relative;
	text-align: center;
}
.table-colon {
	top: 62px;
	position: relative;
}
.table-data {
	width: 100%;
	margin-top: 62px;
	position: absolute;
	text-align: auto;
}
.table-data-comment {
	width: 82%;
	margin-top: 62px;
	position: absolute;
	text-align: auto;
}
/*================================================================================*/
/* content */



/*--------------------------------------------------------------------------------*/
/*  */

.mypage-content {
	padding-top: 20px;
	padding-bottom: 30px;
}
.mypage-content h2 {
	font-size: 40px;
	padding-bottom: 20px;
}


/*--------------------------------------------------------------------------------*/
/*履歴*/
.history-list {
	margin-top: 20px;
	padding-bottom: 30px;
	text-align: center;
}
.history-list h2 {
	text-align: center;
}
.history-list h1 {
	text-align: right;
}

/* ジャンプタブ */
/* 出品済一覧 */
.tab_class4 {
	margin-left: 70%;
	width: calc(30%/3);
	padding: 10px;
	line-height: 30px;
	margin-left: 8px;/* 間隔 */
	display: inline-block;
	text-align: center;
	background-color: hsl(143, 94%, 52%);
	border: 1.5px solid hsl(147, 94%, 49%);
	font-size: 16px;
	color: hsl(143, 88%, 48%);
	text-decoration: none;
	font-weight: bold;
	padding: 2px 6px;
	border-radius: 4px;
	position: relative;
}
.tab_class4 span {
	position: relative;
	z-index: 1;
}
.tab_class4::before,
.tab_class4::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
	background-color: white;
    position: absolute;
    top: 0;
    transition: .2s;
}
.tab_class4::before{/* エフェクト */
	left: 0;
}
.tab_class4::after {/* エフェクト */
	right: 0;
}
.tab_class4:hover:before,
.tab_class4:hover:after {
	width: 0;
	background-color: #FFF;/* エフェクト */
}
.tab_class4:hover {
	color: #FFF;/* エフェクト後 文字色 */
}

/* 交換申請一覧ボタン */
.tab_class5 {
	width: calc(30%/3);
	padding: 10px;
	line-height: 30px;
	margin-left: 8px;/* 間隔 */
	order: -1;
	display: inline-block;
	text-align: center;
	background-color: hsl(194, 47%, 70%);
	border: 1.5px solid hsl(214, 74%, 72%);
	font-size: 16px;
	color: hsl(209, 55%, 62%);
	text-decoration: none;
	font-weight: bold;
	padding: 2px 6px;
	border-radius: 4px;
	position: relative;
}
.tab_class5 span {
	position: relative;
	z-index: 1;
}
.tab_class5::before,
.tab_class5::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
	background-color: white;
    position: absolute;
    top: 0;
    transition: .2s;
}
.tab_class5::before{/* エフェクト */
	left: 0;
}
.tab_class5::after {/* エフェクト */
	right: 0;
}
.tab_class5:hover:before,
.tab_class5:hover:after {
	width: 0;
	background-color: #FFF;/* エフェクト */
}
.tab_class5:hover {
	color: #FFF;/* エフェクト後 文字色 */
}

/* 取引中一覧,取引完了一覧 */
.tab_class6 {
	margin-left: 70%;
	width: calc(30%/3);
	padding: 10px;
	line-height: 30px;
	margin-left: 8px;/* 間隔 */
	display: inline-block;
	text-align: center;
	background-color: hsl(283, 46%, 70%);
	border: 1.5px solid hsl(283, 73%, 72%);
	font-size: 16px;
	color: hsl(283, 55%, 62%);
	text-decoration: none;
	font-weight: bold;
	padding: 2px 6px;
	border-radius: 4px;
	position: relative;
}
.tab_class6 span {
	position: relative;
	z-index: 1;
}
.tab_class6::before,
.tab_class6::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
	background-color: white;
    position: absolute;
    top: 0;
    transition: .2s;
}
.tab_class6::before{/* エフェクト */
	left: 0;
}
.tab_class6::after {/* エフェクト */
	right: 0;
}
.tab_class6:hover:before,
.tab_class6:hover:after {
	width: 0;
	background-color: #FFF;/* エフェクト */
}
.tab_class6:hover {
	color: #FFF;/* エフェクト後 文字色 */
}


/* タブ */
.area {
	width: auto;
	margin-left: 50px;/* 位置 */
	flex-wrap: wrap;
	display: flex;
}
/*---------------------------------*/
.tab_class1 {
	left: 27%;
	width: calc(40%/3);
	padding: 30px;
	line-height: 50px;
	margin-left: 8px;/* 間隔 */
	order: -1;
	display: inline-block;
	text-align: center;
	background-color: hsl(0, 46%, 70%);
	border: 2px solid hsl(0, 73%, 72%);
	font-size: 25px;
	color: hsl(0, 55%, 62%);
	text-decoration: none;
	font-weight: bold;
	padding: 8px 15px;
	border-radius: 4px;
	position: relative;
}
.tab_class1 span {
	position: relative;
	z-index: 1;
}
.tab_class1::before,
.tab_class1::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
	background-color: white;
    position: absolute;
    top: 0;
    transition: .2s;
}
.tab_class1::before{/* エフェクト */
	left: 0;
}
.tab_class1::after {/* エフェクト */
	right: 0;
}
.tab_class1:hover:before,
.tab_class1:hover:after {
	width: 0;
	background-color: #FFF;/* エフェクト */
}
.tab_class1:hover {
	color: #FFF;/* エフェクト後 文字色 */
}
/*############*/
.tab_class2 {
	left: 27%;
	width: calc(40%/3);
	padding: 30px;
	line-height: 50px;
	margin-left: 8px;/* 間隔 */
	order: -1;
	display: inline-block;
	text-align: center;
	background-color: hsl(59, 90%, 59%);
	border: 2px solid hsl(59, 83%, 68%);
	font-size: 25px;
	color: hsl(59, 90%, 59%);
	text-decoration: none;
	font-weight: bold;
	padding: 8px 15px;
	border-radius: 4px;
	position: relative;
}
.tab_class2 span {
	position: relative;
	z-index: 1;
}
.tab_class2::before,
.tab_class2::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
	background-color: white;
    position: absolute;
    top: 0;
    transition: .2s;
}
.tab_class2::before{/* エフェクト */
	left: 0;
}
.tab_class2::after {/* エフェクト */
	right: 0;
}
.tab_class2:hover:before,
.tab_class2:hover:after {
	width: 0;
	background-color: #FFF;/* エフェクト */
}
.tab_class2:hover {
	color: #FFF;/* エフェクト後 文字色 */
}
/*#################*/
.tab_class3 {
	left: 27%;
	width: calc(40%/3);
	padding: 30px;
	line-height: 50px;
	margin-left: 8px;/* 間隔 */
	order: -1;
	display: inline-block;
	text-align: center;
	background-color: hsl(125, 46%, 70%);
	border: 2px solid hsl(125, 73%, 72%);
	font-size: 25px;
	color: hsl(125, 55%, 62%);
	text-decoration: none;
	font-weight: bold;
	padding: 8px 15px;
	border-radius: 4px;
	position: relative;
}
.tab_class3 span {
	position: relative;
	z-index: 1;
}
.tab_class3::before,
.tab_class3::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
	background-color: white;
    position: absolute;
    top: 0;
    transition: .2s;
}
.tab_class3::before{/* エフェクト */
	left: 0;
}
.tab_class3::after {/* エフェクト */
	right: 0;
}
.tab_class3:hover:before,
.tab_class3:hover:after {
	width: 0;
	background-color: #FFF;/* エフェクト */
}
.tab_class3:hover {
	color: #FFF;/* エフェクト後 文字色 */
}
/*---------*/
input[name="tab_name"] {
	display: none;
}
input:checked + .tab_class1 {/* 選択後 tab1 */
	color: hsl(0, 55%, 62%);
	background-color: transparent;
	border: 3px dashed;
}
input:checked + .tab_class2 {/* 選択後 tab2 */
	color: hsl(59, 90%, 59%);
	background-color: transparent;
	border: 3px dashed;
}
input:checked + .tab_class3 {/* 選択後 tab3 */
	color: hsl(125, 55%, 62%);

	background-color: transparent;
	border: 3px dashed;
}
.content_class {
	text-align: center;
	display: none;
	width: 100%;
}
input:checked + .tab_class1  + .content_class,
input:checked + .tab_class2  + .content_class,
input:checked + .tab_class3  + .content_class {
	display: block;
}
/* テーブル */
.slide_list_table {
	margin: auto;
	padding: 10%;
	border: 3px steelblue solid;  /*  */
	font-weight: bolder;
	margin-bottom: 50px;
}
.slide_list_table th {
	border: 2px steelblue solid;  /* カテゴリー名 */
	padding: 10px;
	background-color: orange;
}
.slide_list_table td {
	border: 2px steelblue solid;  /* データ */
	
	padding: 10px;
	background-color: skyblue;
}
.slide_list_date, 
.slide_list_goods,
.slide_list_name, 
.slide_list_direction { /* 日付１・商品名２・名前２・向き１ */
	width: 200px;
}
.slide_list_direction {
	font-size: 30px;
}
.history-list p {
	text-align: center;
	font-size: 35px;
	padding: 70px;
}

.h5 {
	text-align: center;
}
/*--------------------------------------------------------------------------------*/



/*--------------------------------------------------------------------------------*/
/* 設定 */
.settings-list h2{
	text-align: center;
}


.mypage-content h4 {
	font-size: 18px;
	line-height: 30px;
	font-weight: normal;
	color: #044760;
	letter-spacing: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 36px;
	background-color: #a8757528;
	display: block;
	position: relative;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	clear: both;
}
.mypage-content h4::before {
	display: block;
	width: 2px;
	height: 24px;
	position: absolute;
	content: "";
	top: 13px;
	left: 20px;
	background-color: #65B7DA;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}