{% extends 'base.html' %}
{% load static %}
{% load myfilter %}

{% block title %}住所印刷{% endblock %}
{% block head %}
<script>
    // 印刷ボタン押したら
    $(function(){
        $('.print').click(function(){
            let header = $('#g_navi'),
                footer = $('.foot'),
                midasi = $('.midasi'),
                btn = $('.btn');
            header.hide();   // .hide();で非表示にする
            footer.hide();
            btn.hide();
            midasi.hide();
            
            window.print();  // 印刷画面を出す
            
            header.show();   // .show();で表示する
            footer.show();
            btn.show();
            midasi.show();
        });
    });
</script>
{% endblock %}

{% block contents %}
<link rel="stylesheet" href="{% static 'All_style.css' %}" />
<div class="container effect">
    <h2 class="midasi" style="text-align: center;">住所印刷</h2>
    <div style="float: left;">
        <form method="POST" enctype='multipart/form-data' action="{% url 'barter_app:trading_detail' %}">
            {% csrf_token %}
            <input type="hidden" name="trade_pk" value="{{trade.id}}">
            <button class="btn btn-primary" name="next" value="back" type="submit">戻る</button>
        </form>
    </div>

    <div class="row">  
        <div class="my-div-style w-100">
            <div class="row">
                <div class="col-sm-10 mx-auto">
                    <div class="print_solid" style="margin: auto;">
                        <h6>送り先</h6>
                        <div class="ad_solid"></div>
                        <div class="bartown_address">
                            <div class="a_name">住所：</div>
                            <p>〒380-0906<br>
                            長野県長野市鶴賀呑沢614-3</p>
                            <div class="ad_solid"></div>
                            <div class="a_name">名前：</div>
                            <p>株式会社BARTOWN</p>
                        </div>
                        <div class="ad_solid2"></div>
                        
                        <h6>差出人</h6>
                        <div class="ad_solid"></div>
                        <div class="my_address">
                            <div class="a_name">住所：</div>
                            <p>
                                〒{{user.zip_code | slice:"3"}}-{{user.zip_code | slice:"-4"}}<br>
                                {{user.address}}<br>
                                {% if user.address2 %}
                                    {{user.address2}}
                                {% endif %}
                            </p>
                            <div class="ad_solid"></div>
                            <div class="a_name">名前：</div>
                            <p>{{user.last_name}} {{user.first_name}}</p>
                        </div>
                    </div>
                    <div class="trade_comp">
                        <button class="btn btn-primary print" style="margin-top: 15px;">印刷</button>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>
{% endblock %}
