{% load static %}
{% load myfilter %}
<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="utf-8">
<!--
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
原則として、許可なしの再配布は禁止させていただきます。
また、無料でお使いになる場合は、【ＰＲ枠】のリンクは全て削除禁止です。
（※加工後の削除も禁止させていただいておりますのでご了承ください。）
PR枠の削除（有料プラン）に関するお問い合わせや、その他ご不明な点は、
http://www.s-hoshino.com/info.html、または、
https://www.megapx.com/contact.htmlのフォームよりお問い合わせください。
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
-->
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

<title>{% block title %}{% endblock %} | BARTOWN</title>

<meta name="Keywords" content="レスポンシブ,HTMLテンプレート,ホームページ制作" />
<meta name="Description" content="最新レスポンシブHTMLテンプレート no.001。このサイトの説明文を入れてください。" />
<link rel="stylesheet" href="{% static 'style.css' %}" />
<link rel="stylesheet" href="{% static 'mystyle.css' %}" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
<link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css" type="text/css" media="all" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!--[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{% block head %}{% endblock %}
</head>

<body class="toppage">
<div class="base_main">

{% block header %}{% endblock %}

<a class="menu_btn">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
</a>

<nav id="g_navi">
      <li class="d-inline d-md-none">
            <form method="GET" class="search-form2 d-inline d-md-none" action="{% url 'barter_app:goods_search' %}" >
                {% csrf_token %}
                <input class="search-input" type="text" name="word" value="" placeholder="なにをお探しですか？" />
                <input class="fas search-button" type="submit" value="&#xf002;" />
            </form>
      </li>
      
      <ul class="navi_base">
            <li class="d-none d-md-inline d-xl-none"style="width:50px;margin-top:30">
                  <a class="">
                        <input class="fas search-button" type="submit" value="&#xf002;" />
                  </a>
                  <div class="ac_list">
                        <ul>
                              <form method="GET" class="search-form d-md-inline d-xl-none" style="top:0px;" action="{% url 'barter_app:goods_search' %}" >
                                    {% csrf_token %}
                                    <input class="search-input" type="text" name="word" value="" placeholder="なにをお探しですか？" />
                                    <input class="fas search-button" type="submit" value="&#xf002;" />
                              </form>
                        </ul>
                  </div>
            </li>

            {% if user.is_authenticated %}
            <li><a href="{% url 'barter_app:home' %}"><img src="{% static 'img/BARTOWN_logo.png' %}" alt="" style="width: 100px;"></a></li>
            {% else %}
            <li><a href="{% url 'barter_app:index' %}"><img src="{% static 'img/BARTOWN_logo.png' %}" alt="" style="width: 100px;"></a></li>
            {% endif %}

            {% if user.is_authenticated %}
            <li><a class="ac_menu" href="{% url 'barter_app:mypage' %}">マイページ</a>
                  <div class="ac_list" style="text-align: center;">
                        <ul>
                              <li><a href="{% url 'barter_app:my_display' %}">出品済一覧</a></li>
                              <li><a href="{% url 'barter_app:my_offer' %}">交換申請一覧</a></li>
                              <li><a href="{% url 'barter_app:trading_history' %}">取引中一覧</a></li>
                              <li><a href="{% url 'barter_app:trading_history_end' %}">取引完了一覧</a></li>
                        </ul>
                  </div>
            </li>
            <li><a href="{% url 'barter_app:chat_room_list' %}">チャット</a></li>
            <form method="post" name="tick" action="{% url 'barter_app:ticket' %}">
            {% csrf_token %}
            <input type="hidden" name="page" value="home">
            <li><a href="javascript:tick.submit()">チケット購入</a></li>
            </form>
            
            <div class="d-block d-md-none">
            {% if user.is_authenticated %}
                  {% get_todos user as flag %}
                  {% if flag == 0 %}
                        <li><a href="{% url 'barter_app:todos' %}">やることリスト <i class="fas fa-bell bell2"></i></a></li>
                  {% else %}
                        <li><a href="{% url 'barter_app:todos' %}">やることリスト <i class="fas fa-bell bell2"></i><span class="notice2">{% get_todos user %}</span></a></li>
                  {% endif %}
            {% endif %}
            </div>

            {% else %}
            <li><a href="{% url 'barter_app:goods_list' %}">商品をさがす</a></li>
            <li><a href="{% url 'account_signup' %}">会員登録</a></li>
            <li><a href="{% url 'account_login' %}">ログイン</a></li>
            {% endif %}
      </ul>

      <div class="d-none d-md-block">
            {% if user.is_authenticated %}
                  {% get_todos user as flag %}

                  <div class="syuppin">
                        <li><a href="{% url 'barter_app:goods_create' %}" class="btn-circle-flat">出品<br><i class="fas fa-camera-retro cscam"></i></a></li>
                  </div>

                  {% if flag == 0 %}
                  <div class="todo_count">
                        <li><a href="{% url 'barter_app:todos' %}" class="faa-parent animated-hover"><i class="fas fa-bell bell faa-shake"></i></a></li>
                        <span class="balloon">やることリスト</span>
                  </div>
                  {% else %}
                  <div class="todo_count" >
                        <li><a href="{% url 'barter_app:todos' %}" class="faa-parent animated-hover"><i class="fas fa-bell bell faa-shake"></i></a></li>
                        <span class="notice">{% get_todos user %}</span>
                        <span class="balloon">やることリスト</span>
                  </div>
                  {% endif %}
            {% endif %}
        </div>

      <div class="d-block d-md-none"> <!-- ハンバーガーメニューの時 -->
            {% if user.is_authenticated %}
                        

                        <div class="syuppin2">
                              <li><a class="btn col-" href="{% url 'barter_app:goods_create' %}">出品<br><i class="fas fa-camera-retro cscam"></i></a></li>
                        </div>
            {% endif %}
      </div>

      <form method="GET" class="search-form d-none d-xl-inline" action="{% url 'barter_app:goods_search' %}" >
            {% csrf_token %}
            <input class="search-input" type="text" name="word" value="" placeholder="なにをお探しですか？" />
            <input class="fas search-button" type="submit" value="&#xf002;" />
      </form>

</nav>
<main class="main">
      {% if messages %}
      <ul class="messages" style="list-style:none; margin-top:90px;">
            {% for message in messages %}              
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                  {{ message }}
            </li>
            {% endfor %}
      </ul>
{% endif %}
{% block contents %}{% endblock %}

</main>

<!-- フッター -->
<div class="foot">
<footer>
      <div class="footer_box clfix">
            <div class="box_in">
            <ul class="ul1">
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'barter_app:my_display' %}">出品済一覧</a></li>
                  <li><a href="{% url 'barter_app:my_offer' %}">交換申請一覧</a></li>
                  <li><a href="{% url 'barter_app:trading_history' %}">取引中一覧</a></li>
                  <li><a href="{% url 'barter_app:trading_history_end' %}">取引完了一覧</a></li>
                  <li><a href="{% url 'barter_app:chat_room_list' %}">チャット</a></li>
                  {% else %}
                  <li><a href="{% url 'barter_app:goods_list' %}">商品一覧</a></li>
                  {% endif %}
            </ul>
            
            {% if user.is_authenticated %}
            <ul class="ul2">
                  <li><a href="{% url 'barter_app:index' %}">BARTOWNについて</a></li>
                  <li><a href="{% url 'barter_app:mypage' %}">マイページ</a></li>
                  <li><a href="{% url 'barter_app:ticket' %}">チケット購入</a></li>
                  <li><a href="{% url 'account_logout' %}">ログアウト</a></li>
            
            </ul>
            {% endif %}
            
            <ul class="ul3">
                  <li><a href="{% url 'barter_app:q_a' %}">よくあるご質問</a></li>
                  <li><a href="{% url 'barter_app:inquiry' %}">お問い合わせ</a></li>
                  <li><a href="{% url 'account_agreement' %}">利用規約</a></li>
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'account:cansel' %}">退会</a></li>
                  {% endif %}
            </ul>
            </div><!--/box_in-->
      </div><!--/footer_box-->
      
</footer>
                  
      <!--　削除禁止【ＰＲ枠】ここから　--> 
      <!--prno.180216ver2.01set018--> 
      <div class="box_pr"><ul>
      <li>Design by <a href="https://www.megapx.com/" title="ホームページ制作・ロゴデザイン：メガピクス" target="_blank">Megapx</a></li>
      <li>Template by <a href="http://www.s-hoshino.com/" title="HTMLテンプレート配布元：フリー素材屋Hoshino" target="_blank">s-hoshino.com</a></li>
      </ul></div>
      <!--　/削除禁止【ＰＲ枠】ここまで　-->
</div>
<!--トップへ戻る矢印-->
<div id="to_top">
    <a href="#" style="background: rgba(0,0,0,0);">
          <i class="fas fa-arrow-alt-circle-up fa-3x"></i>
    </a>
</div>
<!---->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'jquery.inview.min.js' %}"></script>
<script src="{% static 'script.js' %}"></script>
<script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>

{% block extrajs %}{% endblock %}
</div>
</body>
</html>
