{% extends 'base.html' %}

{% block title %}パスワードリセット{% endblock %}

{% block contents %}
<div class="content">
    <section class="main_cont effect d_02">
        <h2 class="my-div-style"><i class="far fa-envelope-open"></i>{% if token_fail %}不正トークン{% else %}パスワードリセット{% endif %}</h2>

            {% if token_fail %}
                {% url 'templates_reset_password' as passwd_reset_url %}
                <p>このパスワードリセット用リンクは無効になっています。 <a href="{{ cansel_reset_url }}">パスワードリセット再申請</a></p>
            {% else %}
                {% if form %}
                    <form id="mailform" method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        <table class="table_form">
                            <tr>
                                <th>パスワード<span class="required">必須</span><p>pass word</p></th>
                                <td><input type="password" required="required" name="password(必須)" size="50" maxlength="20" class="mf" /></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                <input type="submit" value="送信" class="form_btn" />
                            </tr>
                        </table>
                    </form>
                {% else %}
                    <p>パスワードは変更されています。</p>
                {% endif %}
            {% endif %}
            
        </form>
    </section>
</div>

{% endblock %}