{% extends 'base.html' %}

{% block title %}パスワードリセット{% endblock %}

{% block contents %}
<div class="content">
    <section class="main_cont effect d_02">
        <h2 class="my-div-style"><i class="far fa-envelope-open"></i>パスワードリセット</h2>

        {% if user.is_authenticated %}
        {% include "templates/snippets/already_logged_in.html" %}
        {% endif %}

        <p>パスワードリセット用メールを送信します。</p>
        {% extends 'base.html' %}

        {% block title %}パスワードリセット | Barter{% endblock %}
        
        {% block contents %}
        <div class="content">
            <section class="main_cont effect d_02">
                <h2 class="my-div-style"><i class="far fa-envelope-open"></i>パスワードリセット</h2>
        
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
        
                <p>パスワードリセット用メールを送信します。</p>
        
                <form id="mailform" method="post" action="{% url 'barter_app:cancel_resrt' %}">
        
                    {% csrf_token %}
        
                    <table class="table_form">
                        <tr>
                            <th>メールアドレス<span class="required">必須</span><p>e-mail address</p></th>
                            <td><input type="text" required="required" name="email" size="50" maxlength="50" class="mf" /></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                            <input type="submit" value="送信" class="form_btn" />
                        </tr>
                    </table>
                </form>
            </section>
        </div>
        {% endblock %}
        <form id="mailform" method="post" action="{% url 'barter_app:cancel_reset' %}">

            {% csrf_token %}

            <table class="table_form">
                <tr>
                    <th>メールアドレス<span class="required">必須</span><p>e-mail address</p></th>
                    <td><input type="text" required="required" name="email" size="50" maxlength="50" class="mf" /></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                    <input type="submit" value="送信" class="form_btn" />
                </tr>
            </table>
        </form>
    </section>
</div>
{% endblock %}