{% extends "base.html" %}

{% load static %}
{% block title %}パスワード変更完了{% endblock %}

{% block contents %}
<div class="content">
    <section class="main_cont effect d_02">
        <h2 class="my-div-style"><i class="far fa-envelope-open"></i>パスワード変更完了</h2>
            <div class="my-div-style" style="text-align: center;">
                <h3>パスワードの変更が完了しました。</h3>
            </div>
        <div style="text-align: center;">
            <a class="btn btn-info mt-5 ml-2 mb-3" href="{% url 'barter_app:mypage' %}">マイページへ</a>
        </div>
    </section>
</div>
{% endblock %}