{% extends 'base.html' %}
{% load static %}

{% block title %}パスワード変更{% endblock %}

{% block contents %}
<div class="container">
    <section class="main_cont effect d_02">
        <h2 class="midasi" style="text-align:center">パスワード変更</h2>
        <div style="float: left;">
            <a class="btn btn-info" href="javascript:history.back()" style="background-color: #0066FF;">戻る</a>
        </div>
        <form id="mailform" method="post">
            {% csrf_token %}

            <table class="table_form">
                <tr>
                    <th>現在のパスワード<span class="required">必須</span></th>
                    <td>{{ form.current_password }}{{ form.current_password.errors }}</td>
                </tr>
                <tr>
                    <th>新しいパスワード<span class="required">必須</span></th>
                    <td>{{ form.new_password }}{{ form.new_password.errors }}
                        <p class="opacity">英数字を含む6文字以上の入力をお願いします。</p>
                    </td>
                    
                </tr>
                <tr>
                    <th>新しいパスワード(確認)<span class="required">必須</span></th>
                    <td>{{ form.confirm_new_password }}{{ form.confirm_new_password.errors }}
                        <p class="opacity">上記パスワードと同様のパスワードの入力をお願いします。</p>
                    </td>
                    
                </tr>
                
            </table>
            <div style="text-align: center;">
                <i class="fa fa-send"><button class="btn btn-primary" name="next" value="send" type="submit" style="background-color: #0066FF; padding: 10px 20px;">変更する</button></i>
            </div>
        </form>
    </section>
</div>
{% endblock %}