{% extends 'base.html' %}
{% load static %}
{% load myfilter %}

{% block title %}チャット一覧{% endblock %}

{% block contents %}
<section class="main_cont effect d_02">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="midasi" style="text-align:center">チャット一覧</h2>
        
        <div class="my-div-style w-100">
            {% for r,u in room_dict.items %}
            <div class="row"> 
                <div class="col-2 col-sm-1"></div>      
                <div class="col-3 col-sm-2 mx-auto chat_room">
                    {% get_chat user u.pk as flag %}
                    {% if flag == 0 %}
                        {% if u.usericon %}
                        <img src="{{ u.usericon.url }}" class="icon-img">
                        {% else %}
                        <img src="{% static 'img/user-icon.png' %}" class="icon-img">
                        {% endif %}
                    {% else %}
                        {% if u.usericon %}
                        <img src="{{ u.usericon.url }}" class="icon-img"><span>{% get_chat user u.pk %}</span>
                        {% else %}
                        <img src="{% static 'img/user-icon.png' %}" class="icon-img"><span class="span">{% get_chat user u.pk %}</span>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-6 col-sm-3 mx-auto">
                    {{u.username}}
                </div>
                <div class="col-5 col-sm-1"></div>
                <div class="col-6 col-sm-3 mx-auto">
                {{r.last_at}}更新
                </div>
                <div class="text-right col-6 col-sm-2 mx-auto">
                    <form method="POST" action="{% url 'barter_app:chat_message' %}#message_form">
                        {% csrf_token %}
                        <input type=hidden name="g_user" value="{{u.pk}}">
                        <input type="hidden" name="chat_list" value="chat">
                        <input type="hidden" name="link2" value="c_list"> 
                        <button class="btn btn-primary" type="submit">詳細</button>
                    </form>             
                </div>
                <div class="col-1 col-sm-1"></div>      
            </div>
            <hr>
            <br>
            {% empty %}
                <br>
                <p class="offer_p">チャットがありません。</p>
            {% endfor %}
        </div>
        </div>
    </div>
</div>
</section>
{% endblock %}