{% extends 'base.html' %}
{% load static %}

{% block title %}{{ partner_list.username }}さんとチャット{% endblock %}
{% block head %}

{% endblock %}

{% block contents %}
<section class="main_cont effect d_02">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="midasi" style="text-align:center">{{ partner_list.username }}さんとチャット</h2>
        </div>
        <div style="float: left;">
            {% if sgd == 'sgd' %} <!-- 新しいタブの商品詳細のメッセージボタン -->
                <form method="POST" name="c_messa" enctype='multipart/form-data' action="{% url 'barter_app:seller_goods_detail' good_link.pk %}">
                    {% csrf_token %}
                    <input type=hidden name="g_user" value="{{g_user}}">
                    <input type="hidden" name="goods_pk" value="{{good_link.pk}}">
                    <input type="hidden" name="back" value="s_info">
                    <a class="btn btn-info" href="javascript:c_messa.submit()" style="background-color: #0066FF;">戻る</a>
                </form>
            {% elif back1 == 's_info' %} <!-- 新しいタブの出品者情報にあるメッセージボタン -->
                <form method="POST" name="c_messa1" enctype='multipart/form-data' action="{% url 'barter_app:seller_information' %}">
                    {% csrf_token %}
                    <input type=hidden name="g_user" value="{{g_user}}">
                    <input type="hidden" name="goods_pk" value="{{good_link.pk}}">
                    <input type="hidden" name="back1" value="s_info">
                    <a class="btn btn-info" href="javascript:c_messa1.submit()" style="background-color: #0066FF;">戻る</a>
                </form>
            {% elif b_back == 's_info' %} <!-- 出品者情報のメッセージボタン -->
                <form method="POST" name="c_messa" enctype='multipart/form-data' action="{% url 'barter_app:seller_information' %}">
                    {% csrf_token %}
                    <input type="hidden" name="b_back" value="s_info">
                    <input type=hidden name="g_user" value="{{g_user}}">
                    {% if offer %}
                        <input type="hidden" name="offer_pk" value="{{offer.pk}}">
                    {% endif %} 
                    {% if trade %}
                        <input type="hidden" name="trade_pk" value="{{trade.pk}}">
                    {% endif %}
                    {% if o_good_link %}
                        <input type="hidden" name="o_goods_pk" value="{{o_good_link.pk}}">
                    {% elif good_link %}
                        <input type="hidden" name="goods_pk" value="{{good_link.pk}}">
                    {% endif %}
                    <a class="btn btn-info" href="javascript:c_messa.submit()" style="background-color: #0066FF;">戻る</a>
                </form>
            {% elif link2 == 'c_list' %}
                <a class="btn btn-info" href="{% url 'barter_app:chat_room_list' %}" style="background-color: #0066FF;">戻る</a>                
            {% elif link2 == 'todos' %}
                <a class="btn btn-info" href="{% url 'barter_app:todos' %}" style="background-color: #0066FF;">戻る</a>                
            {% elif link2 == 'g_detail' %}
                <a class="btn btn-info" href="{% url 'barter_app:goods_detail' goods.pk %}" style="background-color: #0066FF;">戻る</a>
            {% endif %}
        
        </div>
    </div>
    <div class="col-sm-10 mx-auto">
    {% for m in message_all %}
    {% if forloop.revcounter == 3 %}
    <div  id="message_form"></div>
    {% endif %}
    {% if m.sender == user.pk %}
        <div class="row balloon-chat right">
            <div class="col-sm-6">
            </div>           
            <div class="col-sm-6" style="text-align:right;">
                {{ my_list.username }}
            </div>
            <div class="col-sm-5">
            </div>           
            <div class="col-sm-6 chatting">
                {{ m.message|linebreaksbr }}
            </div>
            <div class="col-sm-1 figure">
                {% if my_list.usericon %}
                <img src="{{ my_list.usericon.url }}" class="icon-img">
                {% else %}
                <img src="{% static 'img/user-icon.png' %}" class="icon-img">
                {% endif %}
            </div>
        </div>
        <div class="row">           
            <div class="col-sm-11" style="text-align:right">
                {{ m.completion_at }}
            </div>
        </div>
        <br>
    {%else%}
        <div class="row balloon-chat left">
            <div class="col-sm-6" style="text-align:left;">
                {{ partner_list.username }}
            </div>
            <div class="col-sm-6">
            </div>         
            <div class="col-sm-1 figure">
                {% if partner_list.usericon %}
                <img src="{{ partner_list.usericon.url }}" class="icon-img">
                {% else %}
                <img src="{% static 'img/user-icon.png' %}" class="icon-img">
                {% endif %}
            </div>         
            <div class="col-sm-6 chatting">
                {{ m.message|linebreaksbr }}
            </div>
            <div class="col-sm-5" style="text-align:left">
            </div>         
        </div>
        <div class="row">     
            <div class="col-sm-1">
            </div>               
            <div class="col-sm-11" style="text-align:left;">
                {{ m.completion_at }}
            </div>
        </div>
        <br>
    {% endif %}
    {% endfor %}
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-10 mx-auto">
            <div class="my-div-style">
                <form method="POST" action="" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <table class="table">
                        {{ form.as_table }}
                    </table>
                    <input type="hidden" name="g_user" value="{{g_user}}">
                    <input type="hidden" name="room_pk" value="{{chat_room.pk}}">
                    {% if good_link %}
                        <input type="hidden" name="goods_pk" value="{{good_link.pk}}">
                    {% elif o_good_link %}
                        <input type="hidden" name="o_goods_pk" value="{{o_good_link.pk}}">
                    {% endif %}
                    {% if back1 == 's_info' %}
                        <input type="hidden" name="back1" value="s_info">
                    {% endif %}
                    {% if link2 == 'g_detail' %}
                        <input type="hidden" name="goods_pk" value="{{goods.pk}}">
                    {% endif %}
                    {% if sgd == 'sgd' %}
                        <input type="hidden" name="sgd" value="sgd">
                    {% endif %}
                    {% if offer %}
                        <input type="hidden" name="offer_pk" value="{{offer.pk}}">
                    {% endif %} 
                    {% if trade %}
                        <input type="hidden" name="trade_pk" value="{{trade.pk}}">
                    {% endif %}
                    {% if b_back %}
                        <input type="hidden" name="b_back" value="s_info">
                    {% endif %}
                    <div style="text-align: center;">
                        <i class="fa fa-send"><button class="btn btn-primary" name="next" value="send" type="submit" style="background-color: #0066FF; padding: 10px 20px;">&#xf1d8; 送信</button></i>
                    </div>
                </form>
            </div>
        </div>
    </div>    
</div>
</section>
<script>

</script>
{% endblock %}