{% extends 'base.html' %}
{% load static %}

{% block title %}{{g_user.username}} 評価一覧{% endblock %}
{% block head %}
<style>

</style>
{% endblock %}
{% block contents %}
<link  rel="stylesheet" href="{% static 'evaluation.css' %}">
<div class="container">
    <section class="main_cont effect d_02">
        <h2 class="midasi" style="text-align: center;">評価一覧</h2>
        <a class="btn btn-info" href="javascript:history.back()" style="background-color: #0066FF; text-align: center;">戻る</a>
        <br>
        <table class="flex">
            <tr>
                <td>
                    {% if g_user.usericon %}
                        <img src="{{ g_user.usericon.url }}" class="prof-icon">
                    {% else %}
                        <img src="{% static 'img/user-icon.png' %}" class="prof-icon">
                    {% endif %}
                </td>
                <td>&nbsp;</td>
                <td>
                    <h2>{{ g_user.username }}</h2>
                    <h3>良い評価：{{ g_user.good_evaluation }}　悪い評価：{{ g_user.bad_evaluation }}</h3>
                </td>
            </tr>
        </table>

        <br>
        <br>
            <div class="history-list">
                
                <div class="area">
                    <input type="radio" name="tab_name" id="tab1" checked>
                    <label class="tab_class1" for="tab1"><span>全ての評価</span></label>
                    <div class="content_class">
                        
                        {% if evaluation_list %}
                            {% for eva in evaluation_list %}
                                <tr>
                                <div class="row">
                                    <div class="col-sm-1">
                                    {% if eva.eva_radio == 'good' %}
                                    
                                        <img src="{% static 'img/index/good.png' %}" alt=""width="20" height="20">
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="row" style="background: #dddddd;">
                                            良いユーザーです
                                    {% else%}
                                    
                                        <img src="{% static 'img/index/bad.png' %}" alt=""width="20" height="20">
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="row" style="background: #dddddd;">
                                            悪いユーザーです
                                    {% endif %}

                                            （評価者：{{eva.eva_username}}　
                                            評価日時：{{eva.created_at}}）
                                        </div>
                                        <div class="row">
                                                コメント：{{eva.review}}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                        <p>-----該当なし-----</p>
                        {% endif %}
                        
                    </div>
                    <input type="radio" name="tab_name" id="tab2" >
                    <label class="tab_class2" for="tab2"><span>良い評価</span></label>
                    <div class="content_class">
                        
                        {% if evaluation_list %}
                            {% for eva in good_evaluation %}
                                <div class="row">
                                    <div class="col-sm-1">
                                        <img src="{% static 'img/index/good.png' %}" alt=""width="20" height="20">
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="row" style="background: #dddddd;">
                                            良いユーザーです
                                            （評価者：{{eva.eva_username}}　
                                            評価日時：{{eva.created_at}}）
                                        </div>
                                        <div class="row">
                                                コメント：{{eva.review}}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                        <p>-----該当なし-----</p>
                        {% endif %}
                        
                    </div>
                    <input type="radio" name="tab_name" id="tab3" >
                    <label class="tab_class3" for="tab3"><span>悪い評価</span></label>
                    <div class="content_class">
                        
                        {% if evaluation_list %}
                            {% for eva in bad_evaluation %}
                                <div class="row">
                                    <div class="col-sm-1">
                                        <img src="{% static 'img/index/bad.png' %}" alt=""width="20" height="20">
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="row" style="background: #dddddd;">
                                            悪いユーザーです
                                            （評価者：{{eva.eva_username}}　
                                            評価日時：{{eva.created_at}}）
                                        </div>
                                        <div class="row">
                                                コメント：{{eva.review}}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                        <p>-----該当なし-----</p>
                        {% endif %}
                        
                    </div>
                </div>
                <br>
                <h6>※ 履歴は100件まで表示されます。</h6>
            </div>
    </section>
    {% if page_obj.has_other_pages %}
    <nav aria-label="Page navigation example">
        <ul class="pagination" style="justify-content: center;">
            {% if page_obj.has_previous %}
                <li><a class="page-link text-primary d-inline-block" href="?page={{ page_obj.previous_page_number }}"><<</a></li>
            {% else %}
                <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#"><<</div></li>
            {% endif %}

            {% if page_obj.has_previous %}
                {% if page_obj.previous_page_number != 1 %}
                    <li><a class="page-link text-primary d-inline-block" href="?page=1">1</a></li>
                    <li>…</li>
                {% endif %}
                <li><a class="page-link text-primary d-inline-block" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}
            <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">{{ page_obj.number }}</div></li>
            {% if page_obj.has_next %}
                <li><a class="page-link text-primary d-inline-block" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                    <li>…</li>
                    <li><a class="page-link text-primary d-inline-block" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                {% endif %}
            {% endif %}
            {% if page_obj.has_next %}
                <li><a class="page-link text-primary d-inline-block" href="?page={{ page_obj.next_page_number }}">>></a></li>
            {% else %}
                <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">>></div></li>
            {% endif %}
        </ul>
    </nav>
  {% endif %}
</div>

{% endblock %}