{% extends 'base.html' %}
{% load static %}

{% block title %}評価投稿確認{% endblock %}

{% block contents %}
<section class="main_cont effect d_02">
    <div class="container">
        <h2 class="midasi" style="text-align:center">評価投稿確認</h2>
        <div class="row">
            <div class="col-sm-10">
                <div style="float: left;">
                    <form method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <input type="hidden" name="radio" value="{{eva_radio}}">
                        <input type="hidden" name="review" value="{{review}}">
                        <input type="hidden" name="o_user" value="{{o_user.pk}}">
                        <input type="hidden" name="trade_pk" value="{{trade.pk}}">
                        <button class="btn btn-primary" name="next" value="back" type="submit">戻る</button>
                    </form>
                </div>
            </div>
        </div>

        <h3 style="text-align:center">相手の商品</h3>
        {% if trade.goods.user == user %} <!-- 自分が出品者だったら -->
            <div class="row">
                <div class="col-sm-10 mx-auto">
                    <div class="widleft">
                        <table class="table">
                            <tr>
                                <th>商品名</th>
                                <td>{{trade.offer.name}}</td>
                            </tr>
                            <tr>
                                <th>商品説明</th>
                                <td>{{trade.offer.content | linebreaks}}</td>
                            </tr>
                            <tr>
                                <th>カテゴリー</th>
                                <td>{{trade.offer.category}}</td>
                            </tr>
                            <tr>
                                <th>出品地域</th>
                                <td>{{trade.offer.user.prefecture}}</td>
                            </tr>
                            <tr>
                                <th>商品状態</th>
                                <td>{{trade.offer.status}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="widright">
                        <div class="row">
                            <div class="col-8 col-sm-12 mx-auto">
                                {% if trade.offer.photo1 %}
                                    <img id="photo_img" src="{{ trade.offer.photo1.url }}" onClick="henkou()" style="width: 300px; height: 300px;"/>
                                {% else %}
                                    <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        {% else %} <!-- 自分が申請者だったら -->
            <div class="row">
                <div class="col-sm-10 mx-auto">
                    <div class="widleft">
                        <table class="table">
                            <tr>
                                <th>商品名</th>
                                <td>{{trade.goods.name}}</td>
                            </tr>
                            <tr>
                                <th>商品説明</th>
                                <td>{{trade.goods.content | linebreaks}}</td>
                            </tr>
                            <tr>
                                <th>カテゴリー</th>
                                <td>{{trade.goods.category}}</td>
                            </tr>
                            <tr>
                                <th>出品地域</th>
                                <td>{{trade.goods.user.prefecture}}</td>
                            </tr>
                            <tr>
                                <th>商品状態</th>
                                <td>{{trade.goods.status}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="widright">
                        <div class="row">
                            <div class="col-8 col-sm-12 mx-auto">
                                {% if trade.goods.photo1 %}
                                    <img id="photo_img" src="{{ trade.goods.photo1.url }}" onClick="henkou()" style="width: 300px; height: 300px;"/>
                                {% else %}
                                    <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row" style="text-align: center;">
            <div class="col-sm-5">
                評価
            </div>
            <div class="col-sm-5">
                {%if eva_radio == "good"%}
                良かった
                {%elif eva_radio == "bad"%}
                悪かった
                {%endif%}
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-sm-5">
                評価コメント
            </div>
            <div class="col-sm-5">
                {{review}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-10 mx-auto" style="text-align: center;">
                <form method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <input type="hidden" name="radio" value="{{eva_radio}}">
                    <input type="hidden" name="review" value="{{review}}">
                    <input type="hidden" name="o_user" value="{{o_user.pk}}">
                    <input type="hidden" name="trade_pk" value="{{trade.pk}}">
                    <h3>取引相手を評価しますか？</h3>
                    <h6>（※一度した評価は取り消せません）</h6>
                    <button class="btn btn-primary" name="next" value="create" type="submit">確定</button>
                </form>
            </div>
        </div>
    </div>
</section>
<br>
<br>
{% endblock %}