{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}受取評価{% endblock %}

{% block active_evaluation %}active{% endblock %}

{% block contents %}
<link rel="stylesheet" href="{% static 'mystyle.css' %}" />
<div class="container">
    <section class="main_cont effect d_02">
        
        <h2 class="midasi" style="text-align:center">受取評価</h2>
        {%if comp_message%}
            <div style="text-align: center;">
                <br>
                <br>
                <h3>{{comp_message}}</h3>
                <br>
                <form method="GET" action="{% url 'barter_app:home' %}">
                    <button class="btn btn-primary" type="submit">トップページに戻る</button>
                </form>
            </div>
        {%else%}
        <div style="float: left;">
            <a class="btn btn-info" href="javascript:history.back()" style="background-color: #0066FF;">戻る</a>
        </div>
        <br>
        <br>
        <h3 style="text-align:center">{{o_user.username}} さんを評価します</h3>
        <br>
        <form id="mailform" method="post">
            {% csrf_token %}

            <div class="example3" style="text-align: center;">   
                <label>
                    <img src="{% static 'img/index/good.png' %}" alt="" class="img_size"><br>
                    <input type="radio" name="radio" value='good' style="transform:scale(1.8);" required><h4>良かった</h4> 
                </label>

                <label>
                    <img src="{% static 'img/index/bad.png' %}" alt="" class="img_size"><br>
                    <input type="radio" name="radio" value='bad' style="transform:scale(1.8);"><h4>悪かった</h4>
                </label>
            </div>
            <div class="col-sm-8  mx-auto" style="text-align:center">
                {% for field in form %}
                {{field}}
                {% endfor %}
                    <input type="hidden" name="o_user" value="{{o_user.pk}}">
                    <input type="hidden" name="trade_pk" value="{{trade.pk}}">
                    <input type="hidden" name="next" value="confirm">
                <div class="form_btn">
                    <input class="btn btn-primary" type="submit" value="投稿する" />
                </div>
            </div>
        </form>
        {%endif%}
    </section>
</div>
{% endblock %}