{% extends 'base.html' %}
{% load static %}

{% block title %}商品削除ページ{% endblock %}

{% block contents %}
<div class="container">
    <h2 class="midasi" style="text-align:center">商品削除</h2>
    <div class="row">
        <div class="my-div-style w-100">
            <form method="POST">
                {% csrf_token %}
                <h4 style="text-align:center;">本当に削除しますか？</h4>
                <input type=hidden name="goods_id" value="{{goods.pk}}">
                <div style="text-align: center;">
                    <a class="btn btn-secondary mt-5 ml-2" href="{% url 'barter_app:goods_detail' goods.pk %}" style="background-color: #0066FF; margin-right: 10px;">キャンセル</a>
                    <button class="btn btn-primary w-20 mt-5" name="next" value="delete" type="submit" style="background-color: red;">削除</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}