{% extends 'base.html' %}
{% load static %}

{% block title %}商品一覧{% endblock %}
{% block head %}
<link  rel="stylesheet" href="{% static 'ALL_style.css' %}">
<style>
    .container {
        padding-top: 0px;
    }
    @media screen and (max-width:769px) {
        .top_hd {
            width: 100%;
            margin-top: 0px;
        }
        main.main {
            overflow: hidden;
        }
        
    }
    @media (min-width: 992px) {
        .col-lg-15 {
            width: 10%;
            flex: 0 0 20%;
        }
    }

</style>
<script>

    var category2_1 = ['詳細なカテゴリーを選択', 'すべて', 'おもちゃ',
                       'タレントグッズ', 'コミック/アニメグッズ',
                       'フィギュア',];
    var category2_2 = ['詳細なカテゴリーを選択', 'すべて', '邦楽', '洋楽',
                       'アニメ', 'クラシック','K-POP/アジア',
                       'キッズ/ファミリー', 'その他',];
    var category2_3 = ['詳細なカテゴリーを選択','すべて', '外国映画',
                       '日本映画', 'アニメ', 'TVドラマ','ミュージック',
                       'お笑い/バラエティ', 'スポーツ/フィットネス',
                       'キッズ/ファミリー', 'その他',];

    var category1 = document.getElementById("category1");
    var Element = document.getElementById('category2');

    var category_list = [];
    if (category1 == 'おもちゃ・グッズ') {
        category_list = category2_1;
    } else if (category1 == 'CD') {
        category_list = category2_2;
    } else {
        category_list = category2_3;
    }
    for (var cnt=0; cnt<category_list.length; cnt++) {
            var option = document.createElement("option");
            option.value = cnt;
            option.innerText = cnt;
            Element.appendChild(option);
        }
    
    document.getElementById('category2').innerHTML = category_list.join('');
</script>
{% endblock %}

{% block contents %}
<div class="container effect" style="margin-top:90px; text-align: center;">
    <div class="row" >
        <div class="col-sm-12">
            <h2 class="midasi" style="text-align: center;">商品一覧</h2>
        </div>
    </div>
    <p>
    <form method="GET" action="{% url 'barter_app:goods_search' %}" >
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-3 mx-auto">
                都道府県
                {{prefecture_form.name}}
            </div>
            <div class="col-sm-3 mx-auto">
                カテゴリー
                <select class="form-control" name="category1" id="category1">
                    <option value="{{category1}}" selected>{%if category1 %}{{category1}}{%else%}カテゴリーを選択{%endif%}</option>
                    <option value="おもちゃ・グッズ">おもちゃ・グッズ</option>
                    <option value="CD">CD</option>
                    <option value="DVD">DVD</option>
                </select>
            </div>
            <div class="col-sm-4 mx-auto">
                詳細カテゴリー
                <select class="form-control" name="category2" id="category2" disabled>
                    <option {%if category2 == '' %}value=" "{%else%} value="{{category2}}"{%endif%} selected="selected">{%if category2 == '' %}------------{%else%}{{category2}}{%endif%}</option>
                    <option value="すべて" data-val="おもちゃ・グッズ">すべて</option>
                    <option value="おもちゃ" data-val="おもちゃ・グッズ">おもちゃ</option>
                    <option value="タレントグッズ" data-val="おもちゃ・グッズ">タレントグッズ</option>
                    <option value="コミック/アニメグッズ" data-val="おもちゃ・グッズ">コミック/アニメグッズ</option>
                    <option value="フィギュア" data-val="おもちゃ・グッズ">フィギュア</option>
                    
                    <option value="すべて" data-val="CD">すべて</option>
                    <option value="洋楽" data-val="CD">洋楽</option>
                    <option value="アニメ" data-val="CD">アニメ</option>
                    <option value="クラシック" data-val="CD">クラシック</option>
                    <option value="K-POP/アジア" data-val="CD">K-POP/アジア</option>
                    <option value="キッズ/ファミリー" data-val="CD">キッズ/ファミリー</option>
                    <option value="その他" data-val="CD">その他</option>
                    
                    <option value="すべて" data-val="DVD">すべて</option>
                    <option value="外国映画" data-val="DVD">外国映画</option>
                    <option value="日本映画" data-val="DVD">日本映画</option>
                    <option value="アニメ" data-val="DVD">アニメ</option>
                    <option value="TVドラマ" data-val="DVD">TVドラマ</option>
                    <option value="ミュージック" data-val="DVD">ミュージック</option>
                    <option value="お笑い/バラエティ" data-val="DVD">お笑い/バラエティ</option>
                    <option value="スポーツ/フィットネス" data-val="DVD">スポーツ/フィットネス</option>
                    <option value="キッズ/ファミリー" data-val="DVD">キッズ/ファミリー</option>
                    <option value="その他" data-val="DVD">その他</option>
                </select>
            </div>
            <div class="col-sm-4 mx-auto" style="margin-top: 10px;">
                キーワード
                <input class="form-control" type="text" name="word" value="{{word}}" />
            </div>
            <div class="col-sm-2 mx-auto" style="margin-top: 10px;">
                新品未使用
                <input type="checkbox" class="form-control" name="not_use">
            </div>
            <div class="col-sm-8  mx-auto" style="text-align:center">
                <div class="form_btn">
                    <input class="btn btn-primary" type="submit" value="検索する" />
                </div>
            </div>
        </div>
    </form>
    <p>検索結果 {{search_num}} 件</p>
    <a class="btn-animation-03" style="margin-top: 15px;" href="{% url 'barter_app:transaction_example' %}"><span>過去の成立済み取引</span></a></p>
    <div class="row">
        <div class="my-div-style w-100">
            <div class="row">
            {% for goods in goods_list %}
            <div class="col-5 col-sm-4 col-md-3 col-lg-15 col-xl-2">
                <form method="POST" action="{% url 'barter_app:goods_detail' goods.pk %}" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="goods_hover">
                        <button class="goods_btn" name="link" value="glist">
                            <div class="goods_status" goods-status={{goods.status}}>
                                {%if goods.created_at|date:"Y-m-d-H" > new_time%}
                                    <div class="new_goods">
                                        {% if goods.photo1 %}
                                                <img src="{{ goods.photo1.url }}"  style="width: 180px; height: 180px;"/>
                                        {% else %}
                                            <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 180px; height: 180px;"/>
                                        {% endif %}
                                    </div>
                                {%else%}
                                    {% if goods.photo1 %}
                                        <img src="{{ goods.photo1.url }}"  style="width: 180px; height: 180px;"/>
                                    {% else %}
                                        <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 180px; height: 180px;"/>
                                    {% endif %}
                                {%endif%}
                            </div>
                            <p class="goods_list_font">{{ goods.name | truncatechars:11 }}</p>
                        </button>
                    </div>
                </form>
            </div>
            {% empty %}
            <div class="col-sm-12">
                <p class="offer_p">商品がありません。</p>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>

    {% if page_obj.has_other_pages %}
    <nav aria-label="Page navigation example">
        <ul class="pagination" style="justify-content: center;">
            {% if page_obj.has_previous %}
                <li><a class="page-link text-primary d-inline-block" href="?page={{ page_obj.previous_page_number }}"><<</a></li>
            {% else %}
                <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#"><<</div></li>
            {% endif %}

            {% if page_obj.has_previous %}
                {% if page_obj.previous_page_number != 1 %}
                    <li><a class="page-link text-primary d-inline-block" href="?page=1">1</a></li>
                    <li>…</li>
                {% endif %}
                <li><a class="page-link text-primary d-inline-block" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}
            <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">{{ page_obj.number }}</div></li>
            {% if page_obj.has_next %}
                <li><a class="page-link text-primary d-inline-block" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                    <li>…</li>
                    <li><a class="page-link text-primary d-inline-block" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                {% endif %}
            {% endif %}
            {% if page_obj.has_next %}
                <li><a class="page-link text-primary d-inline-block" href="?page={{ page_obj.next_page_number }}">>></a></li>
            {% else %}
                <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">>></div></li>
            {% endif %}
        </ul>
    </nav>
  {% endif %}
</div>

{% endblock %}

{% block extrajs %}
<script src="{% static 'myjs.js' %}"></script>
{% endblock %}