{% extends 'base.html' %}
{% load static %}

{% block title %}商品出品{% endblock %}
{% block head %}
<script>
    $(function(){
        $('#id_content').keyup(function(){
        var count1 = $(this).val().length;
        var count2 = $(this).val().replace(/\n/g, "").length;
        var count = (count1 - count2) * 2 + count2
        if (count > 200) {
            $('.show-count').html("<span style='color:red'>" + count + "</span>")
        } else {
            $('.show-count').text(count);
        }
        });
    });
</script>
{% endblock %}

{% block contents %}
<section class="main_cont effect d_02">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="midasi" style="text-align:center">出品商品データ入力</h2>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="my-div-style">
            <form method="POST" id="mailform" enctype='multipart/form-data'>
                {% csrf_token %}
                
                <table class="table_form">
                    <tr>
                        <th style="text-align: left;">商品名<span class="required">必須</span></th>
                        <td>{{ form.name.errors }}{{ form.name }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">
                            商品説明<br>
                            <span class="show-count">0</span>文字/200文字<br>
                            <div style="font-size: 12px;">※改行は2文字分のカウントをします</div>
                        </th>
                        <td>{{ form.content.errors }}{{ form.content }}</td>

                    </tr>
                    <tr>
                        <th style="text-align: left;">カテゴリー<span class="required">必須</span></th>
                        <td>{{ form.category }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">商品状態<span class="required">必須</span></th>
                        <td>{{ form.status }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">写真１</th>
                        <td>{{ form.photo1 }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">写真２</th>
                        <td>{{ form.photo2 }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">写真３</th>
                        <td>{{ form.photo3 }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">写真４</th>
                        <td>{{ form.photo4 }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">写真５</th>
                        <td>{{ form.photo5 }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="text-align: center;">
                                <button class="btn btn-primary" name="next" value="confirm" type="submit" style="background-color: #0066FF; padding: 10px 20px;">作成</button>
                            </div>
                        </td>   
                    </tr>
                </table>
                
            </form>
        </div>
    </div>
    </div>    
</div>
</section>


<br>
<br>
{% endblock %}