{% extends 'base.html' %}
{% load static %}

{% block title %}出品商品データ確認{% endblock %}

{% block head %}
<script>
    var img_src = new Array({% if goods.photo1 %}"{{ goods.photo1.url }}"{%endif%}{% if goods.photo2 %},"{{ goods.photo2.url }}"{%endif%}{% if goods.photo3 %},"{{ goods.photo3.url }}"{%endif%}{% if goods.photo4 %},"{{ goods.photo4.url }}"{%endif%}{% if goods.photo5 %},"{{ goods.photo5.url }}"{%endif%});
    var i = 0;
    var img_src2 = new Array({% if offer.photo1 %}"{{ offer.photo1.url }}"{%endif%}{% if offer.photo2 %},"{{ offer.photo2.url }}"{%endif%}{% if offer.photo3 %},"{{ offer.photo3.url }}"{%endif%}{% if offer.photo4 %},"{{ offer.photo4.url }}"{%endif%}{% if offer.photo5 %},"{{ offer.photo5.url }}"{%endif%});
    var i2 = 0;
    var img_src3 = new Array({% if goods2.photo1 %}"{{ goods2.photo1.url }}"{%endif%}{% if goods2.photo2 %},"{{ goods2.photo2.url }}"{%endif%}{% if goods2.photo3 %},"{{ goods2.photo3.url }}"{%endif%}{% if goods2.photo4 %},"{{ goods2.photo4.url }}"{%endif%}{% if goods2.photo5 %},"{{ goods2.photo5.url }}"{%endif%});
    var i3 = 0;

    function henkou() {
      if (i == img_src.length-1) {
        i = 0;
      } else {
        i ++;
      }
      document.getElementById("photo_img").src = img_src[i];
    }
    function img_change(num){
        i = num
        document.getElementById("photo_img").src = img_src[i];
    }
    function henkou2() {
        if (i2 == img_src2.length-1) {
          i2 = 0;
        } else {
           i2++;
        }
        document.getElementById("photo_img2").src = img_src2[i2];
      }
      function img_change2(num){
        i2 = num
        document.getElementById("photo_img2").src = img_src2[i2];
      }
      function henkou3() {
        if (i3 == img_src3.length-1) {
          i3 = 0;
        } else {
           i3++;
        }
        document.getElementById("photo_img3").src = img_src3[i3];
      }
      function img_change3(num){
        i3 = num
        document.getElementById("photo_img3").src = img_src3[i3];
      }
  </script>
{% endblock %}


{% block contents %}
<section class="main_cont effect d_02">
    <div class="container">
        <h2 class="midasi" style="text-align: center;">出品商品データ確認</h2>
        <div class="row">
            <div class="col-sm-10">
                <div style="float: left; margin-bottom: 15px;">
                    <form method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}
                        {% for field in form %}
                            {{field.as_hidden}}
                        {% endfor %}
                        <input type="hidden" name="goods_id" value="{{goods.id}}" id="id_name">
                        <div style="float: left;">
                            <button class="btn btn-primary" name="next" value="back" type="submit" style="background-color: #0066FF;">戻る</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-10 mx-auto">
                <div class="widleft">
                    <table class="table">
                        <tr>
                            <th>商品名</th>
                            <td>{{goods.name}}</td>
                        </tr>
                        <tr>
                            <th>商品説明</th>
                            <td>{{goods.content | linebreaks}}</td>
                        </tr>
                        <tr>
                            <th>カテゴリー</th>
                            <td>{{goods.category}}</td>
                        </tr>
                        <tr>
                            <th>出品地域</th>
                            <td>{{goods.user.prefecture}}</td>
                        </tr>
                        <tr>
                            <th>商品状態</th>
                            <td>{{goods.status}}</td>
                        </tr>
                        <tr>
                            <th>交換希望商品</th>
                            <td>{{user.comment | linebreaks}}</td>
                        </tr>
                    </table>
                </div>
                <div class="widright">
                    <div class="row">
                        <div class="col-8 col-sm-12 mx-auto">
                            {% if goods.photo1 %}
                                <img id="photo_img" src="{{ goods.photo1.url }}" onClick="henkou()" style="width: 300px; height: 300px;"/>
                            {% else %}
                                <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    {% if goods.photo2 %}
                        <div class="row">
                            <div class="col-9 col-sm-10 mx-auto">
                                {% if goods.photo1 %}
                                    <img src="{{ goods.photo1.url }}" onClick="img_change(0)" style="width: 50px; height: 50px;"/>
                                {% endif %}
                                {% if goods.photo2 %}
                                    <img src="{{ goods.photo2.url }}" onClick="img_change(1)" style="width: 50px; height: 50px;"/>
                                {% endif %}
                                {% if goods.photo3 %}
                                    <img src="{{ goods.photo3.url }}" onClick="img_change(2)" style="width: 50px; height: 50px;"/>
                                {% endif %}
                                {% if goods.photo4 %}
                                    <img src="{{ goods.photo4.url }}" onClick="img_change(3)" style="width: 50px; height: 50px;"/>
                                {% endif %}
                                {% if goods.photo5 %}
                                    <img src="{{ goods.photo5.url }}" onClick="img_change(4)" style="width: 50px; height: 50px;"/>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <br>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="my-div-style w-100">
                <h3 style="text-align: center;">この商品を出品します</h3>
                <form method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {% for field in form %}
                        {{field.as_hidden}}
                    {% endfor %}
                    <input type="hidden" name="goods_id" value="{{goods.id}}" id="id_name">
                    <div style="text-align: center;">
                        <button class="btn btn-primary" name="next" value="create" type="submit" style="background-color: #0066FF; padding: 10px 20px;">確定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<br>
<br>
{% endblock %}