{% extends 'base.html' %}
{% load static %}

{% block title %}お知らせ一覧{% endblock %}


{% block contents %}
<link rel="stylesheet" href="{% static 'All_style.css' %}" />
    <section class="main_cont effect d_02">
    <div class="content">
        <h2 class="my-div-style">お知らせ一覧</h2>
            <div class="row">
                <ul>
                <li><a href="#">2018年３月６日　新規プロジェクトをスタートしました。</a></li>
                <li><a href="#">2018年２月５日　新商品の情報を公開しました。</a></li>
                <li><a href="#">2018年１月４日　本年もどうぞよろしくお願い申し上げます。</a></li>
                </ul>

            <td><a class="btn btn-info" style="margin-top: 8px; margin-left: 10px;" href="{% url 'barter_app:home' %}">戻る</a></td>
            </div>
        </div>
</section>
{% endblock %}
