{% extends 'base.html' %}

{% load static %}

<!--
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
原則として、許可なしの再配布は禁止させていただきます。
また、無料でお使いになる場合は、【ＰＲ枠】のリンクは全て削除禁止です。
（※加工後の削除も禁止させていただいておりますのでご了承ください。）
PR枠の削除（有料プラン）に関するお問い合わせや、その他ご不明な点は、
http://www.s-hoshino.com/info.html、または、
https://www.megapx.com/contact.htmlのフォームよりお問い合わせください。
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
-->
{% block title %}トップ{% endblock %}

<!--[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{% block head %}
<style>
    .container {
        padding-top: 0px;
    }
    @media screen and (max-width:769px) {
        .top_hd {
            width: 100%;
            margin-top: 0px;
        }
        main.main {
            overflow: hidden;
        }
        
    }
</style>


</head>
{% endblock %}


{% block header %}
<header class ="top_hd">

<div class="top_img">
    <img src="{% static 'img/BARTOWN_TOP.png' %}" alt="トップイメージ" class="img_base">
</div>

<div class="menu_btn">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
</div>

</header>
{% endblock %}


{% block contents %}

<div class="shutter">
    <img src="{% static 'img/BARTOWN_logo.png' %}" alt="ロゴ" class="logo"/>
</div>

<div class="content">
    <section class="effect d_02">
        <img src="{% static 'img/NANI.png' %}" style="display: block; margin: auto; width: 60%;">
    </section>
</div>

<div class="content">
    <section class="effect d_02">
        <img src="{% static 'img/3STEP.png' %}" style="display: block; margin: auto; width: 60%;">
    </section>
</div>



<div class="obi">
    <div class="content">
        <section class="service">
            <h2>どうやって取引するの？</h2>
    
            <!-- ポップアップ中身 -->
            <input type="checkbox" id="pop-up_1">
                <div class="overlay">
                    <div class="pop_window">
                        <label class="close" for="pop-up_1">✖</label>
                        <p class="text">
                            ・まず最初に、会員登録をしていただきます。<br>
                            　(会員登録をしてない方は品物の閲覧のみできます。)<br>
                            ・初回ログイン後に氏名・住所等を入力していただきます。<br>
                            ※この登録情報は品物を発送する際に使用しますので、間違えのないようお願いします。
                        </p>
                    </div>
                </div>
            <input type="checkbox" id="pop-up_2">
                <div class="overlay">
                    <div class="pop_window">
                        <label class="close" for="pop-up_2">✖</label>
                        <p class="text">
                            ・取引では1回につき1チケット必要になります。<br>
                            ・チケットには送料と手数料込みの金額になるので、<br>
                            チケットのほかにお金はかかりません。<br>
                            ※決済方法はクレジットカードのみになります。<br>
                            ※1チケット300円です。
                        </p>
                    </div>
                </div>
            <input type="checkbox" id="pop-up_3">
                <div class="overlay">
                    <div class="pop_window">
                        <label class="close" for="pop-up_3">✖</label>
                        <p class="text">
                            ・物々交換が成立した際には、品物をBARTOWNに郵送していただきます。<br>
                            ・2人の品物が届いたのを確認してBARTOWNから双方に品物を送ります。<br>
                            　(BARTOWNでは品物の中身は確認いたしません。)<br>
                            ・住所・氏名は匿名のため安心です。
                        </p>
                    </div>
                </div>
            <input type="checkbox" id="pop-up_4">
                <div class="overlay">
                    <div class="pop_window">
                        <label class="close" for="pop-up_4">✖</label>
                        <p class="text">
                            ・品物が届き状態を確認したら取引は良かったか悪かったか評価していただきます。<br>
                            ・相手の方の評価を見れるので取引する際には参考にできます。
                        </p>
                </div>
            </div>
            <!-- /ポップアップ中身 -->

            <ul>
                <li class="effect"><p><strong>会員登録制</strong></p>
                    <span class="mask"><img src="{% static 'img/index/touroku.png' %}" alt="サンプルメージ"></span>
                    <label class="open" for="pop-up_1">詳しくはこちら</label>
                </li>
                
                <li class="effect d_02"><p><strong>取引はチケット制</strong></p>
                    <span class="mask"><img src="{% static 'img/index/ticket_top.png' %}" alt="サンプルメージ"></span>
                    <label class="open" for="pop-up_2">詳しくはこちら</label>
                </li>
                
                <li class="effect d_04"><p><strong>取引はBARTOWNが仲介</strong></p>
                    <span class="mask"><img src="{% static 'img/index/tyukai.png' %}" alt="サンプルメージ"></span>
                    <label class="open" for="pop-up_3">詳しくはこちら</label>
                </li>
                
                <li class="effect d_08"><p><strong>取引後は評価</strong></p>
                    <span class="mask"><img src="{% static 'img/index/good_bad.png' %}" alt="サンプルメージ"></span>
                    <label class="open" for="pop-up_4">詳しくはこちら</label>
                </li>
            </ul>
        </section>
    </div>
</div>
<!--
<div class="container">
    <div class="content">    
        <section class="contact effect d_04">
            <h2><i class="far fa-envelope-open"></i>お問い合わせ</h2>
            <p>下記よりお気軽にお問い合わせください。</p>
            <div class="btn_contact"><a href="{% url 'barter_app:inquiry' %}"><i class="fas fa-envelope"></i>お問い合わせフォーム</a></div>
        </section>
    </div>
</div>
-->
{% endblock %}

{% block extrajs %}
<script src="{% static 'myjs.js' %}"></script>
{% endblock %}