{% extends 'base.html' %}

{% block title %}お問い合わせ{% endblock %}

{% block active_inquiry %}active{% endblock %}

{% block contents %}
<div class="container">
    <section class="main_cont effect d_02">
        <h2 class="midasi" style="text-align:center">お問い合わせ</h2>
        <div style="float: left;">
            <a class="btn btn-info" href="javascript:history.back()" style="background-color: #0066FF;">戻る</a>
        </div>

        <form id="mailform" method="post">
            {% csrf_token %}

            {{form.non_field_errors}}

            <table class="table_form">
                <tr>
                    <th>お名前<span class="required">必須</span><p>your name</p></th>
                    <td>{{ form.name.errors }}{{form.name}}</td>
                </tr>
                <tr>
                    <th>メールアドレス<span class="required">必須</span><p>e-mail address</p></th>
                    <td>{{form.email}}</td>
                </tr>
                <tr>
                    <th>お問い合わせ内容<span class="required">必須</span><p>inquiry contents</p></th>
                    <td>{{ form.name.errors }}{{form.message}}</td>
                </tr>
                {{field.errors}}
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <i class="fa fa-send"><button class="btn btn-primary" name="next" value="send" type="submit" style="background-color: #0066FF; padding: 10px 20px;">&#xf1d8;送信</button></i>
                    </td>
                </tr>
            </table>
        </form>

    </section>
</div>
{% endblock %}
