{% extends 'base.html' %}
{% load static %}

{% block title %}お気に入り{% endblock %}

{% block contents %}
<link  rel="stylesheet" href="{% static 'ALL_style.css' %}">
<section class="main_cont effect d_02">
<div class="container">
    <div class="col-sm-12">
    <h2 class="midasi" style="text-align: center;">お気に入り</h2>

        <div class="row">   
            <div class="my-div-style w-100">
                {% for goods in favorite_list reversed %}
                    <div class="col-5 col-sm-4 col-md-3 col-lg-15 col-xl-2">
                        <form method="POST" action="{% url 'barter_app:goods_detail' goods.item.pk %}" enctype='multipart/form-data'>
                            {% csrf_token %}
                            <div class="goods_hover">
                                <button class="goods_btn" name="link" value="like">
                                    <div class="goods_status" goods-status={{goods.item.status}}>
                                        {%if goods.created_at|date:"Y-m-d-H" > new_time%}
                                            <div class="new_goods">
                                                {% if goods.item.photo1 %}
                                                    <img src="{{ goods.item.photo1.url }}" style="width: 180px; height: 180px;"/>
                                                {% else %}
                                                    <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 180px; height: 180px;"/>
                                                {% endif %}
                                            </div>
                                        {%else%}
                                            {% if goods.item.photo1 %}
                                                <img src="{{ goods.item.photo1.url }}" style="width: 180px; height: 180px;"/>
                                            {% else %}
                                                <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 180px; height: 180px;"/>
                                            {% endif %}
                                        {%endif%}
                                    </div>
                                    <p class="goods_list_font">{{ goods.item.name | truncatechars:11 }}</p>
                                </button>
                            </div>
                        </form>
                    </div>
                {% empty %}
                    <div class="col-sm-12">
                        <br>
                        <p class="offer_p">登録された商品はありません。</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
