
<form action="{% url 'barter_app:like' %}" method="POST">
    {% csrf_token %}
    {% if is_exist_fav %}
        <button class="btn-fav" id="like" name="article_id" value="{{ object.pk }}"><i class="fas fa-star unlike-btn"> お気に入り解除</i></button>
    {% else %}
        <button class="btn-fav" id="like" name="article_id" value="{{ object.pk }}"><i class="far fa-star like-btn"> お気に入り追加</i></button>      
    {% endif %}
</form>
