{% extends 'base.html' %}
{% load static %}
{% load myfilter %}

{% block title %}商品一覧{% endblock %}

{% block head %}
    <style>
        @media (min-width: 992px) {
            .col-lg-15 {
                width: 10%;
                flex: 0 0 20%;
            }
        }
    </style>
{% endblock %}

{% block contents %}
<link rel="stylesheet" href="{% static 'All_style.css' %}" />
<div class="container effect">
    <h2 class="midasi" style="text-align: center;">出品した商品</h2>
    <div class="row">  
        <div class="my-div-style w-100">
            <div class="row">
                {% for goods in goods_list %}
                <div class="col-5 col-sm-4 col-md-3 col-lg-15 col-xl-2">
                    <form method="POST" action="{% url 'barter_app:goods_detail' goods.pk %}" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <div class="goods_hover chat_room3">
                            <button class="goods_btn" name="link" value="mydis" type="submit">
                                <div class="goods_status" goods-status={{goods.status}}>
                                    {%if goods.created_at|date:"Y-m-d-H" > new_time%}
                                        <div class="new_goods">
                                            {% if goods.photo1 %}
                                                    <img src="{{ goods.photo1.url }}"  style="width: 180px; height: 180px;"/>
                                            {% else %}
                                                <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 180px; height: 180px;"/>
                                            {% endif %}
                                        </div>
                                    {%else%}
                                        {% if goods.photo1 %}
                                            <img src="{{ goods.photo1.url }}"  style="width: 180px; height: 180px;"/>
                                        {% else %}
                                            <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 180px; height: 180px;"/>
                                        {% endif %}
                                    {%endif%}
                                </div>
                                <p class="goods_list_font">{{ goods.name | truncatechars:11 }}</p>
                            </button>
                            {% get_chat3 user goods.pk as flag %}
                            {% if flag != 0 %}        
                                <span class="notice">{% get_chat3 user goods.pk %}</span>
                            {% endif %}
                        </div>
                    </form>
                </div>
                {% empty %}
                <div class="col-sm-12">
                    <p class="offer_p">出品した商品はありません。</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
