{% extends 'base.html' %}
{% load static %}

{% block title %}交換商品選択{% endblock %}

{% block contents %}
<link rel="stylesheet" href="{% static 'All_style.css' %}" />
<section class="main_cont effect d_02">
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <h2 class="midasi" style="text-align: center;">交換商品選択</h2>
            <div style="float: left;">
                <form method="POST" enctype='multipart/form-data' action="{% url 'barter_app:offer_select' %}">
                    {% csrf_token %}   
                    <input type="hidden" name="goods_id" value="{{goods.id}}">
                    {% if back1 == 's_info' %}
                        <input type="hidden" name="back1" value="s_info">
                    {% endif %}
                    <button class="btn btn-primary" type="submit">戻る</button>
                </form>
            </div>
        </div>
    </div>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-10">
                    <table class="offer_table">
                        {% for my_goods in my_goods_list %}
                            <div class="row">
                                <tr class="goods">
                                    <td>
                                        {% if my_goods.photo1 %}
                                            <img src="{{ my_goods.photo1.url }}" style ="width:200px; height:200px"/>
                                        {% else %}
                                            <img src="{% static 'img/noimage2.png' %}" alt="noimage" style ="width:200px; height:200px"/>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <h5>{{ my_goods.name }}</h5>
                                    </td>
                                    <td>
                                        <form method="POST" enctype='multipart/form-data' style="text-align: center;">
                                            {% csrf_token %}
                                            <input type="hidden" name="goods_id" value="{{goods.id}}" id="id_name">
                                            <input type="hidden" name="my_goods_id" value="{{my_goods.id}}">
                                            {% if back1 == 's_info' %}
                                                <input type="hidden" name="back1" value="s_info">
                                            {% endif %}                    
                                            <h5>この商品と交換しますか？</h5>
                                            <button class="btn btn-primary" name="next" value="confirm" type="submit">交換申請する</button>
                                        </form>
                                    </td>
                                </tr>
                                {% empty %}
                                    <p>商品がありません。</p>
                            </div>
                            <br>
                            <br>
                        {% endfor %}
                    </table>
                </div>
            </div>
</div>
</section>
<br>
<br>
{% endblock %}