{% extends 'base.html' %}
{% load static %}

{% block title %}申し込み一覧{% endblock %}

{% block contents %}
<link  rel="stylesheet" href="{% static 'ALL_style.css' %}">
<section class="main_cont effect d_02">
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <h2 class="midasi" style="text-align: center;">交換申請一覧</h2>
            <h3 class="offer_h3" style="text-align:center">交換申請中の商品</h3>
            <table class="offer_table">    
                {% for o in offer %}
                    <div class="row">
                        <tr>
                            <td style="width: 25%;">
                                <div class="offer_name">
                                    {{ o.goods | truncatechars:11 }}
                                </div>
                            </td>
                            <td>
                                {%if o.photo1 %}
                                    <img class="offer_photo" src="{{ o.goods.photo1.url }}"/>
                                {% else %}
                                    <img class="offer_photo" src="{% static 'img/noimage2.png' %}" alt="noimage"/>
                                {% endif %}
                            </td>
                            <td>
                                <form method="POST" action="{% url 'barter_app:offer_detail' %}">
                                {% csrf_token %}
                                    <input type=hidden name="offer_pk" value="{{o.pk}}">
                                    <input type="hidden" name="od1_2" value="myoffer">
                                    <button class="btn btn-primary offer_button" type="submit">詳細</button>
                                    {% if o.trade == 2%}
                                    <br>
                                    取引成立済み
                                    {% endif %}   
                                </form>
                            </td>
                        </tr>
                    </div>
                {% empty %}
                    <p class="offer_p">申請中の商品はありません。</p>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="my-div-style w-100">
            <h3 class="offer_h3" style="text-align:center">交換申請された商品</h3>
            <table class="offer_table">
                {% for o in offer2 %}
                <div class="row">
                    <tr>
                        <td style="width: 25%;">
                            <div class="offer_name">
                                {{ o.name | truncatechars:11 }}
                            </div>
                        </td>
                        <td>
                            {%if o.photo1 %}
                                <img class="offer_photo" src="{{ o.photo1.url }}"/>
                            {% else %}
                                <img class="offer_photo" src="{% static 'img/noimage2.png' %}" alt="noimage"/>
                            {% endif %}
                        </td>
                        <td>
                            <form method="POST" action="{% url 'barter_app:offer_detail' %}">
                            {% csrf_token %}
                                <input type=hidden name="offer_pk" value="{{o.pk}}">
                                <input type="hidden" name="od1_2" value="myoffer">
                                <button class="btn btn-primary offer_button" type="submit">詳細</button>
                                {% if o.trade == 2%}
                                <br>
                                取引成立済み
                                {% endif %}   
                            </form>
                        </td>
                    </tr>
                </div>
                {% empty %}
                    <p class="offer_p">申請された商品はありません。</p>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</section>


<br>
<br>
{% endblock %}