{% extends 'base.html' %}
{% load static %}

{% block title %}マイページ{% endblock %}

{% block contents %}
<link  rel="stylesheet" href="{% static 'mypage.css' %}">

<script>
    function goClick() {location.href = "{% url 'barter_app:settings_change_account_icon_only' %}";}
</script>

<section class="main_cont effect d_02">
    <div class="container">    
            <h2 class="midasi" style="text-align:center">マイページ</h2>

            <div style="display: flex;">
                <div class="button_solid008">
                    <h4 style="margin-top: 20px;"><strong>商品の管理</strong></h4>
                    <a style="margin-top: 0;" href="{% url 'barter_app:my_display' %}">出品済一覧</a>
                    <a href="{% url 'barter_app:my_offer' %}">交換申請一覧</a>
                    <a href="{% url 'barter_app:trading_history' %}">取引中一覧</a>
                    <a href="{% url 'barter_app:trading_history_end' %}">取引完了一覧</a>
    
                    <h4 style="margin-top: 20px;"><strong>その他設定</strong></h4>
                    <a style="margin-top: 0;" href="{% url 'barter_app:settings_change_account' %}">ユーザー情報変更</a>
                    <a href="{% url 'barter_app:change_password' %}">パスワード変更</a>
                    <a style="color: #961f1f;" href="{% url 'account_logout' %}">ログアウト</a>
                </div>

            <div class="icon_name_eva">
                {% if user.usericon %}
                    <img src="{{ user.usericon.url }}" class="mypage_icon button" onclick="goClick()">
                    <div class="my_name">{{ user.username }}</div>
                {% else %}
                    <img src="{% static 'img/user-icon.png' %}" class="mypage_icon button" style="background-color: white;" onclick="goClick()">
                    <div class="my_name">{{ user.username }}</div>
                {% endif %}

                <div class="my_eva">良い評価：{{ user.good_evaluation }}<br>悪い評価：{{ user.bad_evaluation }}</div>


                <div class="button_solid009" style="width: 50px;">
                    <form method="post" name="seller" action="{% url 'barter_app:user_evaluation_list' user.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="page" value="mypage">
                        <a style="color: #284d70;" href="javascript:seller.submit()">評価詳細</a>
                    </form>
                    <form method="post" name="tick2" action="{% url 'barter_app:ticket' %}">
                        {% csrf_token %}
                        <input type="hidden" name="page" value="mypage">
                        <a style="color: #157a2b;" href="javascript:tick2.submit()">チケット枚数 {{ user.ticket }}枚</a>
                    </form>
                    <a style="color: #d19b05;" href="{% url 'barter_app:likelist' %}">お気に入り一覧</a>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}