{% extends 'base.html' %}
{% load static %}

{% block title %}お知らせ一覧{% endblock %}

{% block contents %}
<section class="main_cont effect d_02">
<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="my-div-style" style="text-align:center">新着一覧</h2>
        </div>
    </div>
    <div class="row">
        <div class="my-div-style w-100">
            {% for n in notice_list %}
            <div class="row">
                <div class="col-sm-6 mx-auto">
                {{n.comment}}
                </div>
                <div class="col-sm-3 mx-auto">
                {{n.created_at}}
                </div>
            </div>
            {% empty %}
                <p>お知らせはありません。</p>
            {% endfor %}
        </div>
    </div>
</div>
</section>


<br>
<br>
{% endblock %}