{% extends 'base.html' %}
{% load static %}

{% block title %}交換申請取下げ確認{% endblock %}

{% block contents %}
<section class="main_cont effect d_02">
<div class="container">
    <h2 class="midasi" style="text-align:center">交換申請取下げ確認</h2>
    <div class="row">
        <div class="col-sm-10">
            <div style="float: left;">
                <form method="POST" enctype='multipart/form-data' action="{% url 'barter_app:offer_detail' %}">
                    {% csrf_token %}   
                    <button class="btn btn-primary" name="offer_pk" value="{{ offer.id }}" type="submit">戻る</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 mx-auto">
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <input type="hidden" name="offer_pk" value="{{offer.id}}" id="id_name">
                <input type="hidden" name="goods_pk" value="{{goods.id}}">
                <h5 class="trade_comp" style="margin-top: 25px;">交換申請を取り下げてもよろしいですか？</h5>
                <br>
                <br>
                <div style="text-align: center;">
                    <button class="btn btn-primary" name="next" value="cancel" type="submit" style="background-color: red; padding: 15px 20px;">確定</button>
                </div>
            </form>
        </div>
    </div>
</div>
</section>
<br>
<br>
{% endblock %}