{% extends 'base.html' %}
{% load static %}

{% block title %}交換申請方法{% endblock %}

{% block contents %}
<link rel="stylesheet" href="{% static 'All_style.css' %}" />
<section class="main_cont effect d_02">
<div class="container">
    <h2 class="midasi" style="text-align:center">交換申請方法</h2>
    {% if back1 == 's_info' %}
        <form method="POST" enctype='multipart/form-data' action="{% url 'barter_app:seller_goods_detail' goods.pk %}">
            {% csrf_token %}   
            <button class="btn btn-primary" type="submit">戻る</button>
        </form>
    {% else %}
        <form method="POST" enctype='multipart/form-data' action="{% url 'barter_app:goods_detail' goods.pk %}">
            {% csrf_token %}   
            <button class="btn btn-primary" type="submit">戻る</button>
        </form>
    {% endif %}
    <div class="row">
        <div class="col-sm-10 mx-auto">
            <form method="POST" name="form1" action="{% url 'barter_app:offer_create' %}" enctype='multipart/form-data'>
                {% csrf_token %}
                <input type="hidden" name="goods_id" value="{{goods.pk}}">
                {% if back1 == 's_info' %}
                    <input type="hidden" name="back1" value="s_info">
                {% endif %}
                <div class="o_s_btn1">
                    <a href="javascript:form1.submit()" class="o_s_btn2">
                        <h3>新規申し込み登録</h3>
                    </a>
                </div>
            </form>
            <form method="POST" name="form2" action="">
                {% csrf_token %}
                <input type="hidden" name="goods_id" value="{{goods.pk}}">
                <input type="hidden" name="next" value="goods_registed">
                {% if back1 == 's_info' %}
                    <input type="hidden" name="back1" value="s_info">
                {% endif %}
                <div class="o_s_btn1">
                    <a href="javascript:form2.submit()" class="o_s_btn3">
                        <h3>登録済み商品から申請する</h3>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
</section>
<br>
<br>
{% endblock %}