{% extends 'base.html' %}
{% load static %}

{% block title %}申込詳細{% endblock %}
{% block head %}
<script>
    var img_src = new Array({% if goods.photo1 %}"{{ goods.photo1.url }}"{%endif%}{% if goods.photo2 %},"{{ goods.photo2.url }}"{%endif%}{% if goods.photo3 %},"{{ goods.photo3.url }}"{%endif%}{% if goods.photo4 %},"{{ goods.photo4.url }}"{%endif%}{% if goods.photo5 %},"{{ goods.photo5.url }}"{%endif%});
    var i = 0;
    var img_src2 = new Array({% if offer.photo1 %}"{{ offer.photo1.url }}"{%endif%}{% if offer.photo2 %},"{{ offer.photo2.url }}"{%endif%}{% if offer.photo3 %},"{{ offer.photo3.url }}"{%endif%}{% if offer.photo4 %},"{{ offer.photo4.url }}"{%endif%}{% if offer.photo5 %},"{{ offer.photo5.url }}"{%endif%});
    var i2 = 0;
    var img_src3 = new Array({% if goods2.photo1 %}"{{ goods2.photo1.url }}"{%endif%}{% if goods2.photo2 %},"{{ goods2.photo2.url }}"{%endif%}{% if goods2.photo3 %},"{{ goods2.photo3.url }}"{%endif%}{% if goods2.photo4 %},"{{ goods2.photo4.url }}"{%endif%}{% if goods2.photo5 %},"{{ goods2.photo5.url }}"{%endif%});
    var i3 = 0;

    function henkou() {
      if (i == img_src.length-1) {
        i = 0;
      } else {
        i ++;
      }
      document.getElementById("photo_img").src = img_src[i];
    }
    function img_change(num){
        i = num
        document.getElementById("photo_img").src = img_src[i];
    }
    function henkou2() {
        if (i2 == img_src2.length-1) {
          i2 = 0;
        } else {
           i2++;
        }
        document.getElementById("photo_img2").src = img_src2[i2];
      }
      function img_change2(num){
        i2 = num
        document.getElementById("photo_img2").src = img_src2[i2];
      }
      function henkou3() {
        if (i3 == img_src3.length-1) {
          i3 = 0;
        } else {
           i3++;
        }
        document.getElementById("photo_img3").src = img_src3[i3];
      }
      function img_change3(num){
        i3 = num
        document.getElementById("photo_img3").src = img_src3[i3];
      }
  </script>
{% endblock %}

{% block contents %}
<section class="main_cont effect d_02">
    <div class="container">
        <h2 class="midasi" style="text-align:center">交換申請詳細</h2>
        <div class="row">
            <div class="col-sm-10">
                <div style="float: left;">
                    {% if link2 == 'todos' %}
                        <form method="POST" name="oback1" enctype='multipart/form-data' action="{% url 'barter_app:todos' %}">
                            {% csrf_token %}
                            <input type="hidden" name="offer_pk" value="{{offer.id}}">
                            <a class="btn btn-info" href="javascript:oback1.submit()" style="background-color: #0066FF;">戻る</a>
                        </form>
                    {% elif link2 == 'myoffer' %}
                        <form method="POST" name="oback2" enctype='multipart/form-data' action="{% url 'barter_app:my_offer' %}">
                            {% csrf_token %}
                            <input type="hidden" name="offer_pk" value="{{offer.id}}">
                            <a class="btn btn-info" href="javascript:oback2.submit()" style="background-color: #0066FF;">戻る</a>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if goods.trade == 2%}
        <h3 class="" style="text-align:center">{{trade_date}}に取引成立しました</h3>
        {% endif %}

        <h3 style="text-align:center">あなたの商品</h3>
        {%if goods.user == user%}
            <div class="row">              <!-- 申請された側の商品 -->
                <div class="col-sm-10 mx-auto">
                    <div class="widleft">
                        <table class="table">
                            <tr>
                                <th>商品名</th>
                                <form method="POST" name="od1" enctype='multipart/form-data' action="{% url 'barter_app:goods_detail' goods.pk %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="offer_pk" value="{{offer.id}}">
                                    <input type="hidden" name="link" value="o_detail">  <!-- リンク先名 -->
                                    <td><a href="javascript:od1.submit()">{{goods.name}}</a></td>
                                </form>
                            </tr>
                            <tr>
                                <th>商品説明</th>
                                <td>{{goods.content | truncatechars:10}}</td>
                            </tr>
                            <tr>
                                <th>カテゴリー</th>
                                <td>{{goods.category}}</td>
                            </tr>
                            <tr>
                                <th>出品地域</th>
                                <td>{{goods.user.prefecture}}</td>
                            </tr>
                            <tr>
                                <th>商品状態</th>
                                <td>{{goods.status}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="widright">
                        <div class="row">
                            <div class="col-8 col-sm-12 mx-auto">
                                {% if goods.photo1 %}
                                    <img id="photo_img" src="{{ goods.photo1.url }}" onClick="henkou()" style="width: 300px; height: 300px;"/>
                                {% else %}
                                    <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>
                                {% endif %}
                            </div>
                        </div>
                        {% if goods.photo2 %}
                            <hr>
                            <div class="row">
                                <div class="col-9 col-sm-10 mx-auto">
                                    {% if goods.photo1 %}
                                        <img src="{{ goods.photo1.url }}" onClick="img_change(0)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                    {% if goods.photo2 %}
                                        <img src="{{ goods.photo2.url }}" onClick="img_change(1)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                    {% if goods.photo3 %}
                                        <img src="{{ goods.photo3.url }}" onClick="img_change(2)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                    <br>
                                    {% if goods.photo4 %}
                                        <img src="{{ goods.photo4.url }}" onClick="img_change(3)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                    {% if goods.photo5 %}
                                        <img src="{{ goods.photo5.url }}" onClick="img_change(4)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        <br>
                    </div>
                </div>
            </div>
        {% else %}
            {% if goods2 %}
                <div class="row">  <!-- 登録済みの商品で申請した人 -->
                    <div class="col-sm-10 mx-auto">
                        <div class="widleft">    
                            <table class="table">
                                <tr>
                                    <th>商品名</th>
                                    <form method="POST" name="od2" enctype='multipart/form-data' action="{% url 'barter_app:goods_detail' goods2.pk %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="offer_pk" value="{{offer.id}}">
                                        <input type="hidden" name="link" value="o_detail">
                                        <td><a href="javascript:od2.submit()">{{goods2.name}}</a></td>
                                    </form>
                                </tr>
                                <tr>
                                    <th>商品説明</th>
                                    <td>{{goods2.content | truncatechars:10}}</td>
                                </tr>
                                <tr>
                                    <th>カテゴリー</th>
                                    <td>{{goods2.category}}</td>
                                </tr>
                                <tr>
                                    <th>出品地域</th>
                                    <td>{{goods2.user.prefecture}}</td>
                                </tr>
                                <tr>
                                    <th>商品状態</th>
                                    <td>{{goods2.status}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="widright">
                            <div class="row">
                                <div class="col-8 col-sm-12 mx-auto">
                                    {% if goods2.photo1 %}
                                        <img id="photo_img3" src="{{ goods2.photo1.url }}" onClick="henkou3()" style="width: 300px; height: 300px;"/>
                                    {% else %}
                                        <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>          
                                    {% endif %}
                                </div>
                            </div>
                            {% if goods2.photo2 %}
                                <hr>
                                <div class="row">
                                    <div class="col-9 col-sm-10 mx-auto">
                                        {% if goods2.photo1 %}
                                            <img src="{{ goods2.photo1.url }}" onClick="img_change3(0)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if goods2.photo2 %}
                                            <img src="{{ goods2.photo2.url }}" onClick="img_change3(1)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if goods2.photo3 %}
                                            <img src="{{ goods2.photo3.url }}" onClick="img_change3(2)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if goods2.photo4 %}
                                            <img src="{{ goods2.photo4.url }}" onClick="img_change3(3)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if goods2.photo5 %}
                                            <img src="{{ goods2.photo5.url }}" onClick="img_change3(4)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            <br>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">   <!-- 新規登録商品で申請した人 -->
                    <div class="col-sm-10 mx-auto">    
                        <div class="widleft">
                            <table class="table">
                                <tr>
                                    <th>商品名</th>
                                    <form method="POST" name="od3" enctype='multipart/form-data' action="{% url 'barter_app:goods_detail' offer.pk %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="nex" value="goods_detail">
                                        <input type="hidden" name="offer_pk" value="{{offer.id}}">
                                        <input type="hidden" name="link" value="o_detail">
                                        <td><a href="javascript:od3.submit()">{{offer.name}}</a></td>
                                    </form>
                                </tr>
                                <tr>
                                    <th>商品説明</th>
                                    <td>{{offer.content | truncatechars:10}}</td>
                                </tr>
                                <tr>
                                    <th>カテゴリー</th>
                                    <td>{{offer.category}}</td>
                                </tr>
                                <tr>
                                    <th>出品地域</th>
                                    <td>{{offer.user.prefecture}}</td>
                                </tr>
                                <tr>
                                    <th>商品状態</th>
                                    <td>{{offer.status}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="widright">
                            <div class="row">
                                <div class="col-8 col-sm-12 mx-auto">
                                    {% if offer.photo1 %}
                                        <img id="photo_img2" src="{{ offer.photo1.url }}" onClick="henkou2()" style="width: 300px; height: 300px;"/>
                                    {% else %}
                                        <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>            
                                    {% endif %}
                                </div>
                            </div>
                            {% if offer.photo2 %}
                                <hr>
                                <div class="row">
                                    <div class="col-9 col-sm-10 mx-auto">
                                        {% if offer.photo1 %}
                                            <img src="{{ offer.photo1.url }}" onClick="img_change2(0)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if offer.photo2 %}
                                            <img src="{{ offer.photo2.url }}" onClick="img_change2(1)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if offer.photo3 %}
                                            <img src="{{ offer.photo3.url }}" onClick="img_change2(2)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if offer.photo4 %}
                                            <img src="{{ offer.photo4.url }}" onClick="img_change2(3)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if offer.photo5 %}
                                            <img src="{{ offer.photo5.url }}" onClick="img_change2(4)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            <br>  
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <h3 style="text-align:center">相手の商品</h3>
        {%if goods.user == user%}
            {% if goods2 %}
                <div class="row"> <!-- 登録済の商品で申請した人 -->
                    <div class="col-sm-10 mx-auto">
                        <div class="widleft">
                            <table class="table">
                                <tr>
                                    <th>商品名</th>
                                    <form method="POST" name="od4" enctype='multipart/form-data' action="{% url 'barter_app:goods_detail' goods2.pk %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="offer_pk" value="{{offer.id}}">
                                        <input type="hidden" name="link" value="o_detail">
                                        <td><a href="javascript:od4.submit()">{{goods2.name}}</a></td>
                                    </form>
                                </tr>
                                <tr>
                                    <th>商品説明</th>
                                    <td>{{goods2.content | truncatechars:10}}</td>
                                </tr>
                                <tr>
                                    <th>カテゴリー</th>
                                    <td>{{goods2.category}}</td>
                                </tr>
                                <tr>
                                    <th>出品地域</th>
                                    <td>{{goods2.user.prefecture}}</td>
                                </tr>
                                <tr>
                                    <th>商品状態</th>
                                    <td>{{goods2.status}}</td>
                                </tr>
                            </table>
                        </div>

                        <div class="widright">
                            <div class="row">
                                <div class="col-8 col-sm-12 mx-auto">
                                    {% if goods2.photo1 %}
                                        <img id="photo_img3" src="{{ goods2.photo1.url }}" onClick="henkou3()" style="width: 300px; height: 300px;"/>
                                    {% else %}
                                        <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>        
                                    {% endif %}
                                </div>
                            </div>
                            {% if goods2.photo2 %}
                                <hr>
                                <div class="row">
                                    <div class="col-9 col-sm-10 mx-auto">
                                        {% if goods2.photo1 %}
                                            <img src="{{ goods2.photo1.url }}" onClick="img_change3(0)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if goods2.photo2 %}
                                            <img src="{{ goods2.photo2.url }}" onClick="img_change3(1)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if goods2.photo3 %}
                                            <img src="{{ goods2.photo3.url }}" onClick="img_change3(2)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if goods2.photo4 %}
                                            <img src="{{ goods2.photo4.url }}" onClick="img_change3(3)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if goods2.photo5 %}
                                            <img src="{{ goods2.photo5.url }}" onClick="img_change3(4)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            <br>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">   <!-- 新規の商品で申請した人 -->
                    <div class="col-sm-10 mx-auto">            
                        <div class="widleft">
                            <table class="table">
                                <tr>
                                    <th>商品名</th>
                                    <form method="POST" enctype='multipart/form-data' name="od5" action="{% url 'barter_app:goods_detail' offer.pk %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="nex" value="goods_detail">
                                        <input type="hidden" name="offer_pk" value="{{offer.id}}">
                                        <input type="hidden" name="link" value="o_detail">
                                        <td><a href="javascript:od5.submit()">{{offer.name}}</a></td>    
                                    </form>
                                </tr>
                                <tr>
                                    <th>商品説明</th>
                                    <td>{{offer.content | truncatechars:10}}</td>
                                </tr>
                                <tr>
                                    <th>カテゴリー</th>
                                    <td>{{offer.category}}</td>
                                </tr>
                                <tr>
                                    <th>出品地域</th>
                                    <td>{{offer.user.prefecture}}</td>
                                </tr>
                                <tr>
                                    <th>商品状態</th>
                                    <td>{{offer.status}}</td>
                                </tr>
                            </table>
                        </div>

                        <div class="widright">
                            <div class="row">
                                <div class="col-8 col-sm-12 mx-auto">
                                    {% if offer.photo1 %}
                                        <img id="photo_img2" src="{{ offer.photo1.url }}" onClick="henkou2()" style="width: 300px; height: 300px;"/>
                                    {% else %}
                                        <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>                
                                    {% endif %}
                                </div>
                            </div>
                            {% if offer.photo2 %}
                                <hr>
                                <div class="row">
                                    <div class="col-9 col-sm-10 mx-auto">
                                        {% if offer.photo1 %}
                                            <img src="{{ offer.photo1.url }}" onClick="img_change2(0)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if offer.photo2 %}
                                            <img src="{{ offer.photo2.url }}" onClick="img_change2(1)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if offer.photo3 %}
                                            <img src="{{ offer.photo3.url }}" onClick="img_change2(2)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if offer.photo4 %}
                                            <img src="{{ offer.photo4.url }}" onClick="img_change2(3)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if offer.photo5 %}
                                            <img src="{{ offer.photo5.url }}" onClick="img_change2(4)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            <br>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="row">   <!-- 申請された人 -->
                <div class="col-sm-10 mx-auto">
                    <div class="widleft">
                        <table class="table">
                            <tr>
                                <th>商品名</th>
                                <form method="POST" enctype='multipart/form-data' name="od6" action="{% url 'barter_app:goods_detail' goods.pk %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="offer_pk" value="{{offer.id}}">
                                    <input type="hidden" name="link" value="o_detail">
                                    <td><a href="javascript:od6.submit()">{{goods.name}}</a></td>    
                                </form>                                
                            </tr>
                            <tr>
                                <th>商品説明</th>
                                <td>{{goods.content | truncatechars:10}}</td>
                            </tr>
                            <tr>
                                <th>カテゴリー</th>
                                <td>{{goods.category}}</td>
                            </tr>
                            <tr>
                                <th>出品地域</th>
                                <td>{{goods.user.prefecture}}</td>
                            </tr>
                            <tr>
                                <th>商品状態</th>
                                <td>{{goods.status}}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="widright">
                        <div class="row">
                            <div class="col-8 col-sm-12 mx-auto">
                                {% if goods.photo1 %}
                                    <img id="photo_img" src="{{ goods.photo1.url }}" onClick="henkou()" style="width: 300px; height: 300px;"/>
                                {% else %}
                                    <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>    
                                {% endif %}
                            </div>
                        </div>
                        {% if goods.photo2 %}
                            <hr>
                            <div class="row">
                                <div class="col-9 col-sm-10 mx-auto">
                                    {% if goods.photo1 %}
                                        <img src="{{ goods.photo1.url }}" onClick="img_change(0)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                    {% if goods.photo2 %}
                                        <img src="{{ goods.photo2.url }}" onClick="img_change(1)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                    {% if goods.photo3 %}
                                        <img src="{{ goods.photo3.url }}" onClick="img_change(2)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                    {% if goods.photo4 %}
                                        <img src="{{ goods.photo4.url }}" onClick="img_change(3)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                    {% if goods.photo5 %}
                                        <img src="{{ goods.photo5.url }}" onClick="img_change(4)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if offer.trade == 1 %}    
            {% if goods.user == user %}
                <form method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <input type="hidden" name="offer_pk" value="{{offer.id}}" id="id_name">
                    <input type="hidden" name="goods_pk" value="{{goods.id}}">
                    <div style="text-align: center;">
                        <h3>この内容で交換しますか？</h3>
                        <button class="btn btn-primary" name="next" value="refuse_confirm" type="submit" style="background-color: red; padding: 10px 20px;">拒否</button>
                        <button class="btn btn-primary" name="next" value="trade_confirm" type="submit" style="padding: 10px 20px;">交換する</button>
                    </div>
                </form>
            {% else %}
                <form method="POST" enctype='multipart/form-data' style="text-align:center">
                    {% csrf_token %}
                    <input type="hidden" name="offer_pk" value="{{offer.id}}" id="id_name">
                    <input type="hidden" name="goods_pk" value="{{goods.id}}">
                    <h3>交換申請中です</h3>
                    <button class="btn btn-primary" name="next" value="cancel_confirm" type="submit">交換申請を取り下げる</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
</section>
<br>
<br>
{% endblock %}