{% extends 'base.html' %}
{% load static %}

{% block title %}交換申請確認{% endblock %}

{% block head %}
<script>
    var img_src2 = new Array({% if offer.photo1 %}"{{ offer.photo1.url }}"{%endif%}{% if offer.photo2 %},"{{ offer.photo2.url }}"{%endif%}{% if offer.photo3 %},"{{ offer.photo3.url }}"{%endif%}{% if offer.photo4 %},"{{ offer.photo4.url }}"{%endif%}{% if offer.photo5 %},"{{ offer.photo5.url }}"{%endif%});
    var i2 = 0;
    var img_src3 = new Array({% if goods.photo1 %}"{{ goods.photo1.url }}"{%endif%}{% if goods.photo2 %},"{{ goods.photo2.url }}"{%endif%}{% if goods.photo3 %},"{{ goods.photo3.url }}"{%endif%}{% if goods.photo4 %},"{{ goods.photo4.url }}"{%endif%}{% if goods.photo5 %},"{{ goods.photo5.url }}"{%endif%});
    var i3 = 0;

    function henkou2() {
        if (i2 == img_src2.length-1) {
          i2 = 0;
        } else {
           i2++;
        }
        document.getElementById("photo_img2").src = img_src2[i2];
      }
      function img_change2(num){
        i2 = num
        document.getElementById("photo_img2").src = img_src2[i2];
      }
      function henkou3() {
        if (i3 == img_src3.length-1) {
          i3 = 0;
        } else {
           i3++;
        }
        document.getElementById("photo_img3").src = img_src3[i3];
      }
      function img_change3(num){
        i3 = num
        document.getElementById("photo_img3").src = img_src3[i3];
      }
  </script>
{% endblock %}

{% block contents %}
<link rel="stylesheet" href="{% static 'All_style.css' %}" />
<section class="main_cont effect d_02">
    <div class="container">
        <h2 class="midasi" style="text-align:center">交換申請確認</h2>
        <div class="row">
            <div class="col-sm-10">
                <form method="POST" enctype='multipart/form-data' style="float: left;">
                    {% csrf_token %}
                    {% for field in form %}
                        {{field.as_hidden}}
                    {% endfor %}
                    <input type="hidden" name="goods_id" value="{{goods.pk}}">
                    <input type="hidden" name="offer_id" value="{{offer.pk}}">
                    {% if back1 == 's_info' %}
                        <input type="hidden" name="back1" value="s_info">
                    {% endif %}
                    <button class="btn btn-primary" name="next" value="back" type="submit">戻る</button>
                </form>
            </div>
        </div>
        <h3 style="text-align:center">あなたの商品</h3>
        <div class="row">
            <div class="col-sm-10 mx-auto">
                <div class="widleft">
                    <table class="table">
                        <tr>
                            <th>商品名</th>
                            <td>{{offer.name}}</td>
                        </tr>
                        <tr>
                            <th>商品説明</th>
                            <td>{{offer.content}}</td>
                        </tr>
                        <tr>
                            <th>カテゴリー</th>
                            <td>{{offer.category}}</td>
                        </tr>
                        <tr>
                            <th>出品地域</th>
                            <td>{{offer.user.prefecture}}</td>
                        </tr>
                        <tr>
                            <th>商品状態</th>
                            <td>{{offer.status}}</td>
                        </tr>
                    </table>
                </div>
                <div class="widright">
                    <div class="row">
                        <div class="col-8 col-sm-12 mx-auto">
                            {% if offer.photo1 %}
                                <img id="photo_img2" src="{{ offer.photo1.url }}" onClick="henkou2()" style="width: 300px; height: 300px;"/>
                            {% else %}
                                <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>
                            {% endif %}
                        </div>
                    </div>
                    {% if offer.photo2 %}
                        <hr>
                        <div class="row">
                            <div class="col-9 col-sm-10 mx-auto">
                                {% if offer.photo1 %}
                                    <img src="{{ offer.photo1.url }}" onClick="img_change2(0)" style="width: 50px; height: 50px;"/>
                                {% endif %}
                                {% if offer.photo2 %}
                                    <img src="{{ offer.photo2.url }}" onClick="img_change2(1)" style="width: 50px; height: 50px;"/>
                                {% endif %}
                                {% if offer.photo3 %}
                                    <img src="{{ offer.photo3.url }}" onClick="img_change2(2)" style="width: 50px; height: 50px;"/>
                                {% endif %}
                                {% if offer.photo4 %}
                                    <img src="{{ offer.photo4.url }}" onClick="img_change2(3)" style="width: 50px; height: 50px;"/>
                                {% endif %}
                                {% if offer.photo5 %}
                                    <img src="{{ offer.photo5.url }}" onClick="img_change2(4)" style="width: 50px; height: 50px;"/>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <h3 style="text-align:center">相手の商品</h3>
        <div class="row">
            <div class="col-sm-10 mx-auto">
                <div class="widleft">
                    <table class="table">
                        <tr>
                            <th>商品名</th>
                            <td>{{goods.name}}</td>
                        </tr>
                        <tr>
                            <th>商品説明</th>
                            <td>{{goods.content}}</td>
                        </tr>
                        <tr>
                            <th>カテゴリー</th>
                            <td>{{goods.category}}</td>
                        </tr>
                        <tr>
                            <th>出品地域</th>
                            <td>{{goods.user.prefecture}}</td>
                        </tr>
                        <tr>
                            <th>商品状態</th>
                            <td>{{goods.status}}</td>
                        </tr>
                    </table>
                </div>
                <div class="widright">
                    <div class="row">
                        <div class="col-8 col-sm-12 mx-auto">
                            {% if goods.photo1 %}
                                <img id="photo_img3" src="{{ goods.photo1.url }}" onClick="henkou()" style="width: 300px; height: 300px;"/>
                            {% else %}
                                <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    {% if goods.photo2 %}
                        <div class="row">
                            <div class="col-9 col-sm-10 mx-auto">
                                {% if goods.photo1 %}
                                    <img src="{{ goods.photo1.url }}" onClick="img_change3(0)" style="width: 50px; height: 50px;"/>
                                {% endif %}
                                {% if goods.photo2 %}
                                    <img src="{{ goods.photo2.url }}" onClick="img_change3(1)" style="width: 50px; height: 50px;"/>
                                {% endif %}
                                {% if goods.photo3 %}
                                    <img src="{{ goods.photo3.url }}" onClick="img_change3(2)" style="width: 50px; height: 50px;"/>
                                {% endif %}
                                {% if goods.photo4 %}
                                    <img src="{{ goods.photo4.url }}" onClick="img_change3(3)" style="width: 50px; height: 50px;"/>
                                {% endif %}
                                {% if goods.photo5 %}
                                    <img src="{{ goods.photo5.url }}" onClick="img_change3(4)" style="width: 50px; height: 50px;"/>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {%if have_ticket == 'none'%}
            <h3 style="text-align: center;">チケットが足りません。購入してください</h3>
            <form method="POST" name="nform" enctype='multipart/form-data' action="{% url 'barter_app:ticket' %}" >
                {% csrf_token %}
                {% for field in form %}
                    {{field.as_hidden}}
                {% endfor %}
                <input type="hidden" name="offer_id" value="{{offer.id}}" id="id_name">
                <input type="hidden" name="goods_id" value="{{goods.id}}">
                <input type="hidden" name="page" value='of_new'>
                <div class="d-flex justify-content-center tick_btn_cs offer">
                    <a href="javascript:nform.submit()">チケット購入</a>
                </div>
            </form>
        {% else %}
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                {% for field in form %}
                    {{field.as_hidden}}
                {% endfor %}
                <input type="hidden" name="offer_id" value="{{offer.id}}" id="id_name">
                <input type="hidden" name="goods_id" value="{{goods.id}}">
                <h3 style="text-align: center;">この内容で交換申請しますか？</h3>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" name="next" value="create" type="submit" style="padding: 10px 20px;">確定</button>
                </div>
                </form>
        {% endif %}
    </div>
</section>
<br>
<br>
{% endblock %}