{% extends 'base.html' %}
{% load static %}

{% block title %}交換申請取下げ完了{% endblock %}

{% block contents %}
<section class="main_cont effect d_02">
<div class="container" style="text-align:center">

    <h2 class="midasi" style="text-align: center;">交換申請取下げ完了</h2>
    
    <h3>{{goods.name}} への交換申請を取下げました</h3>
    <div class="d-flex justify-content-center offer_btn_cs offer">
        <a class="" href="{% url 'barter_app:my_offer' %}">交換申請一覧</a></p>
    </div>
</div>
</section>
<br>
<br>
{% endblock %}