{% extends 'base.html' %}
{% load static %}

{% block title %}交換申請完了{% endblock %}

{% block contents %}
<link rel="stylesheet" href="{% static 'All_style.css' %}" />
<section class="main_cont effect d_02">
<div class="container">

    <h2 class="midasi" style="text-align:center">交換申請完了</h2>
    <br>
    <br>
    <h3 style="text-align:center; margin-top:10px;">商品の交換を申請しました</h3>
    <div class="d-flex justify-content-center offer_btn_cs offer">
        <a class="" href="{% url 'barter_app:my_offer' %}">交換申請一覧</a></p>
    </div>
</div>
</section>
<br>
<br>
{% endblock %}