{% extends 'base.html' %}
{% load static %}

{% block title %}交換申込{% endblock %}

{% block head %}
<script>
    $(function(){
        $('#id_content').keyup(function(){
        var count1 = $(this).val().length;
        var count2 = $(this).val().replace(/\n/g, "").length;
        var count = (count1 - count2) * 2 + count2
        if (count > 200) {
            $('.show-count').html("<span style='color:red'>" + count + "</span>")
        } else {
            $('.show-count').text(count);
        }
        });
    });
</script>
{% endblock %}

{% block contents %}
<link rel="stylesheet" href="{% static 'All_style.css' %}" />
<section class="main_cont effect d_02">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="midasi" style="text-align:center">交換商品登録</h2>
        </div>
        <form method="POST" name="ofback1" enctype='multipart/form-data' action="{% url 'barter_app:offer_select' %}" >
            {% csrf_token %}
            <input type="hidden" name="goods_id" value="{{goods.id}}">
            {% if  back1 == 's_info' %}
                <input type="hidden" name="back1" value="s_info">
            {% endif %}
            <a class="btn btn-info" href="javascript:ofback1.submit()" style="margin-bottom: 10px; margin-left: 15px;">戻る</a>
        </form>

    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-3">
            <strong>商品名</strong>
        </div>
        <div class="col-7">
            {{ goods.name }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-3">
            <strong>出品者</strong>
        </div>
        <div class="col-7">
            {{ goods.user }}
        </div>
    </div>
    <hr>
    <div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="my-div-style">
            <form method="POST" id="mailform" enctype='multipart/form-data'>
                {% csrf_token %}
                <table class="table_form">
                    <tr>
                        <th style="text-align: left;">商品名<span class="required">必須</span></th>
                        <td>{{ form.name.errors }}{{ form.name }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">
                            商品説明<br>
                            <span class="show-count">0</span>文字/200文字<br>
                            <div style="font-size: 12px;">※改行は2文字分のカウントをします</div>
                        </th>
                        <td>{{ form.content.errors }}{{ form.content }}</td>

                    </tr>
                    <tr>
                        <th style="text-align: left;">カテゴリー<span class="required">必須</span></th>
                        <td>{{ form.category }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">商品状態<span class="required">必須</span></th>
                        <td>{{ form.status }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">写真１</th>
                        <td>{{ form.photo1 }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">写真２</th>
                        <td>{{ form.photo2 }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">写真３</th>
                        <td>{{ form.photo3 }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">写真４</th>
                        <td>{{ form.photo4 }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">写真５</th>
                        <td>{{ form.photo5 }}</td>
                    </tr>
                    <input type="hidden" name="goods_id" value="{{goods.id}}">
                    <tr>
                        <td colspan="2">
                            <div style="text-align: center;">
                                <form method="POST" enctype="multipart/form-data">
                                    {% if back1 == 's_info' %}
                                        <input type="hidden" name="back1" value="s_info">
                                    {% endif %}
                                    <button class="btn btn-primary" name="next" value="confirm" type="submit">作成</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </table>                
            </form>
        </div>
    </div>
    </div>    
</div>
</section>


<br>
<br>
{% endblock %}