{% extends 'base.html' %}
{% load static %}

{% block title %}支払い完了{% endblock %}

{% block contents %}
<link rel="stylesheet" href="{% static 'All_style.css' %}" />
<section class="main_cont effect d_02">
    <div class="container">
        <div style="text-align: center;">
            {% if ticket %}
                <h2 class="midasi">支払い完了</h2>
                <div class="comp_text">
                    <p class="ticket_yen">お支払いが完了しました。</p>
                    <table class="table">
                        <tr>
                            <th>チケット枚数</th>
                            <td>{{ ticket }}枚</td>
                        </tr>
                        <tr>
                            <th>金額</th>
                            <td>{{ amount }}円</td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <h2>不正なページ移動です。</h2>
            {% endif %}
            {% if se_page == 'home' %}
            <a class="btn btn-info" style="margin-top: 40px; margin-left: 10px;" href="{% url 'barter_app:home' %}">戻る</a>
            {% elif se_page == 'of_select' %}
            <form method="post" name="form1" action="{% url 'barter_app:offer_select' %}" enctype='multipart/form-data'>
                {% csrf_token %}
                <input type="hidden" name="goods_id" value="{{goods.id}}" id="id_name">
                <input type="hidden" name="my_goods_id" value="{{my_goods.id}}">
                <input type="hidden" name="next" value="confirm">
                <a class="btn btn-info" style="margin-top: 40px; margin-left: 10px;" href="javascript:form1.submit()">戻る</a>
            </form>
            {% elif se_page == 'of_new' %}
            <form method="post" name="ofnew" action="{% url 'barter_app:offer_create' %}" enctype='multipart/form-data'>
                {% csrf_token %}
                <input type="hidden" name="offer_id" value="{{offer.id}}" id="id_name">
                <input type="hidden" name="goods_id" value="{{goods.id}}">
                <input type="hidden" name="next" value="confirm_ticket">
                <a class="btn btn-info" style="margin-top: 40px; margin-left: 10px;" href="javascript:ofnew.submit()">戻る</a>
            </form>
            {% elif se_page == 'tra_se' %}
            <form method="post" name="ofnew" action="{% url 'barter_app:offer_detail' %}" enctype='multipart/form-data'>
                {% csrf_token %}
                <input type="hidden" name="offer_pk" value="{{offer.id}}" id="id_name">
                <input type="hidden" name="goods_pk" value="{{goods.id}}">
                <input type="hidden" name="next" value="trade_confirm">
                <a class="btn btn-info" style="margin-top: 40px; margin-left: 10px;" href="javascript:ofnew.submit()">戻る</a>
            </form>
            {% elif se_page == 'mypage' %}
                <a class="btn btn-info" style="margin-top: 40px; margin-left: 10px;" href="{% url 'barter_app:mypage' %}">戻る</a>
            {% else %}
                <a class="btn btn-info" style="margin-top: 40px; margin-left: 10px;" href="{% url 'barter_app:ticket' %}">戻る</a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}