{% extends 'base.html' %}
{% load static %}

{% block title %}当道府県一覧{% endblock %}

{% block contents %}
<link  rel="stylesheet" href="{% static 'ALL_style.css' %}">


<div class="content">
    <div style="text-align: center;">
        <a class="btn-animation-03" href="{% url 'barter_app:prefecture_list' %}"><span>都道府県別商品</span></a>
        <a class="btn-animation-08" href="{% url 'barter_app:my_display' %}"><span>出品した商品</span></a>
        <a class="btn-animation-04" href="{% url 'barter_app:chat_room_list' %}"><span>チャット一覧</span></a>
        <br>
        <a class="btn-animation-05" href="{% url 'barter_app:my_offer' %}"><span>交換申請一覧</span></a>
        <a class="btn-animation-06" href="{% url 'barter_app:trading_history' %}"><span>取引一覧</span></a>
        <a class="btn-animation-07" href="{% url 'barter_app:make_data' %}"><span>データを読み込む</span></a></p>
    </div>
    <form method="GET" action="{% url 'barter_app:goods_search' %}" >
    <h1 style="color: #000000;">都道府県一覧</h1>
    {{user.username}}
    <div class="row">     
        {% for p in prefectures %}
        <div class="col-1">                
            <a href="{% url 'barter_app:prefecture' p.code %}">
                <p>{{ p.name }}</p>
            </a>           
        </div>
        {% empty %}
            <p>都道府県がありません。</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
