{% extends 'base.html' %}
{% load static %}

{% block title %}Q&A{% endblock %}

{% block active_q_a %}active{% endblock %}

{% block contents %}
<link rel="stylesheet" href="{% static 'All_style.css' %}" />
<div class="container">
    <section class="main_cont effect d_02">
        <h2 class="midasi" style="text-align:center">Q & A（よくあるご質問）</h2>
        <form id="mailform" method="post" action="{% url 'barter_app:q_a' %}">

            <link rel="stylesheet" href="{% static 'mystyle.css' %}" />

            <div class="cp_outtab">
                <input id="outtab-one" type="radio" name="tabs">
                <label for="outtab-one">出品・交換について</label>
                <div class="cp_outtab-content">

                    <div class="cp_qa">
                        <div class="cp_actab">
                            <input id="intab1_one" type="checkbox" name="tabs">
                            <label for="intab1_one">出品している商品を編集したい</label>
                            <div class="cp_actab-content">
                            <p>商品を一度削除してから、再度出品してください。</p>
                            </div>
                        </div>
                        <div class="cp_actab">
                            <input id="intab1_two" type="checkbox" name="tabs">
                            <label for="intab1_two">出品されている商品が見たい</label>
                            <div class="cp_actab-content">
                            <p>ページ上部のBARTOWNロゴをクリックすると商品の一覧が表示されます。</p>
                            </div>
                        </div>
                        <div class="cp_actab">
                            <input id="intab1_three" type="checkbox" name="tabs">
                            <label for="intab1_three">受取評価はいつ反映されるの？</label>
                            <div class="cp_actab-content">
                            <p>双方の評価手続きが完了したら、評価情報に反映されます。</p>
                            </div>
                        </div>
                        <div class="cp_actab">
                            <input id="intab1_four" type="checkbox" name="tabs">
                            <label for="intab1_four">受取評価をしてくれない</label>
                            <div class="cp_actab-content">
                            <p>発送連絡後、2週間以上経過しても受取評価されない場合は、事務局(<a href="{% url 'barter_app:inquiry' %}">こちら</a>)にご連絡ください。</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>


            <div class="cp_outtab">
                <input id="outtab-two" type="radio" name="tabs">
                <label for="outtab-two">配送について</label>
                <div class="cp_outtab-content">

                    <div class="cp_qa">
                        <div class="cp_actab">
                            <input id="intab2_one" type="checkbox" name="tabs">
                            <label for="intab2_one">発送された商品が届かない</label>
                            <div class="cp_actab-content">
                            <p>事務局にお問合せ下さい。</p>
                            <p>お問合せは<a href="{% url 'barter_app:inquiry' %}">こちら</a>から。</p>
                            </div>
                        </div>
                        <div class="cp_actab">
                            <input id="intab2_two" type="checkbox" name="tabs">
                            <label for="intab2_two">届いた商品が説明文と違う/壊れている</label>
                            <div class="cp_actab-content">
                            <p>・受取評価はおこなわないでください。</p>
                            <p>・取引メッセージで出品者へ連絡してください。</p>
                            <p>・返事が来ない、解決しない場合はお問合せください（<a href="{% url 'barter_app:inquiry' %}">こちら</a>から）。</p>
                            </div>
                        </div>
                        <div class="cp_actab">
                            <input id="intab2_three" type="checkbox" name="tabs">
                            <label for="intab2_three">商品が配送中に破損して届いた</label>
                            <div class="cp_actab-content">
                            <p>お手数ですが、お客さまにて配送会社へご相談ください。</p>
                            </div>
                        </div>
                        <div class="cp_actab">
                            <input id="intab2_four" type="checkbox" name="tabs">
                            <label for="intab2_four">送料はどうなるの？</label>
                            <div class="cp_actab-content">
                            <p>お客さま負担となります。ご了承ください。</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="cp_outtab">
                <input id="outtab-three" type="radio" name="tabs">
                <label for="outtab-three">チケットについて</label>
                <div class="cp_outtab-content">

                    <div class="cp_qa">
                        <div class="cp_actab">
                            <input id="intab3_one" type="checkbox" name="tabs">
                            <label for="intab3_one">チケットってなに？</label>
                            <div class="cp_actab-content">
                            <p>チケットとは、取引手数料です。</p>
                            <p>1枚300円で、まとめて購入すれば少しお得になります(3枚で500円、5枚で1300円)。</p>
                            <p>交換の申請をするとき、または、交換申請を承諾するときに必要になります。</p>
                            </div>
                        </div>
                        <div class="cp_actab">
                            <input id="intab3_two" type="checkbox" name="tabs">
                            <label for="intab3_two">退会したらどうなるの？</label>
                            <div class="cp_actab-content">
                            <p>退会手続きを完了させると、チケットは余っていても無効となるのでご注意ください。</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="cp_outtab">
                <input id="outtab-four" type="radio" name="tabs">
                <label for="outtab-four">支払いについて</label>
                <div class="cp_outtab-content">

                    <div class="cp_qa">
                        <div class="cp_actab">
                            <input id="intab4_one" type="checkbox" name="tabs">
                            <label for="intab4_one">支払い方法はなにがあるの？</label>
                            <div class="cp_actab-content">
                            <p>クレジットカードに限ります。</p>
                            <p>クレジットカード以外の支払いはできませんのでご了承ください</p>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="cp_outtab">
                <input id="outtab-five" type="radio" name="tabs">
                <label for="outtab-five">キャンセルについて</label>
                <div class="cp_outtab-content">

                    <div class="cp_qa">
                        <div class="cp_actab">
                            <input id="intab5_one" type="checkbox" name="tabs">
                            <label for="intab5_one">取引をキャンセルしたい</label>
                            <div class="cp_actab-content">
                            <p>キャンセルは、双方が合意された場合、取引の進展が困難な場合に行うことが可能です。</p>
                            <p>キャンセルをご希望の場合は、<a href="{% url 'barter_app:inquiry' %}">こちら</a>にご連絡ください。</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="cp_outtab">
                <input id="outtab-six" type="radio" name="tabs">
                <label for="outtab-six">その他</label>
                <div class="cp_outtab-content">

                    <div class="cp_qa">
                        <div class="cp_actab">
                            <input id="intab6_one" type="checkbox" name="tabs">
                            <label for="intab6_one">初回ログイン時の本人情報登録について</label>
                            <div class="cp_actab-content">
                                <p>お客さまの安心・安全な取引のため、初回ログイン時に本人情報(氏名・生年月日など)のご登録が必要です。</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </form>
    </section>
</div>
{% endblock %}