{% extends 'base.html' %}
{% load static %}

{% block title %}出品者情報{% endblock %}
{% block contents %}

<section class="main_cont effect d_02">
    <div class="container">
        <h2 class="midasi" style="text-align: center;">出品者情報</h2>
        <div class="row">
            <div class="col-sm-10">
                <!-- 戻るボタン -->
                <div style="float: left; margin-bottom: 15px;">
                    {% if back1 == 's_info' %}
                        <form method="POST" name="s_info1" enctype='multipart/form-data' action="{% url 'barter_app:seller_goods_detail' good_link.pk %}">
                            {% csrf_token %}
                            <a class="btn btn-info" href="javascript:s_info1.submit()" style="background-color: #0066FF;">戻る</a>
                        </form>
                    {% else %}
                        {% if o_good_link %} <!-- 新規の商品リンクから -->
                            <form method="POST" name="s_info" enctype='multipart/form-data' action="{% url 'barter_app:goods_detail' o_good_link.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="nex" value="goods_detail">
                                {% if offer %}
                                    <input type="hidden" name="offer_pk" value="{{offer.pk}}">
                                {% endif %}
                                {% if trade %}
                                    <input type="hidden" name="trade_pk" value="{{trade.pk}}">
                                {% endif %}
                            <a class="btn btn-info" href="javascript:s_info.submit()" style="background-color: #0066FF;">戻る</a>
                            </form>
                        {% else %} 
                            <form method="POST" name="s_info" enctype='multipart/form-data' action="{% url 'barter_app:goods_detail' good_link.pk %}">
                                {% csrf_token %}
                                {% if offer %}
                                    <input type="hidden" name="offer_pk" value="{{offer.pk}}">
                                {% endif %}
                                {% if trade %}
                                    <input type="hidden" name="trade_pk" value="{{trade.pk}}">
                                {% endif %}
                                <a class="btn btn-info" href="javascript:s_info.submit()" style="background-color: #0066FF;">戻る</a>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
            <div class="my-div-style w-100">
                <table class="flex">
                    <tr>
                        <td>
                            {% if partner_list.usericon %}
                                <img src="{{ partner_list.usericon.url }}" class="prof-icon">
                            {% else %}
                                <img src="{% static 'img/user-icon.png' %}" class="prof-icon">
                            {% endif %}
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <h2>{{ partner_list.username }}</h2>
                            <h3>良い評価：{{ partner_list.good_evaluation }}　悪い評価：{{ partner_list.bad_evaluation }}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form method="POST" action="{% url 'barter_app:chat_message' %}#message_form" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <input type=hidden name="g_user" value="{{partner_list.pk}}">
                                {% if nex %}
                                    <input type="hidden" name="nex" value="goods_detail">
                                {% endif %}
                                {% if offer %}
                                    <input type="hidden" name="b_back" value="s_info">
                                    <input type="hidden" name="offer_pk" value="{{offer.pk}}">
                                {% endif %} 
                                {% if trade %}
                                    <input type="hidden" name="b_back" value="s_info">
                                    <input type="hidden" name="trade_pk" value="{{trade.pk}}">
                                {% endif %}
                                {% if back1 == 's_info' %}
                                    <input type="hidden" name="back1" value="s_info">
                                    <input type="hidden" name="sgd" value="sgd2">
                                {% endif %}
                                {% if link == 'home' %}
                                    <input type="hidden" name="back" value="home">
                                {% endif %} 
                                <input type="hidden" name="b_back" value="s_info">
                                {% if good_link %}
                                    <input type="hidden" name="goods_pk" value="{{good_link.pk}}">
                                {% endif %}
                                {% if o_good_link %}
                                    <input type="hidden" name="o_goods_pk" value={{o_good_link.pk}}>
                                {% endif %}
                                <button class="btn btn-primary" name="" value="" type="submit">メッセージを送る</button>
                            </form>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <a href="{% url 'barter_app:user_evaluation_list' partner_list.pk %}">
                                <button class="btn btn-primary" name="" value="" type="submit">評価詳細を見る</button>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        
        <br>
        <br>
        {% if partner_list.username %}
        <h2>出品一覧</h2>
        {% endif %}
        <div class="row">
            <div class="my-div-style w-100">
                <div class="row">
                    {% for goods in goods_list %}
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2">
                        <form method="POST" target="_blank" rel="noopener noreferrer" action="{% url 'barter_app:seller_goods_detail' goods.pk %}" enctype='multipart/form-data'>
                            {% csrf_token %}
                            <input type="hidden" name="back" value="s_info">
                            <div class="goods_hover">
                                <button class="goods_btn">
                                    <div class="goods_status" goods-status={{goods.status}}>
                                        {%if goods.created_at|date:"Y-m-d-H" > new_time%}
                                            <div class="new_goods">
                                                {% if goods.photo1 %}
                                                        <img src="{{ goods.photo1.url }}"  style="width: 180px; height: 180px;"/>
                                                {% else %}
                                                    <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 180px; height: 180px;"/>
                                                {% endif %}
                                            </div>
                                        {%else%}
                                            {% if goods.photo1 %}
                                                <img src="{{ goods.photo1.url }}"  style="width: 180px; height: 180px;"/>
                                            {% else %}
                                                <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 180px; height: 180px;"/>
                                            {% endif %}
                                        {%endif%}
                                    </div>
                                    <p class="goods_list_font">{{ goods.name | truncatechars:20 }}</p>
                                </button>
                            </div>
                        </form>
                    </div>
                    {% empty %}
                        <p>商品がありません。</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<div class="col-sm-6" style="text-align:left;">

</div>

{% endblock %}