{% extends 'base.html' %}
{% load static %}

{% block title %}商品詳細{% endblock %}

{% block head %}
<style>
    .photo4 {
        margin-left: 290px;
    }
    @media (max-width: 1200px) { /*1200px以下の時*/
        .photo4{
            margin-left: 240px;
        }
    }
</style>
<script>
    var img_src = new Array({% if object.photo1 %}"{{ object.photo1.url }}"{%endif%}{% if object.photo2 %},"{{ object.photo2.url }}"{%endif%}{% if object.photo3 %},"{{ object.photo3.url }}"{%endif%}{% if object.photo4 %},"{{ object.photo4.url }}"{%endif%}{% if object.photo5 %},"{{ object.photo5.url }}"{%endif%});
    var i = 0;

    function henkou() {

      if (i == img_src.length-1) {
        i = 0;
      } else {
        i ++;
      }
      document.getElementById("photo_img").src = img_src[i];
    }
    function img_change(num){
        i = num
        document.getElementById("photo_img").src = img_src[i];
    }
  </script>
{% endblock %}

{% block contents %}
<link  rel="stylesheet" href="{% static 'seller_style.css' %}">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="midasi" style="text-align:center">商品詳細</h2>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% if user == object.user %}
                <p style="text-align: center;">あなたが出品した商品です</p>
            {% endif %}
            {%if object.trade == 2%}<h3 class="" style="text-align:center">この商品は取引成立済みです</h3>{%endif%}
            {%if object.trade == 3%}<h3 class="" style="text-align:center">この商品は出品取り消しされました</h3>{%endif%}
            {%if user.pk%}
                {%if object.trade == 1%} 
                    {% if user == object.user %}
                    <form method="POST" action="{% url 'barter_app:goods_delete' %}" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <button class="btn btn-danger" name="goods_id" value="{{object.pk}}" style="float: right;" type="submit">商品を削除する</button>
                    </form>
                    {% else %}
                    <form method="POST" action="{% url 'barter_app:offer_select' %}" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <input type="hidden" name="back1" value="s_info">
                        <button class="btn btn-primary" name="goods_id" value="{{object.pk}}" style="float: right;" type="submit">交換を申し込む</button>
                    </form>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="row" style="background: #dddddd;padding-top: 10px">
        <div class="col-sm-  mx-auto">
            <strong>商品名</strong>
            <div><h3>{{ object.name }}</h3></div>
        </div>
    </div>      
    <div class="row" style="background: #dddddd;padding-bottom: 10px">
        <div class="col-12 mx-auto" style="text-align: center;">
            {% if object.photo1 %}
                <img id="photo_img" class="photo_size" src="{{ object.photo1.url }}" onClick="henkou()"/>
            {% else %}
                <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>        
            {% endif %}
        </div>
    </div>
    {% if object.photo2 %}
        <div class="row" style="background: #dddddd;">
            <div class="col-sm- mx-auto">
                {% if object.photo1 %}
                    <img src="{{ object.photo1.url }}" onClick="img_change(0)" style="width: 100px; height: 100px;"/>
                {% endif %}
                {% if object.photo2 %}
                    <img src="{{ object.photo2.url }}" onClick="img_change(1)" style="width: 100px; height: 100px;"/>
                {% endif %}
                {% if object.photo3 %}
                    <img src="{{ object.photo3.url }}" onClick="img_change(2)" style="width: 100px; height: 100px;"/>
                {% endif %}
                {% if object.photo4 %}
                    <img src="{{ object.photo4.url }}" onClick="img_change(3)" style="width: 100px; height: 100px;"/>
                {% endif %}
                {% if object.photo5 %}
                    <img src="{{ object.photo5.url }}" onClick="img_change(4)" style="width: 100px; height: 100px;"/>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <br>
    <div class="row">
        <div class="col-3">
            <strong>商品説明</strong>
        </div>
        <div class="col-9">
            {{ object.content|linebreaksbr }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            <strong>カテゴリー</strong>
        </div>
        <div class="col-9">
            {{ object.category|linebreaksbr }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            <strong>出品地域</strong>
        </div>
        <div class="col-9">
            {{ object.user.prefecture|linebreaksbr }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            <strong>商品状態</strong>
        </div>
        <div class="col-9">
            {{ object.status|linebreaksbr }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            <strong>希望商品</strong>
        </div>
        <div class="col-9">
            {{ object.user.comment|linebreaksbr }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            <strong>作成日時</strong>
        </div>
        <div class="col-9">
            {{ object.created_at }}
        </div>
    </div>
    <br>
    {%if user.pk%}
        {% if user != object.user %}
            <div class="row">
                <div class="col-3">
                    <strong>出品者</strong>
                </div>
                <br>
                <br>
                <div class="col-9">
                    <form method="POST" action="{% url 'barter_app:seller_information' %}">
                        {% csrf_token %}
                        <input type=hidden name="g_user" value="{{object.user.pk}}">
                        <input type="hidden" name="goods_pk" value="{{object.pk}}">
                        <input type="hidden" name="back1" value="s_info">
                        <button class="btn-sticky" type="submit">
                            {% if object.user.usericon %}
                                <img src="{{ object.user.usericon.url }}" class="user-icon-MY">    {{ object.user.username }}
                            {% else %}
                                <img src="{% static 'img/user-icon.png' %}" class="user-icon-MY">    {{ object.user.username }}
                            {% endif %}
                        </button>
                    </form>
                    <br>

                    <form method="POST" action="{% url 'barter_app:chat_message' %}#message_form" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <input type=hidden name="g_user" value="{{object.user.pk}}">
                        <input type="hidden" name="back1" value="s_info">
                        <input type="hidden" name="sgd" value="sgd">
                        <input type="hidden" name="goods_pk" value="{{object.pk}}">
                        <button class="btn btn-primary" name="" value="" type="submit">出品者にメッセージを送る</button>
                    </form>
                    <br>
                    {% include 'like.html' %}
                    <script type="text/javascript">
                        $(document).ready(function(event){
                            $(document).on('click', '#like', function(event){
                                event.preventDefault();
                                $.ajax({
                                    type: 'POST',
                                    url: "{% url 'barter_app:like' %}",
                                    data: {
                                        'article_id': '{{ object.pk }}',
                                        'csrfmiddlewaretoken': '{{ csrf_token }}'},
                                    dataType: 'json',
                                    success: function(response){
                                        selector = document.getElementsByName('article_id');
                                        if(response.liked){
                                            $(selector).html('<i class="fas fa-star unlike-btn"> お気に入り解除</i>');
                                        }
                                        else {
                                            $(selector).html('<i class="far fa-star like-btn"> お気に入り追加</i>');
                                        }
                                    }
                                });
                            });
                        });
                    </script>
                </div>
            </div>    
        {% endif %}

        {% if form.errors %}
            <ul>
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="row">
            <div class="col-sm-10 mx-auto">
                {%for come in comments%}
                <hr style="border: 0.5px dashed gainsboro;">
                <div class="row">
                    <table>
                        <tr>
                            <th style="font-weight: 400; font-size: 14px;">{{come.user}} | {{come.created_at}}</th>
                        </tr>
                        <tr>
                            <td style="font-weight: 900;">　{{come.comment}}</td>
                        </tr>
                    </table>
                </div>
                {%endfor%}
        
                <form method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <table class="table">
                        {{ form.as_table }}
                    </table>
                    <input type="hidden" name="goods_id" value="{{object.id}}">
                    <div style="text-align: center;">
                        <a>※上部のコメントは誰でも閲覧可能です。内容に注意してください。</a>
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <form method="POST" enctype='multipart/form-data'>
                            {% csrf_token %}
                            <i class="fa fa-send"><button class="btn btn-primary" name="next" value="confirm" type="submit" style="background-color: #0066FF; padding: 10px 20px;">&#xf1d8; 送信</button></i>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    {%else%}
    <br><hr>
    <h3>交換申請するには<a href="{% url 'account_login' %}">ログイン</a>、または<a href="{% url 'account_signup' %}">会員登録</a>してください</h3>
    {% endif %}
</div>
{% endblock %}