{% extends 'base.html' %}

{% load static %}

{% block title %}アイコン変更画面{% endblock %}

{% block header %}
{% endblock %}

{% block contents %}
<div class="content">
    <section class="main_cont effect d_02">
        <h2 class="my-div-style" style="text-align:center">アイコン変更</h2>
        <div style="float: left;">
            <a class="btn btn-info" href="{% url 'barter_app:mypage' %}" style="background-color: #0066FF;">戻る</a>
        </div>
        <form id="mailform" method="POST" enctype='multipart/form-data'>
        
            {% csrf_token %}

            <table class="table_form">
                <tr>
                    <th>ユーザーアイコン<span class="required">必須</span></th>
                    <td>{{ form.usericon }}</td>
                </tr>
            </table>
            <div style="text-align: center;">
                <button class="btn btn-primary" name="next" value="confirm" type="submit" href="{% url 'barter_app:mypage' %}" style="background-color: #0066FF; padding: 10px 20px;">確定</button>
            </div>
        </form>
    </section>
</div>
{% endblock %}