{% extends 'base.html' %}

{% load static %}

{% block title %}設定変更画面{% endblock %}

{% block header %}
{% endblock %}

{% block contents %}
<section class="settings-changes">
    <div class="container">
        <h2 class="midasi" style="text-align: center;">ユーザー情報変更</h2>
        <div style="float: left;">
            <a href="{% url 'barter_app:mypage' %}">
                <button class="btn btn-primary" >戻る</button>
            </a>
        </div>
        <br>
        <div class="row">
            <div class="my-div-style w-100">
                <form method="POST" id="mailform" enctype='multipart/form-data' class="h-adr">
                    <span class="p-country-name" style="display:none;">Japan</span>
                    {% csrf_token %}
                    <table class="table_form">
                        <tr>
                            <th style="text-align: left;">ユーザーアイコン</th>
                            <td>{{ form.usericon }}</td>
                        </tr>
                        <tr>
                            <th style="text-align: left;">ユーザー名</th>
                            <td>
                                <a style="color: red;">{{ form.username.errors }}</a>
                                {{ form.username }}
                                <p>他のユーザーからも見られるものです。</p>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: left;">姓</th>
                            <td>
                                <a style="color: red;">{{ form.last_name.errors }}</a>
                                {{ form.last_name }}
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: left;">名</th>
                            <td>
                                <a style="color: red;">{{ form.first_name.errors }}</a>
                                {{ form.first_name }}
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: left;">生年月日</th>
                            <td>
                                <a style="color: red;">{{ form.birthday.errors }}</a>
                                <input type="date" name="birthday" value="{{form.birthday.value}}" class="form-control" id="id_birthday">
                                <p>右側のカレンダーアイコンクリックで楽々登録。</p>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: left;">メールアドレス</th>
                            <td>
                                <a style="color: red;">{{ form.email.errors }}</a>
                                {{ form.email }}
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: left;">電話番号</th>
                            <td>
                                <a style="color: red;">{{ form.telephone.errors }}</a>
                                {{ form.telephone }}
                                <p>ハイフンなし</p>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: left;">郵便番号</th>
                            <td>
                                <a style="color: red;">{{ form.zip_code.errors }}</a>
                                {{ form.zip_code }}
                                <p>ハイフンなし</p>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: left;">都道府県</th>
                            <td>
                                <a style="color: red;">{{ form.prefecture.errors }}</a>
                                {{ form.prefecture }}
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: left;">住所(市区町村・番地)</th>
                            <td>
                                <a style="color: red;">{{ form.address.errors }}</a>
                                {{ form.address }}
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: left;">住所2(建物名等)</th>
                            <td>
                                <a style="color: red;">{{ form.address2.errors }}</a>
                                {{ form.address2 }}
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: left;">希望商品</th>
                            <td>
                                <a style="color: red;">{{ form.comment.errors }}</a>
                                {{ form.comment }}
                                <p class="opacity">貴方が欲しい交換希望商品を記入して下さい。</p>
                            </td>
                        </tr>
                        {{field.errors}}
                    </table>
                    <div style="text-align: center;">
                        <button class="btn btn-primary" name="next" value="confirm" type="submit" href="{% url 'barter_app:mypage' %}" style="background-color: #0066FF; padding: 10px 20px;">確定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}