{% extends 'base.html' %}
{% load static %}

{% block title %}申し込み詳細{% endblock %}

{% block contents %}
<link rel="stylesheet" href="{% static 'All_style.css' %}" />
<section class="main_cont effect d_02">
    <div class="container">
        {%if confirm == 'ship'%}
        <h2 class="midasi" style="text-align:center">発送連絡確認</h2>
        {%else%}
        <h2 class="midasi" style="text-align:center">受け取り連絡確認</h2>
        {%endif%}

        <!-- 戻るボタン -->
        {% if confirm == "ship" %}
            {% if my_status == 1 %}
                <div class="row">
                    <div class="col-sm-10">
                        <div style="float: left;">
                            <form method="POST" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <input type="hidden" name="offer_pk" value="{{offer.id}}" id="id_name">
                                <input type="hidden" name="goods_pk" value="{{goods.id}}">
                                <input type="hidden" name="trade_pk" value="{{trade.id}}">
                                <button class="btn btn-primary" name="next" value="back" type="submit">戻る</button>
                            </form>
                        </div>
                    </div>
                </div>
            {%elif my_status == 2 %}
                <div class="row">
                    <div class="col-sm-10">
                        <div style="float: left;">
                            <form method="POST" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <input type="hidden" name="trade_pk" value="{{trade.id}}">
                                <button class="btn btn-primary" name="next" value="back" type="submit">戻る</button>
                            </form>
                        </div>
                    </div>
                </div>
            {%elif my_status == 3 %}
                <div class="row">
                    <div class="col-sm-10">
                        <div style="float: left;">
                            <form method="POST" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <input type="hidden" name="trade_pk" value="{{trade.id}}">
                                <button class="btn btn-primary" name="next" value="back" type="submit">戻る</button>
                            </form>
                        </div>
                    </div>
                </div>
            {%endif%}
        {% elif confirm == "receive" %}
            {% if my_status < 3 %}
                <div class="row">
                    <div class="col-sm-10">
                        <div style="float: left;">
                            <form method="POST" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <input type="hidden" name="offer_pk" value="{{offer.id}}" id="id_name">
                                <input type="hidden" name="goods_pk" value="{{goods.id}}">
                                <input type="hidden" name="trade_pk" value="{{trade.id}}">
                                <button class="btn btn-primary" name="next" value="back" type="submit">戻る</button>
                            </form>
                        </div>
                    </div>
                </div>
            {%else%}
                <div class="row">
                    <div class="col-sm-10">
                        <div style="float: left;">
                            <form method="POST" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <input type="hidden" name="trade_pk" value="{{trade.id}}">
                                <button class="btn btn-primary" name="next" value="back" type="submit">戻る</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif%}
        {%endif%}

        <!-- 商品詳細情報 -->
        {% if confirm == "ship" %}
            <h3 style="text-align:center">あなたの商品</h3>
            {% if goods.user == user %}
                <div class="row">
                    <div class="col-sm-10 mx-auto">
                        <div class="widleft">
                            <table class="table">
                                <tr>
                                    <th>商品名</th>
                                    <td>{{goods.name}}</td>
                                </tr>
                                <tr>
                                    <th>商品説明</th>
                                    <td>{{goods.content | linebreaks}}</td>
                                </tr>
                                <tr>
                                    <th>カテゴリー</th>
                                    <td>{{goods.category}}</td>
                                </tr>
                                <tr>
                                    <th>出品地域</th>
                                    <td>{{goods.user.prefecture}}</td>
                                </tr>
                                <tr>
                                    <th>商品状態</th>
                                    <td>{{goods.status}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="widright">
                            <div class="row">
                                <div class="col-8 col-sm-12 mx-auto">
                                    {% if goods.photo1 %}
                                        <img id="photo_img" src="{{ goods.photo1.url }}" onClick="henkou()" style="width: 300px; height: 300px;"/>
                                    {% else %}
                                        <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-sm-10 mx-auto">
                        <div class="widleft">
                            <table class="table">
                                <tr>
                                    <th>商品名</th>
                                    <td>{{offer.name}}</td>
                                </tr>
                                <tr>
                                    <th>商品説明</th>
                                    <td>{{offer.content | linebreaks}}</td>
                                </tr>
                                <tr>
                                    <th>カテゴリー</th>
                                    <td>{{offer.category}}</td>
                                </tr>
                                <tr>
                                    <th>出品地域</th>
                                    <td>{{offer.user.prefecture}}</td>
                                </tr>
                                <tr>
                                    <th>商品状態</th>
                                    <td>{{offer.status}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="widright">
                            <div class="row">
                                <div class="col-8 col-sm-12 mx-auto">
                                    {% if offer.photo1 %}
                                        <img id="photo_img" src="{{ offer.photo1.url }}" onClick="henkou()" style="width: 300px; height: 300px;"/>
                                    {% else %}
                                        <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% elif confirm == "receive" %}
            <h3 style="text-align:center">相手の商品</h3>
            {% if offer.user == user %}
                <div class="row">
                    <div class="col-sm-10 mx-auto">
                        <div class="widleft">
                            <table class="table">
                                <tr>
                                    <th>商品名</th>
                                    <td>{{offer.name}}</td>
                                </tr>
                                <tr>
                                    <th>商品説明</th>
                                    <td>{{offer.content | linebreaks}}</td>
                                </tr>
                                <tr>
                                    <th>カテゴリー</th>
                                    <td>{{offer.category}}</td>
                                </tr>
                                <tr>
                                    <th>出品地域</th>
                                    <td>{{offer.user.prefecture}}</td>
                                </tr>
                                <tr>
                                    <th>商品状態</th>
                                    <td>{{offer.status}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="widright">
                            <div class="row">
                                <div class="col-8 col-sm-12 mx-auto">
                                    {% if offer.photo1 %}
                                        <img id="photo_img" src="{{ offer.photo1.url }}" onClick="henkou()" style="width: 300px; height: 300px;"/>
                                    {% else %}
                                        <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-sm-10 mx-auto">
                        <div class="widleft">
                            <table class="table">
                                <tr>
                                    <th>商品名</th>
                                    <td>{{goods.name}}</td>
                                </tr>
                                <tr>
                                    <th>商品説明</th>
                                    <td>{{goods.content | linebreaks}}</td>
                                </tr>
                                <tr>
                                    <th>カテゴリー</th>
                                    <td>{{goods.category}}</td>
                                </tr>
                                <tr>
                                    <th>出品地域</th>
                                    <td>{{goods.user.prefecture}}</td>
                                </tr>
                                <tr>
                                    <th>商品状態</th>
                                    <td>{{goods.status}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="widright">
                            <div class="row">
                                <div class="col-8 col-sm-12 mx-auto">
                                    {% if goods.photo1 %}
                                        <img id="photo_img" src="{{ goods.photo1.url }}" onClick="henkou()" style="width: 300px; height: 300px;"/>
                                    {% else %}
                                        <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        
        <!-- ボタンや済み文 -->
        <div class="row">
            <div class="col-sm-10 mx-auto">
                {% if confirm == "ship" %}
                    {% if my_status == 1 %}
                    <form method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <input type="hidden" name="offer_pk" value="{{offer.id}}" id="id_name">
                        <input type="hidden" name="goods_pk" value="{{goods.id}}">
                        <input type="hidden" name="trade_pk" value="{{trade.id}}">
                        <div style="text-align: center;">
                            <h3>商品を発送したことを連絡しますか？</h3>
                            <button class="btn btn-primary" name="next" value="ship" type="submit">確定</button>
                        </div>
                    </form>
                    {%elif my_status == 2%}
                        <h3 style="text-align: center;">発送連絡済みです</h3>
                    {%elif my_status == 3 %}
                        <h3 style="text-align: center;">受け取り済みです</h3>
                    {%endif%}
                {% elif confirm == "receive" %}
                    {% if my_status < 3 %}
                    <form method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <input type="hidden" name="offer_pk" value="{{offer.id}}" id="id_name">
                        <input type="hidden" name="goods_pk" value="{{goods.id}}">
                        <input type="hidden" name="trade_pk" value="{{trade.id}}">
                        <div style="text-align: center;">
                            <h3>商品を受け取ったことを報告しますか？</h3>
                            <button class="btn btn-primary" name="next" value="receive" type="submit">確定</button>
                        </div>
                    </form>
                    {%else%}
                        <h3 style="text-align: center;">受け取り連絡済みです</h3>
                    {% endif%}
                {%endif%}
            </div>
        </div>
    </div>
</section>
<br>
<br>
{% endblock %}