{% extends 'base.html' %}
{% load static %}

{% block title %}配送連絡{% endblock %}

{% block contents %}
<section class="main_cont effect d_02">
<div class="container">
    {% if result == 'ship'%}
    <h2 class="midasi" style="text-align:center">発送連絡完了</h2>
    <br>
    <br>
    <h3 style="text-align:center">発送連絡しました</h3>
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        
        <input type="hidden" name="trade_pk" value="{{trade.id}}" id="id_name">
        <div style="text-align: center;">
            <button class="btn btn-primary" name="next" value="" type="submit">取引詳細に戻る</button>
        </div>
    </form>
    {%else%}
    <h2 class="midasi" style="text-align:center">受け取り連絡完了</h2>
    <br>
    <br>
    <h5 style="text-align:center">受け取り連絡をしました</h5>
    <form method="POST" name="form_eva" action="{% url 'barter_app:user_evaluation' %}">
        {% csrf_token %}
        <input type="hidden" name="trade_pk" value="{{trade.pk}}">
        {%if goods.user == user %}
            <input type="hidden" name="o_user" value="{{offer.user.pk}}">
        {%else%}
            <input type="hidden" name="o_user" value="{{goods.user.pk}}">
        {%endif%}
        <h5 style="text-align:center">最後に取引相手を評価してください</h5>
        <br>
        <h3 style="text-align:center">{{o_user.username}} さんを評価します</h3>
        <form id="mailform" method="post" action="{% url 'barter_app:user_evaluation' %}">
            {% csrf_token %}

            <div class="example3" style="text-align: center;">   
                <label>
                    <img src="{% static 'img/index/good.png' %}" alt="" class="img_size"><br>
                    <input type="radio" name="radio" value='good' style="transform:scale(1.8);" required><h4>良かった</h4> 
                </label>

                <label>
                    <img src="{% static 'img/index/bad.png' %}" alt="" class="img_size"><br>
                    <input type="radio" name="radio" value='bad' style="transform:scale(1.8);"><h4>悪かった</h4>
                </label>
            </div>
            <div class="col-sm-8  mx-auto" style="text-align:center">
                {% for field in form %}
                {{field}}
                {% endfor %}
                    <input type="hidden" name="o_user" value="{{o_user.pk}}">
                    <input type="hidden" name="trade_pk" value="{{trade.pk}}">
                    <input type="hidden" name="next" value="confirm">
                <div class="form_btn">
                    <input class="btn btn-primary" type="submit" value="投稿する" />
                </div>
            </div>
        </form>
    </form>
    {%endif%}
</div>
</section>
<br>
<br>
{% endblock %}