{% extends 'base.html' %}
{% load static %}

{% block title %}チケット購入{% endblock %}

{% block contents %}
<link rel="stylesheet" href="{% static 'All_style.css' %}" />
    <section class="main_cont effect d_02">
    <div class="container">
        <h2 class="midasi">チケット購入</h2>
        <div style="float: left;">
            {% if se_page == "of_new" %}
                <form method="POST" enctype='multipart/form-data' action="{% url 'barter_app:offer_create' %}" >
                    {% csrf_token %}
                    {% for field in form %}
                        {{field.as_hidden}}
                    {% endfor %}
                    <input type="hidden" name="goods_id" value="{{goods.id}}" id="id_name">
                    <input type="hidden" name="offer_id" value="{{offer.id}}">
                    <button class="btn btn-primary" name="next" value="confirm" type="submit">戻る</button>
                </form>
            {% endif %}    
            {% if se_page == "of_select" %}
                <form method="POST" enctype='multipart/form-data' action="{% url 'barter_app:offer_select' %}">
                    {% csrf_token %}   
                    <input type="hidden" name="goods_id" value="{{goods.id}}" id="id_name">
                    <input type="hidden" name="my_goods_id" value="{{my_goods.id}}">
                    <button class="btn btn-primary" name="next" value="confirm" type="submit">戻る</button>
                </form>
            {% endif %}    
            {% if se_page == "home" %}
                <a class="btn btn-info" href="{% url 'barter_app:home' %}" style="background-color: #0066FF;">戻る</a>
            {% endif %}    
            {% if se_page == "mypage" %}
                <a class="btn btn-info" href="{% url 'barter_app:mypage' %}" style="background-color: #0066FF;">戻る</a>
            {% endif %}    
            {% if se_page == "tra_se" %}
            <form method="POST" enctype='multipart/form-data' action="{% url 'barter_app:offer_detail' %}">
                {% csrf_token %}   
                <input type="hidden" name="offer_pk" value="{{offer.id}}">
                <button class="btn btn-primary" name="next" value="trade_confirm" type="submit">戻る</button>
            </form>
            {% endif %}
        </div>
        <form action="{% url 'barter_app:pay_comp' %}" method="post">
            {% csrf_token %}
                <div class="totalradio">
                    <div style="text-align: center;">
                        <p>※購入されたチケットは返金致しませんので、<span class="midi_span">購入の際は枚数の確認をお願いいたします。</span></p>
                        <p style="font-size: 22px;">現在の所有チケット枚数：<strong>{{ user.ticket }}</strong>枚</p>
                    </div>
                    <!-- チケット1枚 -->  
                    <div class="radio_1">
                        <input type="radio" name='amount' value="300" id="radio1" checked="checked">
                        <label for="radio1">
                            <img src="{% static 'img/ticket_green.png' %}" alt="ticket1枚" id="ticket_img" style="margin-top: 10px;">
                            チケット1枚 ￥300
                        </label>
                    </div>
                    
                    <!-- チケット3枚 -->  
                    <div class="radio_2">
                        <input type="radio" name='amount' value="500" id="radio2">
                        <label for="radio2">
                        <img src="{% static 'img/ticket_kaisuuken.png' %}" alt="ticket3枚" id="ticket_img">
                        チケット3枚 ￥500
                        </label>
                    </div>

                    <!-- チケット5枚 -->  
                    <div class="radio_3">
                        <input type="radio" name='amount' value="1300" id="radio3">
                        <label for="radio3">
                        <img src="{% static 'img/ticket_kaisuuken.png' %}" alt="ticket5枚" id="ticket_img">
                        チケット5枚￥1300
                        </label>
                    </div>
                    <table>
                        <tr>
                            <form method="POST" name="oform1" enctype='multipart/form-data' action="{% url 'barter_app:pay_comp' %}" >
                                {% csrf_token %}
                                <input type="hidden" name="goods_id" value="{{goods.id}}" id="id_name">
                                <input type="hidden" name="my_goods_id" value="{{my_goods.id}}">
                                <input type="hidden" name="offer_id" value="{{offer.id}}">
                                <td class="button1"><script name="oform1" type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="{{ public_key }}" data-submit-text="送信する"></script></td>
                            </form>
                        </tr>
                    </table>
                </div> 
        </form>
    </div>
</section>
{% endblock %}
