{% extends 'base.html' %}
{% load static %}
{% load myfilter %}

{% block title %}やることリスト{% endblock %}

{% block contents %}
<section class="main_cont effect d_02">
    <div class="container">
        <div class="my-div-style w-100">
        <h2 class="midasi" style="text-align: center;">やることリスト</h2>
            <div class="row">
                {% for todo in todos_list reversed %}
                    <table class="offer_table">
                        {% if todo.user == user %}  <!-- 自分が出品者かチャットの受信者 -->
                            {% if todo.todoslist_flg == 2 %}  <!-- チャットの通知 -->
                                <tr>
                                    {% if todo.chat_gamen == 1 %} <!-- 個人チャット -->
                                        <form method="POST"  action="{% url 'barter_app:chat_message' %}">
                                            {% csrf_token %}
                                            <td>
                                                <div class="todo_hover">
                                                    <input type="hidden" name="link2" value="todos">
                                                    <input type="hidden" name="todo_pk" value="{{todo.pk}}">
                                                    <button class="btn todo_btn" name="g_user" value="{{todo.user2}}" type="submit">
                                                    {% get_user todo.user2 1 as flag %}
                                                    {% if flag == 0 %}
                                                        <img src="{% static 'img/user-icon.png' %}" alt="noimage" class="icon-img" style="width: 50px; height: 50px;"/>        
                                                    {% else %}
                                                        <img src="{% get_user todo.user2 1 %}" class="icon-img" style="width: 50px; height: 50px;">
                                                    {% endif %}
                                                    {% get_user todo.user2 2 %}から{{ text.6 }}<br>{{ todo.created_at | date:'Y/m/d H:i' }}</button>
                                                </div>
                                            </td>
                                        </form>
                                    {% endif %}
                                    {% if todo.chat_gamen == 2 %} <!-- 商品詳細コメント -->
                                        <form method="POST"  action="{% url 'barter_app:goods_detail' todo.goods.pk %}">
                                            {% csrf_token %}
                                            <td>
                                                <div class="todo_hover">
                                                    <input type="hidden" name="todo_pk" value="{{todo.pk}}">
                                                    <input type="hidden" name="click" value="on">
                                                    <button class="btn todo_btn" name="link" value="todos" type="submit">
                                                    {% if todo.goods.photo1 %}
                                                        <img src="{{ todo.goods.photo1.url }}"style="width: 50px; height: 50px;">
                                                    {% else %}
                                                        <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 50px; height: 50px;"/>        
                                                    {% endif %}
                                                    {{ todo.goods.name | truncatechars:7 }}{{ text.7 }}<br>{{ todo.created_at | date:'Y/m/d H:i' }}</button>
                                                </div>
                                            </td>
                                        </form>
                                    {% endif %}
                                    {% if todo.chat_gamen == 3 %} <!-- 取引チャット -->
                                        <form method="POST"  action="{% url 'barter_app:trading_contact' %}">
                                            {% csrf_token %}
                                            <td>
                                                <div class="todo_hover">
                                                    <input type="hidden" name="todo_pk" value="{{todo.pk}}">
                                                    <input type="hidden" name="od1_2" value="todos">
                                                    <button class="btn todo_btn" name="trade_pk" value="{{todo.trade.pk}}" type="submit">
                                                    {% if todo.trade.goods.user == user %}
                                                        {% if todo.trade.goods.photo1 %}
                                                            <img src="{{ todo.trade.goods.photo1.url }}" style="width: 50px; height: 50px;">
                                                        {% else %}
                                                            <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 50px; height: 50px;"/>        
                                                        {% endif %}
                                                        {{ todo.trade.goods.name | truncatechars:11 }}に取引{{ text.6 }}<br>{{ todo.created_at | date:'Y/m/d H:i' }}</button>
                                                    {% else %}
                                                        {% if todo.trade.offer.photo1 %}
                                                            <img src="{{ todo.trade.offer.photo1.url }}" style="width: 50px; height: 50px;">
                                                        {% else %}
                                                            <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 50px; height: 50px;"/>        
                                                        {% endif %}
                                                        {{ todo.trade.offer.name | truncatechars:11 }}に取引{{ text.6 }}<br>{{ todo.created_at | date:'Y/m/d H:i' }}</button>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </form>
                                    {% endif %}
                                </tr>
                            {% endif %}
                            {% if todo.todoslist_flg == 1 %} <!-- 取引関連の通知 -->
                                {% if todo.offer_flg == 0 %}  <!-- 申請が来ました -->
                                    <tr>
                                        <form method="POST"  action="{% url 'barter_app:offer_detail' %}">
                                            {% csrf_token %}
                                            <td>
                                                <div class="todo_hover">
                                                    <input type="hidden" name="od1_2" value="todos">
                                                    <button class="btn todo_btn" name="offer_pk" value="{{todo.offer.id}}" type="submit">
                                                    {% if todo.photo1 %}
                                                        <img src="{{ todo.photo1.url }}" style="width: 50px; height: 50px;">
                                                    {% else %}
                                                        <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 50px; height: 50px;"/>        
                                                    {% endif %}
                                                    {{ todo.offer.goods.name | truncatechars:11 }}{{ text.0 }}<br>{{ todo.created_at | date:'Y/m/d H:i' }}</button>
                                                </div>
                                            </td>
                                        </form>
                                    </tr>
                                {% endif %}
                                {% if todo.todo_flg == 2 %}  <!-- 発送してください -->
                                    <tr>
                                        <form method="POST"  action="{% url 'barter_app:trading_detail' %}">
                                            {% csrf_token %}
                                            <td>
                                                <div class="todo_hover">
                                                    <input type="hidden" name="od1_2" value="todos">
                                                    <button class="btn todo_btn" name="trade_pk" value="{{todo.trade.pk}}" type="submit">
                                                    {% if todo.offer.photo1 %}
                                                        <img src="{{ todo.photo1.url }}" style="width: 50px; height: 50px;">
                                                    {% else %}
                                                        <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 50px; height: 50px;"/>        
                                                    {% endif %}
                                                    {{ todo.offer.goods.name | truncatechars:11 }}{{ text.3 }}<br>{{ todo.created_at | date:'Y/m/d H:i' }}</button>
                                                </div>
                                            </td>
                                        </form>
                                    </tr>
                                {% endif %}
                                {% if todo.todo_flg == 3  %}  <!-- 受け取り評価してください --> 
                                    <tr>
                                        <form method="POST"  action="{% url 'barter_app:trading_detail' %}">
                                            {% csrf_token %}
                                            <td>
                                                <div class="todo_hover">
                                                    <input type="hidden" name="od1_2" value="todos">
                                                    <button class="btn todo_btn" name="trade_pk" value="{{todo.trade.pk}}" type="submit">
                                                    {% if todo.offer.photo1 %}
                                                        <img src="{{ todo.offer.photo1.url }}" style="width: 50px; height: 50px;">
                                                    {% else %}
                                                        <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 50px; height: 50px;"/>        
                                                    {% endif %}
                                                    {{ todo.offer.name | truncatechars:11 }}{{ text.4 }}<br>{{ todo.created_at | date:'Y/m/d H:i' }}</button>
                                                </div>
                                            </td>
                                        </form>
                                    </tr>
                                {% endif %}
                                {% if todo.todo_flg == 4 %} <!-- 相手の評価してください -->
                                    <tr>
                                        <form method="POST"  action="{% url 'barter_app:trading_detail' %}">
                                            {% csrf_token %}
                                            <td>
                                                <div class="todo_hover">
                                                    <input type="hidden" name="od1_2" value="todos">
                                                    <button class="btn todo_btn" name="trade_pk" value="{{todo.trade.pk}}" type="submit">
                                                    {% if todo.trade.goods.photo1 %}
                                                        <img src="{{ todo.trade.goods.photo1.url }}" style="width: 50px; height: 50px;">
                                                    {% else %}
                                                        <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 50px; height: 50px;"/>        
                                                    {% endif %}
                                                    {{ todo.trade.goods.name | truncatechars:11 }}{{ text.5 }}<br>{{ todo.created_at | date:'Y/m/d H:i' }}</button>
                                                </div>
                                            </td>
                                        </form>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% else %}   <!-- 自分が申請者 -->
                            {% if todo.offer_flg == 2 %}  <!-- 発送してください -->
                                <tr>
                                    <form method="POST"  action="{% url 'barter_app:trading_detail' %}">
                                        {% csrf_token %}
                                        <td>
                                            <div class="todo_hover">
                                                <input type="hidden" name="od1_2" value="todos">
                                                <button class="btn todo_btn" name="trade_pk" value="{{todo.trade.pk}}" type="submit">
                                                {% if todo.offer.photo1 %}
                                                    <img src="{{ todo.offer.photo1.url }}" style="width: 50px; height: 50px;">
                                                {% else %}
                                                    <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 50px; height: 50px;"/>        
                                                {% endif %}
                                                {{ todo.offer.name | truncatechars:11 }}{{ text.3 }}<br>{{ todo.created_at | date:'Y/m/d H:i' }}</button>
                                            </div>
                                        </td>
                                    </form>
                                </tr>
                            {% endif %}
                            {% if todo.offer_flg == 3 %} <!-- 受け取り評価してください -->
                                <tr>
                                    <form method="POST"  action="{% url 'barter_app:trading_detail' %}">
                                        {% csrf_token %}
                                        <td>
                                            <div class="todo_hover">
                                                <input type="hidden" name="od1_2" value="todos">
                                                <button class="btn todo_btn" name="trade_pk" value="{{todo.trade.pk}}" type="submit">
                                                {% if todo.trade.goods.photo1 %}
                                                    <img src="{{ todo.trade.goods.photo1.url }}" style="width: 50px; height: 50px;">
                                                {% else %}
                                                    <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 50px; height: 50px;"/>        
                                                {% endif %}
                                                {{ todo.trade.goods.name | truncatechars:11 }}{{ text.4 }}<br>{{ todo.created_at | date:'Y/m/d H:i' }}</button>
                                            </div>
                                        </td>
                                    </form>
                                </tr>
                            {% endif %}
                            {% if todo.offer_flg == 4 %} <!-- 相手の評価してください -->
                                <tr>
                                    <form method="POST"  action="{% url 'barter_app:trading_detail' %}">
                                        {% csrf_token %}
                                        <td>
                                            <div class="todo_hover">
                                                <input type="hidden" name="od1_2" value="todos">
                                                <button class="btn todo_btn" name="trade_pk" value="{{todo.trade.pk}}" type="submit">
                                                {% if todo.trade.goods.photo1 %}
                                                    <img src="{{ todo.trade.goods.photo1.url }}" style="width: 50px; height: 50px;">
                                                {% else %}
                                                    <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 50px; height: 50px;"/>        
                                                {% endif %}
                                                {{ todo.trade.goods.name | truncatechars:11 }}{{ text.5 }}<br>{{ todo.created_at | date:'Y/m/d H:i' }}</button>
                                            </div>
                                        </td>
                                    </form>
                                </tr>
                            {% endif %}
                            {% if todo.todo_flg == 1 %}  <!-- 拒否されました -->
                                <tr>
                                    <form method="POST" action="{% url 'barter_app:todo_del' todo.pk %}">{% csrf_token %}
                                        <td>
                                            <div class="todo_hover">
                                                <button class="btn todo_btn" onclick='return confirm("この通知を削除しますか？");' type="submit">
                                                {% if todo.offer.photo1 %}
                                                    <img src="{{ todo.offer.photo1.url }}" style="width: 50px; height: 50px;">
                                                {% else %}
                                                    <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 50px; height: 50px;"/>        
                                                {% endif %}
                                                {{ todo.offer.name | truncatechars:11 }}{{ text.2 }}<br>{{ todo.created_at | date:'Y/m/d H:i' }}</button>                                            
                                            </div>
                                        </td>
                                    </form>
                                </tr>
                            {% endif %}
                            {% if todo.todo_flg == 6 %}  <!-- 商品が削除されました -->
                                <tr>
                                    <form method="POST"  action="{% url 'barter_app:todo_del' todo.pk %}">
                                        {% csrf_token %}
                                        <td>
                                            <div class="todo_hover">
                                                <button class="btn todo_btn" onclick='return confirm("この通知を削除しますか？");' type="submit">
                                                {% if todo.offer.goods.photo1 %}
                                                    <img src="{{ todo.offer.goods.photo1.url }}" style="width: 50px; height: 50px;">
                                                {% else %}
                                                    <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 50px; height: 50px;"/>        
                                                {% endif %}
                                                「{{ todo.offer.goods.name | truncatechars:11 }}」{{ text.1 }}<br>{{ todo.created_at | date:'Y/m/d H:i' }}</button>
                                            </div>
                                        </td>
                                    </form>
                                </tr>
                            {% endif %}
                        {% endif %}
                    </table>
                {% empty %}
                    <tr>
                        <td>
                            <p>やることリストはありません。</p>
                            <p>例）発送してください。など</p>
                        </td>
                    </tr>
                {% endfor %}
            </div>
        </div>             
    </div>
</section>
{% endblock %}

