{% extends 'base.html' %}
{% load static %}
{% load myfilter %}

{% block title %}取引詳細{% endblock %}

{% block head %}
<script>
    var img_src = new Array({% if goods.photo1 %}"{{ goods.photo1.url }}"{%endif%}{% if goods.photo2 %},"{{ goods.photo2.url }}"{%endif%}{% if goods.photo3 %},"{{ goods.photo3.url }}"{%endif%}{% if goods.photo4 %},"{{ goods.photo4.url }}"{%endif%}{% if goods.photo5 %},"{{ goods.photo5.url }}"{%endif%});
    var i = 0;
    var img_src2 = new Array({% if offer.photo1 %}"{{ offer.photo1.url }}"{%endif%}{% if offer.photo2 %},"{{ offer.photo2.url }}"{%endif%}{% if offer.photo3 %},"{{ offer.photo3.url }}"{%endif%}{% if offer.photo4 %},"{{ offer.photo4.url }}"{%endif%}{% if offer.photo5 %},"{{ offer.photo5.url }}"{%endif%});
    var i2 = 0;
    var img_src3 = new Array({% if goods2.photo1 %}"{{ goods2.photo1.url }}"{%endif%}{% if goods2.photo2 %},"{{ goods2.photo2.url }}"{%endif%}{% if goods2.photo3 %},"{{ goods2.photo3.url }}"{%endif%}{% if goods2.photo4 %},"{{ goods2.photo4.url }}"{%endif%}{% if goods2.photo5 %},"{{ goods2.photo5.url }}"{%endif%});
    var i3 = 0;

    function henkou() {
      if (i == img_src.length-1) {
        i = 0;
      } else {
        i ++;
      }
      document.getElementById("photo_img").src = img_src[i];
    }
    function img_change(num){
        i = num
        document.getElementById("photo_img").src = img_src[i];
    }
    function henkou2() {
        if (i2 == img_src2.length-1) {
          i2 = 0;
        } else {
           i2++;
        }
        document.getElementById("photo_img2").src = img_src2[i2];
      }
      function img_change2(num){
        i2 = num
        document.getElementById("photo_img2").src = img_src2[i2];
      }
      function henkou3() {
        if (i3 == img_src3.length-1) {
          i3 = 0;
        } else {
           i3++;
        }
        document.getElementById("photo_img3").src = img_src3[i3];
      }
      function img_change3(num){
        i3 = num
        document.getElementById("photo_img3").src = img_src3[i3];
      }
  </script>
{% endblock %}

{% block contents %}
<section class="main_cont effect d_02">
    <div class="container">
        <h2 class="midasi" style="text-align:center;">取引詳細</h2>
            <div class="row">
                <div class="col-sm-10">
                    <div style="float: left;">
                        {% if link2 == 'todos' %}
                            <form method="POST" name="tback1" enctype='multipart/form-data' action="{% url 'barter_app:todos' %}">
                                {% csrf_token %}
                                <a class="btn btn-info" href="javascript:tback1.submit()" style="background-color: #0066FF;">戻る</a>
                            </form>
                        {% elif link2 == 'tra_his' %}
                            <form method="POST" name="tback2" enctype='multipart/form-data' action="{% url 'barter_app:trading_history' %}">
                                {% csrf_token %}
                                <input type="hidden" name="trade_pk" value="{{trade.id}}">
                                <a class="btn btn-info" href="javascript:tback2.submit()" style="background-color: #0066FF;">戻る</a>
                            </form>
                        {% elif link2 == 'tra_his_end' %}
                            <form method="POST" name="tback3" enctype='multipart/form-data' action="{% url 'barter_app:trading_history_end' %}">
                                {% csrf_token %}
                                <input type="hidden" name="trade_pk" value="{{trade.id}}">
                                <a class="btn btn-info" href="javascript:tback3.submit()" style="background-color: #0066FF;">戻る</a>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>

        <h3 style="text-align:center">あなたの商品</h3>
        {%if offer.user == user%} <!-- あなたが申請した人 -->
            {%if offer.goods_registed_id  > 0 %} <!-- 登録済みの商品で申請した -->
            <div class="row">  <!-- 登録済みの商品で申請した人 -->
                <div class="col-sm-10 mx-auto">
                    <div class="widleft">    
                        <table class="table">
                            <tr>
                                <th>商品名</th>
                                <form method="POST" name="td1" enctype='multipart/form-data' action="{% url 'barter_app:goods_detail' goods2.pk %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="trade_pk" value="{{trade.id}}">
                                    <input type="hidden" name="link" value="t_detail">
                                    <td><a href="javascript:td1.submit()">{{goods2.name}}</a></td>
                                </form>
                            </tr>
                            <tr>
                                <th>商品説明</th>
                                <td>{{goods2.content | truncatechars:10}}</td>
                            </tr>
                            <tr>
                                <th>カテゴリー</th>
                                <td>{{goods2.category}}</td>
                            </tr>
                            <tr>
                                <th>出品地域</th>
                                <td>{{goods2.user.prefecture}}</td>
                            </tr>
                            <tr>
                                <th>商品状態</th>
                                <td>{{goods2.status}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="widright">
                        <div class="row">
                            <div class="col-8 col-sm-12 mx-auto">
                                {% if goods2.photo1 %}
                                    <img id="photo_img3" src="{{ goods2.photo1.url }}" onClick="henkou3()" style="width: 300px; height: 300px;"/>
                                {% else %}
                                    <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>          
                                {% endif %}
                            </div>
                        </div>
                        {% if goods2.photo2 %}
                            <hr>
                            <div class="row">
                                <div class="col-9 col-sm-10 mx-auto">
                                    {% if goods2.photo1 %}
                                        <img src="{{ goods2.photo1.url }}" onClick="img_change3(0)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                    {% if goods2.photo2 %}
                                        <img src="{{ goods2.photo2.url }}" onClick="img_change3(1)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                    {% if goods2.photo3 %}
                                        <img src="{{ goods2.photo3.url }}" onClick="img_change3(2)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                    {% if goods2.photo4 %}
                                        <img src="{{ goods2.photo4.url }}" onClick="img_change3(3)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                    {% if goods2.photo5 %}
                                        <img src="{{ goods2.photo5.url }}" onClick="img_change3(4)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        <br>
                    </div>
                </div>
            </div>
        {%else%}
                <div class="row">  <!-- 新規で申請した -->
                    <div class="col-sm-10 mx-auto">
                        <div class="widleft">
                            <table class="table">
                                <tr>
                                    <th>商品名</th>
                                    <form method="POST" name="td2" enctype='multipart/form-data' action="{% url 'barter_app:goods_detail' offer.pk %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="nex" value="goods_detail">
                                        <input type="hidden" name="trade_pk" value="{{trade.id}}">
                                        <input type="hidden" name="link" value="t_detail">
                                        <td><a href="javascript:td2.submit()">{{offer.name}}</a></td>
                                    </form>
                                </tr>
                                <tr>
                                    <th>商品説明</th>
                                    <td>{{offer.content | truncatechars:10}}</td>
                                </tr>
                                <tr>
                                    <th>カテゴリー</th>
                                    <td>{{offer.category}}</td>
                                </tr>
                                <tr>
                                    <th>出品地域</th>
                                    <td>{{offer.user.prefecture}}</td>
                                </tr>
                                <tr>
                                    <th>商品状態</th>
                                    <td>{{offer.status}}</td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="widright">
                            <div class="row">
                                <div class="col-8 col-sm-12 mx-auto">
                                    {% if offer.photo1 %}
                                        <img id="photo_img3" src="{{ offer.photo1.url }}" onClick="henkou2()" style="width: 300px; height: 300px;"/>
                                    {% else %}
                                        <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>        
                                    {% endif %}
                                </div>
                            </div>
                            {% if offer.photo2 %}
                                <hr>
                                <div class="row">
                                    <div class="col-9 col-sm-10 mx-auto">
                                        {% if offer.photo1 %}
                                            <img src="{{ offer.photo1.url }}" onClick="img_change2(0)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if offer.photo2 %}
                                            <img src="{{ offer.photo2.url }}" onClick="img_change2(1)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if offer.photo3 %}
                                            <img src="{{ offer.photo3.url }}" onClick="img_change2(2)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if offer.photo4 %}
                                            <img src="{{ offer.photo4.url }}" onClick="img_change2(3)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if offer.photo5 %}
                                            <img src="{{ offer.photo5.url }}" onClick="img_change2(4)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                    </div>
                                <div>
                            {% endif %}
                            <br>
                        </div>
                    </div>  
                </div>
            {%endif%}
        {%else%}
            <div class="row">  <!-- あなたが出品者の場合 -->
                <div class="col-sm-10 mx-auto">
                    <div class="widleft">
                        <table class="table">
                            <tr>
                                <th>商品名</th>
                                <form method="POST" name="td3" enctype='multipart/form-data' action="{% url 'barter_app:goods_detail' goods.pk %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="trade_pk" value="{{trade.id}}">
                                    <input type="hidden" name="link" value="t_detail">  <!-- リンク先名 -->
                                    <td><a href="javascript:td3.submit()">{{goods.name}}</a></td>
                                </form>
                            </tr>
                            <tr>
                                <th>商品説明</th>
                                <td>{{goods.content | truncatechars:10}}</td>
                            </tr>
                            <tr>
                                <th>カテゴリー</th>
                                <td>{{goods.category}}</td>
                            </tr>
                            <tr>
                                <th>出品地域</th>
                                <td>{{goods.user.prefecture}}</td>
                            </tr>
                            <tr>
                                <th>商品状態</th>
                                <td>{{goods.status}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="widright">
                        <div class="row">
                            <div class="col-8 col-sm-12 mx-auto">
                                {% if goods.photo1 %}
                                    <img id="photo_img" src="{{ goods.photo1.url }}" onClick="henkou()" style="width: 300px; height: 300px;"/>
                                {% else %}
                                    <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>
                                {% endif %}
                            </div>
                        </div>
                        {% if goods.photo2 %}
                            <hr>
                            <div class="row">
                                <div class="col-9 col-sm-10 mx-auto">
                                    {% if goods.photo1 %}
                                        <img src="{{ goods.photo1.url }}" onClick="img_change(0)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                    {% if goods.photo2 %}
                                        <img src="{{ goods.photo2.url }}" onClick="img_change(1)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                    {% if goods.photo3 %}
                                        <img src="{{ goods.photo3.url }}" onClick="img_change(2)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                    {% if goods.photo4 %}
                                        <img src="{{ goods.photo4.url }}" onClick="img_change(3)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                    {% if goods.photo5 %}
                                        <img src="{{ goods.photo5.url }}" onClick="img_change(4)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        <br>
                    </div>
                </div>
            </div>
        {%endif%}


        <h3 style="text-align: center;">相手の商品</h3>
        {%if goods.user == user%}  <!-- 相手が出品者の場合 -->
            {%if offer.goods_registed_id  > 0 %}  <!-- あなたが登録済みの商品で申請した場合 -->
                <div class="row"> <!-- 登録済の商品で申請した人 -->
                    <div class="col-sm-10 mx-auto">
                        <div class="widleft">
                            <table class="table">
                                <tr>
                                    <th>商品名</th>
                                    <form method="POST" name="td4" enctype='multipart/form-data' action="{% url 'barter_app:goods_detail' goods2.pk %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="trade_pk" value="{{trade.id}}">
                                        <input type="hidden" name="link" value="t_detail">
                                        <td><a href="javascript:td4.submit()">{{goods2.name}}</a></td>
                                    </form>
                                </tr>
                                <tr>
                                    <th>商品説明</th>
                                    <td>{{goods2.content | truncatechars:10}}</td>
                                </tr>
                                <tr>
                                    <th>カテゴリー</th>
                                    <td>{{goods2.category}}</td>
                                </tr>
                                <tr>
                                    <th>出品地域</th>
                                    <td>{{goods2.user.prefecture}}</td>
                                </tr>
                                <tr>
                                    <th>商品状態</th>
                                    <td>{{goods2.status}}</td>
                                </tr>
                            </table>
                        </div>

                        <div class="widright">
                            <div class="row">
                                <div class="col-8 col-sm-12 mx-auto">
                                    {% if goods2.photo1 %}
                                        <img id="photo_img3" src="{{ goods2.photo1.url }}" onClick="henkou3()" style="width: 300px; height: 300px;"/>
                                    {% else %}
                                        <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>        
                                    {% endif %}
                                </div>
                            </div>
                            {% if goods2.photo2 %}
                                <hr>
                                <div class="row">
                                    <div class="col-9 col-sm-10 mx-auto">
                                        {% if goods2.photo1 %}
                                            <img src="{{ goods2.photo1.url }}" onClick="img_change3(0)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if goods2.photo2 %}
                                            <img src="{{ goods2.photo2.url }}" onClick="img_change3(1)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if goods2.photo3 %}
                                            <img src="{{ goods2.photo3.url }}" onClick="img_change3(2)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if goods2.photo4 %}
                                            <img src="{{ goods2.photo4.url }}" onClick="img_change3(3)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if goods2.photo5 %}
                                            <img src="{{ goods2.photo5.url }}" onClick="img_change3(4)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            <br>
                        </div>
                    </div>
                </div>
            {%else%}
                <div class="row">  <!-- 新規で申請した場合 -->
                    <div class="col-sm-10 mx-auto">
                        <div class="widleft">
                            <table class="table">
                                <tr>
                                    <th>商品名</th>
                                    <form method="POST" name="td5" enctype='multipart/form-data' action="{% url 'barter_app:goods_detail' offer.pk %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="nex" value="goods_detail">
                                        <input type="hidden" name="trade_pk" value="{{trade.id}}">
                                        <input type="hidden" name="link" value="t_detail">
                                        <td><a href="javascript:td5.submit()">{{offer.name}}</a></td>
                                    </form>
                                </tr>
                                <tr>
                                    <th>商品説明</th>
                                    <td>{{offer.content | truncatechars:10}}</td>
                                </tr>
                                <tr>
                                    <th>カテゴリー</th>
                                    <td>{{offer.category}}</td>
                                </tr>
                                <tr>
                                    <th>出品地域</th>
                                    <td>{{offer.user.prefecture}}</td>
                                </tr>
                                <tr>
                                    <th>商品状態</th>
                                    <td>{{offer.status}}</td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="widright">
                            <div class="row">
                                <div class="col-8 col-sm-12 mx-auto">
                                    {% if offer.photo1 %}
                                        <img id="photo_img3" src="{{ offer.photo1.url }}" onClick="henkou2()" style="width: 300px; height: 300px;"/>
                                    {% else %}
                                        <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>        
                                    {% endif %}
                                </div>
                            </div>
                            {% if offer.photo2 %}
                                <hr>
                                <div class="row">
                                    <div class="col-9 col-sm-10 mx-auto">
                                        {% if offer.photo1 %}
                                            <img src="{{ offer.photo1.url }}" onClick="img_change2(0)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if offer.photo2 %}
                                            <img src="{{ offer.photo2.url }}" onClick="img_change2(1)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if offer.photo3 %}
                                            <img src="{{ offer.photo3.url }}" onClick="img_change2(2)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if offer.photo4 %}
                                            <img src="{{ offer.photo4.url }}" onClick="img_change2(3)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                        {% if offer.photo5 %}
                                            <img src="{{ offer.photo5.url }}" onClick="img_change2(4)" style="width: 50px; height: 50px;"/>
                                        {% endif %}
                                    </div>
                                <div>
                            {% endif %}
                            <br>
                        </div>
                    </div>
                </div>
            {%endif%}
        {%else%}
            <div class="row">  <!-- 相手が出品者の場合 -->
                <div class="col-sm-10 mx-auto">
                    <div class="widleft">
                        <table class="table">
                            <tr>
                                <th>商品名</th>
                                <form method="POST" name="td6" enctype='multipart/form-data' action="{% url 'barter_app:goods_detail' goods.pk %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="trade_pk" value="{{trade.id}}">
                                    <input type="hidden" name="link" value="t_detail">  <!-- リンク先名 -->
                                    <td><a href="javascript:td6.submit()">{{goods.name}}</a></td>
                                </form>
                            </tr>
                            <tr>
                                <th>商品説明</th>
                                <td>{{goods.content | truncatechars:10}}</td>
                            </tr>
                            <tr>
                                <th>カテゴリー</th>
                                <td>{{goods.category}}</td>
                            </tr>
                            <tr>
                                <th>出品地域</th>
                                <td>{{goods.user.prefecture}}</td>
                            </tr>
                            <tr>
                                <th>商品状態</th>
                                <td>{{goods.status}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="widright">
                        <div class="row">
                            <div class="col-8 col-sm-12 mx-auto">
                                {% if goods.photo1 %}
                                    <img id="photo_img" src="{{ goods.photo1.url }}" onClick="henkou()" style="width: 300px; height: 300px;"/>
                                {% else %}
                                    <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>
                                {% endif %}
                            </div>
                        </div>
                        {% if goods.photo2 %}
                            <hr>
                            <div class="row">
                                <div class="col-9 col-sm-10 mx-auto">
                                    {% if goods.photo1 %}
                                        <img src="{{ goods.photo1.url }}" onClick="img_change(0)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                    {% if goods.photo2 %}
                                        <img src="{{ goods.photo2.url }}" onClick="img_change(1)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                    {% if goods.photo3 %}
                                        <img src="{{ goods.photo3.url }}" onClick="img_change(2)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                    {% if goods.photo4 %}
                                        <img src="{{ goods.photo4.url }}" onClick="img_change(3)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                    {% if goods.photo5 %}
                                        <img src="{{ goods.photo5.url }}" onClick="img_change(4)" style="width: 50px; height: 50px;"/>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        <br>
                    </div>
                </div>
            </div>    
        {%endif%}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 mx-auto">
                {%if my_status == 4 %}
                    <div style="text-align: center;">
                        <h3>全ての処理が完了しました<br>お疲れさまでした</h3>
                    </div>
                {%elif my_status == 3 %}
                    <div class="trade_comp">
                        {% if other_status == 3%}
                            <h3>商品の交換が完了しました</h3>
                        {% else %}
                            <h3>商品の受け取りが完了しました</h3>
                        {% endif %}
                    </div>
                    <form method="POST" name="form_eva" action="{% url 'barter_app:user_evaluation' %}">
                        {% csrf_token %}
                        <input type="hidden" name="trade_pk" value="{{trade.pk}}">
                        {%if goods.user == user %}
                            <input type="hidden" name="o_user" value="{{offer.user.pk}}">
                        {%else%}
                            <input type="hidden" name="o_user" value="{{goods.user.pk}}">
                        {%endif%}
                        <div class="trade_comp">
                            <h3>取引相手を評価してください</h3>
                        </div>
                        <div class="trade_btn_cs">
                            <a href="javascript:form_eva.submit()">
                                <p style="text-align:center; padding-top: 5px;">相手を評価する</p>
                            </a>
                        </div>
                        <br>
                        <br>
                    </form>
                {%else%}
                    {%if my_status == 1 %}
                        <h3 style="text-align: center;">商品を発送したら、発送連絡をしてください</h3>
                        <div class="td_btn">
                            <form method="POST" enctype='multipart/form-data' action="{% url 'barter_app:address_print' %}">
                                {% csrf_token %}
                                <input type="hidden" name="trade_pk" value="{{trade.pk}}">
                                <button class="btn btn-success ad_print" type="submit">住所印刷 <i class="far fa-file-alt"></i></button>
                            </form>
                            <form method="POST" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <input type="hidden" name="offer_pk" value="{{offer.id}}" id="id_name">
                                <input type="hidden" name="goods_pk" value="{{goods.id}}">
                                <input type="hidden" name="trade_pk" value="{{trade.pk}}">
                                    <button class="btn btn-primary" name="next" value="ship_confirm" type="submit">発送連絡をする</button>
                        </div>
                            <br>
                            <br>
                            <br>
                        </form>
                    {% elif my_status == 2 and other_status != 1%}
                        <form method="POST" enctype='multipart/form-data'>
                            {% csrf_token %}
                            <input type="hidden" name="offer_pk" value="{{offer.id}}" id="id_name">
                            <input type="hidden" name="goods_pk" value="{{goods.id}}">
                            <input type="hidden" name="trade_pk" value="{{trade.pk}}">
                            <div style="text-align: center;">
                                <h3>相手の商品が届いたら、受け取り連絡をしてください</h3>
                                <button class="btn btn-primary" name="next" value="receive_confirm" type="submit">受け取り連絡をする</button>
                            </div>
                            <br>
                            <br>
                            <br>
                        </form>
                    {% elif my_status == 2 and other_status == 1%}
                        <h3 style="text-align: center;">取引相手がまだ商品を発送していません、お待ちください</h3>
                    {% endif %}
                {%endif%}
            </div>
            <div class="col-sm-10 mx-auto">
                <form method="POST" name="form2" action="{% url 'barter_app:trading_contact' %}#message_form">
                    {% csrf_token %}
                    <input type="hidden" name="trade_pk" value="{{trade.pk}}">
                    <div class="trade_chat_cs chat_room2" style="text-align:center;">
                        {% get_chat2 user trade.pk as flag %}
                        {% if flag == 0 %}        
                            <a href="javascript:form2.submit()">
                                <p style= "margin-top: 5px">取引相手にメッセージを送る</p>
                            </a>
                        {% else %}
                            <a href="javascript:form2.submit()">
                                <p style= "margin-top: 5px">取引相手にメッセージを送る</p>
                            </a>
                            <span class="notice">{% get_chat2 user trade.pk %}</span>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<br>
<br>
{% endblock %}