{% extends 'base.html' %}
{% load static %}

{% block title %}メッセージ確認{% endblock %}

{% block contents %}
<section class="main_cont effect d_02">
<div class="content">
    <h2 class="my-div-style" style="text-align:center">メッセージ確認</h2>
    <div class="row">
        <div class="col-sm-10 mx-auto">
            
            <div class="row">
                <div class="col-3">
                    <strong>件名</strong>
                </div>
                <div class="col-9">
                    {{ form.subject.value }}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <strong>本文</strong>
                </div>
                <div class="col-9">
                    {{ form.message.value|linebreaksbr }}
                </div>
            </div>
                
        </div>
    </div>
    <div class="row">

        <div class="col-sm-10 mx-auto">
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                {% for field in form %}
                    {{field.as_hidden}}
                {% endfor %}
                <input type="hidden" name="trade_pk" value="{{trade.id}}" id="id_name">
                <h5>メッセージを送信しますか？</h5>
                <button class="btn btn-primary" name="next" value="confirm" type="submit">送信する（確定）</button>
                <button class="btn btn-primary" name="next" value="back" type="submit">訂正する</button>
            </form>
        </div>
    </div>
</div>
</section>
<br>
<br>
{% endblock %}