{% extends 'base.html' %}
{% load static %}

{% block title %}メッセージ送信{% endblock %}

{% block contents %}
<link rel="stylesheet" href="{% static 'All_style.css' %}" />
<section class="main_cont effect d_02">
<div class="content">

    <h2 class="my-div-style" style="text-align:center">送信完了しました</h2>
    
    <h3 style="text-align:center">メッセージを送信しました</h3>
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        
        <input type="hidden" name="trade_pk" value="{{trade.id}}" id="id_name">
        
        <button class="btn btn-primary" name="next" value="" type="submit">取引連絡に戻る</button>
    </form>

</div>
</section>
<br>
<br>
{% endblock %}