{% extends 'base.html' %}
{% load static %}

{% block title %}申込結果{% endblock %}

{% block contents %}
<link rel="stylesheet" href="{% static 'All_style.css' %}" />
<section class="main_cont effect d_02">
<div class="container">
        {% if result == "trade" %} 
        <h2 class="midasi" style="text-align:center">取引成立</h2>
        <br>
                <h3 style="text-align:center">{{goods.name}}と{{offer.name}}の交換取引が成立しました</h3>
                <br>
                <p style="text-align:center"><a>商品を発送してください</a></p>
                <form method="POST" action="{% url 'barter_app:trading_detail' %}">
                {% csrf_token %}
                <input type=hidden name="trade_pk" value="{{trade.pk}}">
                <div class="trade_comp">
                        <button class="btn btn-primary trade_comp" type="submit">取引詳細を見る</button>
                </div>
                </form>
        {% elif result == "refuse" %}
        <h2 class="midasi" style="text-align:center">取引不成立</h2>
                <h3 style="text-align:center">{{goods.name}}と{{offer.name}}の交換取引を拒否しました</h3>
                   <div class="trade_comp">
                        <form method="GET" action="{% url 'barter_app:home' %}">
                            <button class="btn btn-primary" type="submit">トップページに戻る</button>
                        </form>
                   </div>
        {% endif %}
</div>
</section>
<br>
<br>
{% endblock %}