{% extends 'base.html' %}
{% load static %}

{% block title %}取引完了一覧{% endblock %}

{% block contents %}
<section class="main_cont effect d_02">
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">        
            <h2 class="midasi" style="text-align: center;">取引完了一覧</h2>
            {% if trade_list %}
                <table class="offer_table">    
                        <tr>
                            <th colspan="2" style="text-align: center;">あなたの商品</th>
                            <th colspan="2" style="text-align: center;">相手の商品</th>
                            <th></th>
                        </tr>
                        {% for trade in trade_list %}
                            {% if trade.offer.user == user %}
                                <div class="row">      
                                    <tr>
                                        <td>
                                            <div class="trading_name">
                                                {{ trade.offer }}
                                            </div>
                                        </td>
                                        <td>
                                            {%if trade.offer.photo1 %}
                                                <img class="offer_photo" src="{{ trade.offer.photo1.url }} " alt="photo"/>
                                            {% else %}
                                                <img class="offer_photo" src="{% static 'img/noimage2.png' %}" alt="noimage"/>
                                        {% endif %}

                                        </td>
                                        <td>     
                                            <div class="trading_name">
                                            {{ trade.goods }}
                                            </div>
                                        </td>
                                        <td>
                                            {%if trade.goods.photo1 %}
                                                <img class="offer_photo" src="{{ trade.goods.photo1.url }} " alt="photo"/>
                                            {% else %}
                                                <img class="offer_photo" src="{% static 'img/noimage2.png' %}" alt="noimage"/>
                                            {% endif %}
                                        </td>

                                        <td>
                                            <form method="POST" action="{% url 'barter_app:trading_detail' %}">
                                            {% csrf_token %}
                                                <input type="hidden" name="od1_2" value="tra_his_end">
                                                <input type=hidden name="trade_pk" value="{{trade.pk}}">
                                                <button class="btn btn-primary" type="submit">詳細</button>
                                            </form>
                                        </td>
                                    </tr>             
                                </div>

                            {% else %}

                                <div class="row">      
                                    <tr>
                                        <td>
                                            <div class="trading_name">
                                                {{ trade.goods }}
                                            </div>
                                        </td>
                                        <td>
                                            {%if trade.goods.photo1 %}
                                                <img class="offer_photo" src="{{ trade.goods.photo1.url }} " alt="photo"/>
                                            {% else %}
                                                <img class="offer_photo" src="{% static 'img/noimage2.png' %}" alt="noimage"/>
                                        {% endif %}

                                        </td>
                                        <td>     
                                            <div class="trading_name">
                                                {{ trade.offer }}
                                            </div>
                                        </td>
                                        <td>
                                            {%if trade.offer.photo1 %}
                                                <img class="offer_photo" src="{{ trade.offer.photo1.url }} " alt="photo"/>
                                            {% else %}
                                                <img class="offer_photo" src="{% static 'img/noimage2.png' %}" alt="noimage"/>
                                            {% endif %}
                                        </td>

                                        <td>
                                            <form method="POST" action="{% url 'barter_app:trading_detail' %}">
                                            {% csrf_token %}
                                                <input type="hidden" name="od1_2" value="tra_his_end">
                                                <input type=hidden name="trade_pk" value="{{trade.pk}}">
                                                <button class="btn btn-primary" type="submit">詳細</button>
                                            </form>
                                        </td>
                                    </tr>             
                                </div>
                            {% endif %}
                        {% endfor %}
                </table>
            {% else %}
                <p class="offer_p" style="margin-top: 4rem;">取引完了した商品はありません。</p>
            {% endif %}
        </div>
    </div>
</div>
</section>


<br>
<br>
{% endblock %}