{% extends 'base.html' %}
{% load static %}

{% block title %}取引連絡{% endblock %}

{% block contents %}
<link rel="stylesheet" href="{% static 'All_style.css' %}" />
<section class="main_cont effect d_02">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="midasi" style="text-align:center">取引連絡</h2>
        </div>
        <div style="float: left;">
            {% if link2 %}
                <a class="btn btn-info" href="{% url 'barter_app:todos' %}" style="background-color: #0066FF;">戻る</a>                
            {% else %} 
                <form method="POST" enctype='multipart/form-data' action="{% url 'barter_app:trading_detail' %}">
                    {% csrf_token %}
                    <input type="hidden" name="trade_pk" value="{{trade.id}}">
                    <button class="btn btn-primary" name="next" value="back" type="submit">戻る</button>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-10 mx-auto">
    {% for m in message_all %}
    {% if forloop.revcounter == 3 %}
    <div  id="message_form"></div>
    {%endif%}
    {% if m.sender == user.pk %}
        <div class="row balloon-chat right">
            <div class="col-sm-6">
            </div>           
            <div class="col-sm-6" style="text-align:right;">
                {{ my_list.username }}
            </div>
            <div class="col-sm-5">
            </div>           
            <div class="col-sm-6 chatting">
                {{ m.message|linebreaksbr }}
            </div>
            <div class="col-sm-1 figure">
                {% if my_list.usericon %}
                <img src="{{ my_list.usericon.url }}" class="icon-img">
                {% else %}
                <img src="{% static 'img/user-icon.png' %}" class="icon-img">
                {% endif %}
            </div>           
        </div>
        <div class="row">           
            <div class="col-sm-11" style="text-align:right">
                {{ m.completion_at }}
            </div>
        </div>
        <br>
    {%else%}
        <div class="row balloon-chat left">
            <div class="col-sm-6" style="text-align:left;">
                {{ partner_list.username }}
            </div>
            <div class="col-sm-6">
            </div>         
            <div class="col-sm-1 figure">
                {% if partner_list.usericon %}
                <img src="{{ partner_list.usericon.url }}" class="icon-img">
                {% else %}
                <img src="{% static 'img/user-icon.png' %}" class="icon-img">
                {% endif %}
                
            </div>         
            <div class="col-sm-6 chatting">
                {{ m.message|linebreaksbr }}
            </div>
            <div class="col-sm-5" style="text-align:left">
            </div>         
        </div>
        <div class="row">     
            <div class="col-sm-1">
            </div>               
            <div class="col-sm-11" style="text-align:left;">
                {{ m.completion_at }}
            </div>
        </div>
        <br>
    {%endif%}
    {% endfor %}
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-10 mx-auto">
            <div class="my-div-style">
                <form method="POST" enctype='multipart/form-data' style="text-align: center;">
                    {% csrf_token %}
                    <table class="table">
                        {{ form.as_table }}
                    </table>
                    {% if link2 %}
                        <input type="hidden" name="od1_1" value="todos">
                    {% endif %}
                    <input type="hidden" name="trade_pk" value="{{trade.pk}}">
                    <i class="fa fa-send"><button class="btn btn-primary" name="next"value="create" type="submit">&#xf1d8;送信</button></i>
                </form>
            </div>
        </div>
    </div>    
</div>
</section>


<br>
<br>
{% endblock %}