{% extends 'base.html' %}
{% load static %}

{% block title %}交換申請確認{% endblock %}

{% block contents %}
<link rel="stylesheet" href="{% static 'All_style.css' %}" />
<section class="main_cont effect d_02">
    <div class="container">
        <h2 class="midasi" style="text-align:center">交換申請確認</h2>
        <div class="row">
            <div class="col-sm-10">
                <div style="float: left;">
                    <form method="POST" enctype='multipart/form-data' action="{% url 'barter_app:offer_detail' %}">
                        {% csrf_token %}   
                        <input type="hidden" name="offer_pk" value="{{offer.id}}">
                        <button class="btn btn-primary" type="submit">戻る</button>
                    </form>
                </div>
            </div>
        </div>
        <h3 style="text-align:center">あなたの商品</h3>
        <div class="row">
            <div class="col-sm-10 mx-auto">
                <div class="widleft">
                    <table class="table">
                        <tr>
                            <th>商品名</th>
                            <td>{{goods.name}}</td>
                        </tr>
                        <tr>
                            <th>商品説明</th>
                            <td>{{goods.content | linebreaks}}</td>
                        </tr>
                        <tr>
                            <th>カテゴリー</th>
                            <td>{{goods.category}}</td>
                        </tr>
                        <tr>
                            <th>出品地域</th>
                            <td>{{goods.user.prefecture}}</td>
                        </tr>
                        <tr>
                            <th>商品状態</th>
                            <td>{{goods.status}}</td>
                        </tr>
                    </table>
                </div>
                <div class="widright">
                    <div class="row">
                        <div class="col-8 col-sm-12 mx-auto">
                            {% if goods.photo1 %}
                                <img id="photo_img" src="{{ goods.photo1.url }}" onClick="henkou()" style="width: 300px; height: 300px;"/>
                            {% else %}
                                <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3 style="text-align:center">相手の商品</h3>
        <div class="row">
            <div class="col-sm-10 mx-auto">
                <div class="widleft">
                    <table class="table">
                        <tr>
                            <th>商品名</th>
                            <td>{{offer.name}}</td>
                        </tr>
                        <tr>
                            <th>商品説明</th>
                            <td>{{offer.content | linebreaks}}</td>
                        </tr>
                        <tr>
                            <th>カテゴリー</th>
                            <td>{{offer.category}}</td>
                        </tr>
                        <tr>
                            <th>出品地域</th>
                            <td>{{offer.user.prefecture}}</td>
                        </tr>
                        <tr>
                            <th>商品状態</th>
                            <td>{{offer.status}}</td>
                        </tr>
                    </table>
                </div>
                <div class="widright">
                    <div class="row">
                        <div class="col-8 col-sm-12 mx-auto">
                            {% if offer.photo1 %}
                                <img id="photo_img3" src="{{ offer.photo1.url }}" onClick="henkou3()" style="width: 300px; height: 300px;"/>
                            {% else %}
                                <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 300px; height: 300px;"/>        
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% if confirm == "trade" %} 
            {%if have_ticket == 'none'%}
                <h3 style="text-align: center;">チケットが足りません。<span class="ofg_span">購入してください</span></h3>
                <form method="POST" name="traform" enctype='multipart/form-data' action="{% url 'barter_app:ticket' %}">
                    {% csrf_token %}
                    <input type="hidden" name="offer_id" value="{{offer.id}}">
                    <input type="hidden" name="goods_id" value="{{goods.id}}">
                    <input type="hidden" name="page" value="tra_se">
                    <div class="tick_btn_cs trade">
                        <a href="javascript:traform.submit()">チケット購入</a>
                    </div>
                </form>
            {%else%}
                <form method="POST" enctype='multipart/form-data' style="text-align:center">
                    {% csrf_token %}
                    <input type="hidden" name="offer_pk" value="{{offer.id}}" id="id_name">
                    <input type="hidden" name="goods_pk" value="{{goods.id}}">
                    <div style="text-align: center;">
                        <h3>この内容で交換しますか？</h3>
                        <button class="btn btn-primary" name="next" value="trade" type="submit" style="padding: 15px 20px;">確定</button>
                    </div>
                </form>
            {%endif%}
        {% elif confirm == "refuse" %}
            <form method="POST" enctype='multipart/form-data' style="text-align:center">
                {% csrf_token %}
                <input type="hidden" name="offer_pk" value="{{offer.id}}" id="id_name">
                <input type="hidden" name="goods_pk" value="{{goods.id}}">
                <div style="text-align: center;">
                    <h3>この交換申請を断りますか？</h3>
                    <button class="btn btn-primary" name="next" value="refuse" type="submit" style="padding: 15px 20px;background-color: red;">確定</button>
                </div>
            </form>
        {% endif%}
    </div>
</section>
<br>
<br>
{% endblock %}