{% extends 'base.html' %}
{% load static %}

{% block title %}成立取引一覧{% endblock %}
{% block head %}
<link  rel="stylesheet" href="{% static 'ALL_style.css' %}">
<style>
    .content {
        padding-top: 0px;
    }
    @media screen and (max-width:769px) {
        .top_hd {
            width: 100%;
            margin-top: 0px;
        }
        main.main {
            overflow: hidden;
        }
        
    }
</style>
<script>

    var category2_1 = ['詳細なカテゴリーを選択', 'すべて', 'おもちゃ',
                       'タレントグッズ', 'コミック/アニメグッズ',
                       'フィギュア',];
    var category2_2 = ['詳細なカテゴリーを選択', 'すべて', '邦楽', '洋楽',
                       'アニメ', 'クラシック','K-POP/アジア',
                       'キッズ/ファミリー', 'その他',];
    var category2_3 = ['詳細なカテゴリーを選択','すべて', '外国映画',
                       '日本映画', 'アニメ', 'TVドラマ','ミュージック',
                       'お笑い/バラエティ', 'スポーツ/フィットネス',
                       'キッズ/ファミリー', 'その他',];

    var category1 = document.getElementById("category1");
    var Element = document.getElementById('category2');

    var category_list = [];
    if (category1 == 'おもちゃ・グッズ') {
        category_list = category2_1;
    } else if (category1 == 'CD') {
        category_list = category2_2;
    } else {
        category_list = category2_3;
    }
    for (var cnt=0; cnt<category_list.length; cnt++) {
            var option = document.createElement("option");
            option.value = cnt;
            option.innerText = cnt;
            Element.appendChild(option);
        }
    
    document.getElementById('category2').innerHTML = category_list.join('');
</script>
{% endblock %}

{% block contents %}
<div class="container effect" style="margin-top:90px; text-align: center;">
    <div class="row" >
        <div class="content">
            <h2 class="midasi" style="text-align: center;">成立済み取引一覧</h2>
        </div>
    </div>
    
    <form method="GET" action="{% url 'barter_app:trade_search' %}" >
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-3">
                カテゴリー
                <select class="form-control" name="category1" id="category1">
                    <option desabled selected>カテゴリーを選択</option>
                    <option value="おもちゃ・グッズ">おもちゃ・グッズ</option>
                    <option value="CD">CD</option>
                    <option value="DVD">DVD</option>
                </select>
            </div>
            <div class="col-sm-4">
                詳細カテゴリー
                <select class="form-control" name="category2" id="category2" disabled>
                    <option value="" selected="selected">------------</option>
                    <option value="すべて" data-val="おもちゃ・グッズ">すべて</option>
                    <option value="おもちゃ" data-val="おもちゃ・グッズ">おもちゃ</option>
                    <option value="タレントグッズ" data-val="おもちゃ・グッズ">タレントグッズ</option>
                    <option value="コミック/アニメグッズ" data-val="おもちゃ・グッズ">コミック/アニメグッズ</option>
                    <option value="フィギュア" data-val="おもちゃ・グッズ">フィギュア</option>
                    
                    <option value="すべて" data-val="CD">すべて</option>
                    <option value="洋楽" data-val="CD">洋楽</option>
                    <option value="アニメ" data-val="CD">アニメ</option>
                    <option value="クラシック" data-val="CD">クラシック</option>
                    <option value="K-POP/アジア" data-val="CD">K-POP/アジア</option>
                    <option value="キッズ/ファミリー" data-val="CD">キッズ/ファミリー</option>
                    <option value="その他" data-val="CD">その他</option>
                    
                    <option value="すべて" data-val="DVD">すべて</option>
                    <option value="外国映画" data-val="DVD">外国映画</option>
                    <option value="日本映画" data-val="DVD">日本映画</option>
                    <option value="アニメ" data-val="DVD">アニメ</option>
                    <option value="TVドラマ" data-val="DVD">TVドラマ</option>
                    <option value="ミュージック" data-val="DVD">ミュージック</option>
                    <option value="お笑い/バラエティ" data-val="DVD">お笑い/バラエティ</option>
                    <option value="スポーツ/フィットネス" data-val="DVD">スポーツ/フィットネス</option>
                    <option value="キッズ/ファミリー" data-val="DVD">キッズ/ファミリー</option>
                    <option value="その他" data-val="DVD">その他</option>
                </select>
            </div>
            <div class="col-sm-4">
                キーワード
                <input class="form-control" type="text" name="word" value="" />
            </div>
            <div class="col-sm-8  mx-auto" style="text-align:center">
                <div class="form_btn">
                    <input class="btn btn-primary" type="submit" value="検索する" />
                </div>
            </div>
        </div>
    </form>
    {% if words %}
    <h2 class="my-div-style" style="text-align:center">{{words}} の取引事例</h2>
    {% endif %}
    <br>
    <div class="row">

        {% for trade in trade_list %}
            <a href="{% url 'barter_app:transaction_detail' trade.pk %}">
                <div class="col-sm">
                    {% if trade.goods.photo1 %}
                        <img src="{{ trade.goods.photo1.url }}" style="width: 120px; height: 150px;"/>
                    {% else %}
                        <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 120px; height: 150px;"/>
                    {% endif %}
                    {% if trade.offer.photo1 %}
                        <img src="{{ trade.offer.photo1.url }}" style="width: 120px; height: 150px;"/>
                    {% else %}
                        <img src="{% static 'img/noimage2.png' %}" alt="noimage" style="width: 120px; height: 150px;"/>
                    {% endif %}
                    <br>
                    <div style="font-size: 16px; color: black;">「{{ trade.goods.name | truncatechars:15 }}」<br>「{{ trade.offer.name | truncatechars:15  }}」</div>
                </div>
            </a>
        {% empty %}
            <p>商品がありません。</p>
        {% endfor %}

    </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'myjs.js' %}"></script>
{% endblock %}