{% extends 'base.html' %}
{% load static %}

{% block title %}成立済取引{% endblock %}

{% block head %}
<style>
    .photo4 {
        margin-left: 290px;
    }
    @media (max-width: 1200px) { /*1200px以下の時*/
        .photo4{
            margin-left: 240px;
        }
    }
</style>
<script>
    var img_src = new Array({% if trade.goods.photo1 %}"{{ trade.goods.photo1.url }}"{%endif%}{% if trade.goods.photo2 %},"{{ trade.goods.photo2.url }}"{%endif%}{% if trade.goods.photo3 %},"{{ trade.goods.photo3.url }}"{%endif%}{% if trade.goods.photo4 %},"{{ trade.goods.photo4.url }}"{%endif%}{% if trade.goods.photo5 %},"{{ trade.goods.photo5.url }}"{%endif%});
    var i = 0;
    var img_src2 = new Array({% if trade.offer.photo1 %}"{{ trade.offer.photo1.url }}"{%endif%}{% if trade.offer.photo2 %},"{{ trade.offer.photo2.url }}"{%endif%}{% if trade.offer.photo3 %},"{{ trade.offer.photo3.url }}"{%endif%}{% if trade.offer.photo4 %},"{{ trade.offer.photo4.url }}"{%endif%}{% if trade.offer.photo5 %},"{{ trade.offer.photo5.url }}"{%endif%});
    var i2 = 0;

    function henkou() {
      if (i == img_src.length-1) {
        i = 0;
      } else {
        i ++;
      }
      document.getElementById("photo_img").src = img_src[i];
    }
    function img_change(num){
        i = num
        document.getElementById("photo_img").src = img_src[i];
    }

    function henkou2() {
        if (i2 == img_src2.length-1) {
          i2 = 0;
        } else {
          i2 ++;
        }
        document.getElementById("photo_img2").src = img_src2[i];
      }
      function img_change2(num){
          i2 = num
          document.getElementById("photo_img2").src = img_src2[i];
      }
  </script>
{% endblock %}

{% block contents %}
<link  rel="stylesheet" href="{% static 'seller_style.css' %}">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="midasi" style="text-align:center">成立済み取引詳細</h2>
        </div>
        <div style="float: left;">
            <a class="btn btn-info" href="javascript:history.back()" style="background-color: #0066FF; margin-left: 15px;">戻る</a>
        </div>
    </div>
    <h3 class="" style="text-align:center">この取引は{{trade.completion_at}}に成立しました</h3>
    <hr>
    <div class="row">
        <div class="col-sm-  mx-auto">
            
            <h4 style="text-align:center">出品商品</h4><br>
                <h3 style="text-align:center">{{ trade.goods.name }}</h3>
        </div>
    </div>
    <hr>        
    <div class="row">
        <div class="col-8 mx-auto">
            {% if trade.goods.photo1 %}
                <img id="photo_img" src="{{ trade.goods.photo1.url }}" onClick="henkou()" style="height: 500px;"/>
            {% endif %}
        </div>
    </div>
    <hr>
    {% if trade.goods.photo2 %}
        <div class="row">
            <div class="col-sm- mx-auto">
                {% if trade.goods.photo1 %}
                    <img src="{{ trade.goods.photo1.url }}" onClick="img_change(0)" style="width: 100px; height: 100px;"/>
                {% endif %}
                {% if trade.goods.photo2 %}
                    <img src="{{ trade.goods.photo2.url }}" onClick="img_change(1)" style="width: 100px; height: 100px;"/>
                {% endif %}
                {% if trade.goods.photo3 %}
                    <img src="{{ trade.goods.photo3.url }}" onClick="img_change(2)" style="width: 100px; height: 100px;"/>
                {% endif %}
                {% if trade.goods.photo4 %}
                    <img src="{{ trade.goods.photo4.url }}" onClick="img_change(3)" style="width: 100px; height: 100px;"/>
                {% endif %}
                {% if trade.goods.photo5 %}
                    <img src="{{ trade.goods.photo5.url }}" onClick="img_change(4)" style="width: 100px; height: 100px;"/>
                {% endif %}
            </div>
        </div>
    {% endif %}
    
    <div class="row">
        <div class="col-3">
            <strong>出品地域</strong>
        </div>
        <div class="col-9">
            {{ trade.goods.user.prefecture|linebreaksbr }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            <strong>カテゴリー</strong>
        </div>
        <div class="col-9">
            {{ trade.goods.category|linebreaksbr }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            <strong>商品説明</strong>
        </div>
        <div class="col-9">
            {{ trade.goods.content|linebreaksbr }}
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-3">
            <strong>希望商品</strong>
        </div>
        <div class="col-9">
            {{ trade.goods.user.comment|linebreaksbr }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            <strong>作成日時</strong>
        </div>
        <div class="col-9">
            {{ trade.goods.created_at }}
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-sm-  mx-auto">
            <h4 style="text-align:center">申し込み商品</h4><br>
                <h3 style="text-align:center">{{ trade.offer.name }}</h3>
        </div>
    </div>
    <hr>        
    <div class="row">
        <div class="col-8 mx-auto">
            {% if trade.offer.photo1 %}
                <img id="photo_img2" src="{{ trade.offer.photo1.url }}" onClick="henkou2()" style="height: 500px;"/>
            {% endif %}
        </div>
    </div>
    <hr>
    {% if trade.offer.photo2 %}
        <div class="row">
            <div class="col-sm- mx-auto">
                {% if trade.offer.photo1 %}
                    <img src="{{ trade.offer.photo1.url }}" onClick="img_change2(0)" style="width: 100px; height: 100px;"/>
                {% endif %}
                {% if trade.offer.photo2 %}
                    <img src="{{ trade.offer.photo2.url }}" onClick="img_change2(1)" style="width: 100px; height: 100px;"/>
                {% endif %}
                {% if trade.offer.photo3 %}
                    <img src="{{ trade.offer.photo3.url }}" onClick="img_change2(2)" style="width: 100px; height: 100px;"/>
                {% endif %}
                {% if trade.offer.photo4 %}
                    <img src="{{ trade.offer.photo4.url }}" onClick="img_change2(3)" style="width: 100px; height: 100px;"/>
                {% endif %}
                {% if trade.offer.photo5 %}
                    <img src="{{ trade.offer.photo5.url }}" onClick="img_change2(4)" style="width: 100px; height: 100px;"/>
                {% endif %}
            </div>
        </div>
    {% endif %}
    
    <div class="row">
        <div class="col-3">
            <strong>出品地域</strong>
        </div>
        <div class="col-9">
            {{ trade.offer.user.prefecture|linebreaksbr }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            <strong>カテゴリー</strong>
        </div>
        <div class="col-9">
            {{ trade.offer.category|linebreaksbr }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            <strong>商品説明</strong>
        </div>
        <div class="col-9">
            {{ trade.offer.content|linebreaksbr }}
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-3">
            <strong>希望商品</strong>
        </div>
        <div class="col-9">
            {{ trade.offer.user.comment|linebreaksbr }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            <strong>作成日時</strong>
        </div>
        <div class="col-9">
            {{ trade.offer.created_at }}
        </div>
    </div>
</div>
{% endblock %}