{% extends 'base.html' %}
{% load static %}

{% block title %}ユーザー一覧{% endblock %}

{% block contents %}
<section class="main_cont effect d_02">
<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="my-div-style" style="text-align:center">ユーザー一覧</h2>
        </div>
    </div>
    <div class="row">
        <div class="my-div-style w-100">
            {% for user in user_list %}
            <div class="row">        

                <div class="col-sm-3 mx-auto">
                    {% if user.usericon %}
                    <img src="{{ user.usericon.url }}" class="icon-img">
                    {% else %}
                    <img src="{% static 'img/user-icon.png' %}" class="icon-img">
                    {% endif %}
                {{user.username}}
                </div>
                <form method="POST" action="{% url 'barter_app:seller_information' %}">
                    {% csrf_token %}
                    <input type=hidden name="g_user" value="{{user.pk}}">
                    <button class="btn btn-primary" type="submit">
                        詳細を見る
                    </button>
                </form>
                <div class="col-sm-3 mx-auto">
                    <form method="POST" action="{% url 'barter_app:chat_message' %}#message_form" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <input type=hidden name="g_user" value="{{user.pk}}">
                        <button class="btn btn-primary" name="" value="" type="submit">メッセージを送る</button>
                    </form>
                </div>
            </div>
            <hr>
            {% empty %}
                <p>お知らせはありません。</p>
            {% endfor %}
        </div>
    </div>
</div>
</section>


<br>
<br>
{% endblock %}